hubSide/force-app/main/default/flows/Affectation_colis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_OwnerId</name>
        <label>Update OwnerId</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Statut_Affecte</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>Saisie_numeros_colis</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <elementReference>NomExpert.recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Statut</name>
        <label>Update Statut</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TYScr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>Saisie_numeros_colis</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Statut__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <elementReference>statutColis</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_Type</name>
        <label>Update Type</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Statut_Emis</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>Saisie_numeros_colis</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Type__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <stringValue>Réparation SFAMRecycle</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Statut_Emis</name>
        <label>Assign Statut Emis</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>statutColis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transféré/Emis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Statut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Statut_Affecte</name>
        <label>Update Statut Affecté</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>statutColis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affecté</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Statut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_statut_Colis_retourne</name>
        <label>Update statut Colis retourné</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>statutColis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Colis Retourné</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Statut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_statut_Transfere_Recu</name>
        <label>Update statut Transféré/Reçu</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>statutColis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transféré/Reçu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Statut</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AretournerReception</name>
        <choiceText>A retourner Réception</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A retourner Réception</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChangerStatut</name>
        <choiceText>Changer le statut à Transféré/Reçu</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Changer le statut</stringValue>
        </value>
    </choices>
    <choices>
        <name>ModifierProprietaire</name>
        <choiceText>Modifier le propriétaire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Modifier le propriétaire</stringValue>
        </value>
    </choices>
    <decisions>
        <name>A_transferer_reparation</name>
        <label>A transférer réparation ?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_statut_Transfere_Recu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Simple change status</defaultConnectorLabel>
        <rules>
            <name>Yup_transfert_reparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfert_reparation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifier le propriétaire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Type</targetReference>
            </connector>
            <label>Yup, transfert reparation</label>
        </rules>
        <rules>
            <name>Nope_assign_to_expert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modifier le propriétaire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OwnerId</targetReference>
            </connector>
            <label>Nope, assign to expert</label>
        </rules>
        <rules>
            <name>DEC_RetournerReception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AretournerReception</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_statut_Colis_retourne</targetReference>
            </connector>
            <label>A retourner Réception</label>
        </rules>
    </decisions>
    <description>Permet d&apos;affecter en masse des colis aux experts</description>
    <interviewLabel>Affectation colis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affectation colis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Saisie_information</name>
        <label>Saisie information</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>A_transferer_reparation</targetReference>
        </connector>
        <fields>
            <name>Saisie_numeros_colis</name>
            <fieldText>Saisie numéros colis</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UserDecision</name>
            <choiceReferences>ChangerStatut</choiceReferences>
            <choiceReferences>ModifierProprietaire</choiceReferences>
            <choiceReferences>AretournerReception</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Que voulez-vous faire ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomExpert</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nom expert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Colis__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfert_reparation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserDecision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifier le propriétaire</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transfert_reparation</name>
            <dataType>Boolean</dataType>
            <fieldText>Transfert réparation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserDecision</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Modifier le propriétaire</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TYScr</name>
        <label>TY</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TYMsg</name>
            <fieldText>&lt;p&gt;Vos {!Update_Statut.barcodeCount} colis ont été affectés !&lt;/p&gt;&lt;p&gt;Naviguer vers le &lt;a href=&quot;/apex/Sinistre_BordereauColisStatus?newStatus={!statutColis}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;bordereau de réception&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Errorr_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 13, 13);&quot;&gt;Les colis suivants n&apos;ont pas pu être mis a jour : {!Update_Statut.barcodeError}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>error_barcode</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Saisie_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error_barcode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Update_Statut.barcodeErrorCount</elementReference>
        </value>
    </variables>
    <variables>
        <name>statutColis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
