hubSide/force-app/main/default/flows/Affectation_equipement_sinistre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_ownerId</name>
        <label>Update ownerId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_statut</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>Saisie_numeros_sinistre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>numero_sinistre__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Equipement_Sinistre__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <elementReference>NomExpert.recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_statut</name>
        <label>Update statut</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DamagedEquipmentLoop</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>Saisie_numeros_sinistre</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>numero_sinistre__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Statut_equipement__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Equipement_Sinistre__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <stringValue>En Cours de Réparation</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DamagedEquipmentList</assignToReference>
            <name>barcodeList</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>CheckDamagedEquipmentUnderStatus_0</name>
        <label>Check damaged equipment under status</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>DamagedEquipmentLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToDispatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDamageEquipment.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDamageEquipment.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A dispatcher</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Damaged_Equipment</targetReference>
            </connector>
            <label>To Dispatch</label>
        </rules>
    </decisions>
    <formulas>
        <name>TwoMinsAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (2/1440)</expression>
    </formulas>
    <interviewLabel>Affectation Equipement Sinistré {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affectation equipement sinistré</label>
    <loops>
        <name>DamagedEquipmentLoop</name>
        <label>Damaged Equipment Loop</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>DamagedEquipmentList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetDamageEquipment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDamageEquipment</name>
        <label>Get Damage Equipment</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDamagedEquipmentUnderStatus_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DamagedEquipmentLoop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Damaged_Equipment</name>
        <label>update Damaged Equipment</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>DamagedEquipmentLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDamageEquipment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>En cours d&apos;expertise</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <screens>
        <name>Saisie_information</name>
        <label>Saisie information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_ownerId</targetReference>
        </connector>
        <fields>
            <name>Saisie_numeros_sinistre</name>
            <fieldText>Saisie numéros sinistre</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NomExpert</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nom expert</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Equipement_sinistre__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Saisie_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DamagedEquipmentList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipSinToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
</Flow>
