hubSide/force-app/main/default/flows/Affectation_document.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_CurrentPJ_to_PJToUpdateList</name>
        <label>Add CurrentPJ to PJToUpdateList</label>
        <locationX>971</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>PJToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_PJ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_PJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AssetId</name>
        <label>ASS_AssetId</label>
        <locationX>478</locationX>
        <locationY>1348</locationY>
        <assignmentItems>
            <assignToReference>AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DEM_RelatedAssetChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Origine_Doc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SinistreId prend la valeur de l&apos;ID de la Demande créée afin de pouvoir dérouler la suite du flow car elle se base sur SinistreId</description>
        <name>ASS_DemandeIDtoSinistreID</name>
        <label>ASS_DemandeID à SinistreID</label>
        <locationX>771</locationX>
        <locationY>1666</locationY>
        <assignmentItems>
            <assignToReference>SinistreId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DemandeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Typo_Owner_Subj</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>1191</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClientLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AcountId</name>
        <label>Assign AcountId</label>
        <locationX>1904</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_fetched_accounts_again.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_Account_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AssetId</name>
        <label>Assign AssetId</label>
        <locationX>1191</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_accounts</name>
        <label>Count accounts</label>
        <locationX>1871</locationX>
        <locationY>795</locationY>
        <assignmentItems>
            <assignToReference>accountCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_fetched_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_fetched_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEM_Origin_Email</name>
        <label>Origine Demande Email</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Queue_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEM_Origin_Logistic</name>
        <label>Origine Demande Logistique</label>
        <locationX>378</locationX>
        <locationY>1568</locationY>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Logistique</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Queue_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEM_Origin_Mail</name>
        <label>Origine Demande Courrier</label>
        <locationX>160</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Queue_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DEM_Origin_Web</name>
        <label>Origine Demande Web</label>
        <locationX>274</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>CaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Queue_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Account_List</name>
        <label>Empty Account List</label>
        <locationX>1582</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyAccountList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_fetched_accounts_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_PJList</name>
        <label>Empty PJList</label>
        <locationX>1183</locationX>
        <locationY>2151</locationY>
        <assignmentItems>
            <assignToReference>PJToUpdateList</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_CDLink</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_currentPJ</name>
        <label>Update currentPJ</label>
        <locationX>971</locationX>
        <locationY>2421</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_the_PJ.Document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Document</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_over_the_PJ.Validite_document__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentPJ_to_PJToUpdateList</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aucun</name>
        <choiceText>Aucun</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aucun</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non</name>
        <choiceText>Non</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oui</name>
        <choiceText>Oui</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oui</stringValue>
        </value>
    </choices>
    <choices>
        <name>QueueName_DispatchADM</name>
        <choiceText>Dispatch ADM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatch_ADM</stringValue>
        </value>
    </choices>
    <choices>
        <name>QueueName_DispatchTC</name>
        <choiceText>Dispatch Téléconseiller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dispatch_teleconseiller</stringValue>
        </value>
    </choices>
    <choices>
        <name>QueueName_GestionnaireQlt</name>
        <choiceText>Dispatch Réclamation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GestionnaireQualite</stringValue>
        </value>
    </choices>
    <constants>
        <name>TEXT_DescriptionNouvelleDemande</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Veuillez traiter le(s) document(s) de nouvelle demande envoyés par le client en vous rendant sur la liste associée. Le rattachement à une pièce justificative n&apos;est pas nécessaire.</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEXT_DescriptionSuiviDossier</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Veuillez traiter la demande de suivi de dossier en vous rendant sur la liste associée &quot;Document&quot;. Le rattachement à une pièce justificative n&apos;est pas nécessaire. </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_number_valide</name>
        <label>Case number valide ?</label>
        <locationX>1070</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_sinistre_cette_adresse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SinistreId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Numero_de_contrat_disponible</targetReference>
            </connector>
            <label>Pas de sinistre à cette adresse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Client_disponible</name>
        <label>Client disponible ?</label>
        <locationX>1386</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>NoInfoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presence_informations_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientLookup.recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>Présence informations client</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la documentation concerne le suivi de dossier ou une nouvelle Demande, créer une tâche pour le propriétaire du sinistre concerné/file d&apos;attente</description>
        <name>DEC_Creer_tache</name>
        <label>DEC_Créer tâche</label>
        <locationX>1445</locationX>
        <locationY>1809</locationY>
        <defaultConnector>
            <targetReference>Update_sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tache_suivi_dossier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pas_PJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Manque_pj</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pas_le_temps_de_codifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_Task_suivi_dossier</targetReference>
            </connector>
            <label>Tâche suivi dossier</label>
        </rules>
        <rules>
            <name>Tache_nouvelle_demande</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DemandeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_Task_nouvelledemande</targetReference>
            </connector>
            <label>Tâche nouvelle demande</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Origine_Doc</name>
        <label>DEC_Origine Doc</label>
        <locationX>217</locationX>
        <locationY>1358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origine_des_documents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEM_Origin_Email</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origine_des_documents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Courrier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEM_Origin_Mail</targetReference>
            </connector>
            <label>Courrier</label>
        </rules>
        <rules>
            <name>Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origine_des_documents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEM_Origin_Web</targetReference>
            </connector>
            <label>Web</label>
        </rules>
        <rules>
            <name>Logistic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Origine_des_documents</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistique</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEM_Origin_Logistic</targetReference>
            </connector>
            <label>Logistique</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si le document à rattacher ne concerne pas un dossier existant, créer un Case de type Demande et y rattacher le document</description>
        <name>DEC_Pas_de_sinistre</name>
        <label>DEC_Pas de sinistre</label>
        <locationX>892</locationX>
        <locationY>1350</locationY>
        <defaultConnector>
            <targetReference>Get_Typo_Owner_Subj</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_sinistre_existant_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_sans_sinistre_existant</targetReference>
            </connector>
            <label>Pas de sinistre existant</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si le document à rattacher ne concerne pas un dossier existant, créer un Case de type Demande et y rattacher le document</description>
        <name>DEC_Pas_de_sinistre_0</name>
        <label>DEC_Pas de sinistre</label>
        <locationX>679</locationX>
        <locationY>1812</locationY>
        <defaultConnector>
            <targetReference>Verification_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_sinistre_existant_outcome_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DemandeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rattachement_PJ</targetReference>
            </connector>
            <label>Pas de sinistre existant</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Verif_Choix_SinRec</name>
        <label>DEC_Verif Choix SinRec</label>
        <locationX>998</locationX>
        <locationY>1230</locationY>
        <defaultConnector>
            <targetReference>Verification_Choix_Sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>OKchoixSinRec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sinistre_selectionne</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Aucun</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Pas_de_sinistre</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Documents_affect_s_already</name>
        <label>Documents affectés already ?</label>
        <locationX>958</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Is_AccountId_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_c_est_un_stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseClosedScr</targetReference>
            </connector>
            <label>Yup, c&apos;est un stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_valide</name>
        <label>Email valide ?</label>
        <locationX>1692</locationX>
        <locationY>952</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_fetched_accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_client_cette_adresse_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_related_account</targetReference>
            </connector>
            <label>Pas de client à cette adresse mail</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AccountId_Empty</name>
        <label>Is AccountId Empty ?</label>
        <locationX>1161</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Empty</targetReference>
            </connector>
            <label>AccountId vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Empty</name>
        <label>Is Email Empty ?</label>
        <locationX>1389</locationX>
        <locationY>965</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_related_account</targetReference>
            </connector>
            <label>Email vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_account_the_ONE</name>
        <label>Is the current account the ONE ?</label>
        <locationX>1804</locationX>
        <locationY>1333</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_fetched_accounts_again</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Compte_selectionne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choisir_ce_compte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Oui</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AcountId</targetReference>
            </connector>
            <label>Compte séléctionné ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_colis</name>
        <label>Is there a colis ?</label>
        <locationX>2503</locationX>
        <locationY>1807</locationY>
        <defaultConnector>
            <targetReference>Affectation_colis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colis_manquant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colisId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloture_Screen</targetReference>
            </connector>
            <label>Colis manquant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_already_a_sinistre_selected</name>
        <label>Is there already a sinistre selected ?</label>
        <locationX>1165</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>CaseChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sinistre_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SinistreId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEmailMessage</targetReference>
            </connector>
            <label>Sinistre selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_more_than_one_account</name>
        <label>Is there more than one account ?</label>
        <locationX>1574</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_one_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_fetched_accounts_again</targetReference>
            </connector>
            <label>More than one account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manque_t_il_une_pi_ce_justificative</name>
        <label>Manque-t-il une pièce justificative ?</label>
        <locationX>511</locationX>
        <locationY>1980</locationY>
        <defaultConnector>
            <targetReference>Rattachement_PJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_il_manque_une_PJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manque_pj</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nouvelle_PJ</targetReference>
            </connector>
            <label>Oui, il manque une PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_de_contrat_disponible</name>
        <label>Numéro de contrat disponible ?</label>
        <locationX>1387</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>Client_disponible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presence_numero_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetLookup.recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>02i</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AssetId</targetReference>
            </connector>
            <label>Présence numéro contrat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_de_sinistre_disponible</name>
        <label>Numéro de sinistre disponible ?</label>
        <locationX>1388</locationX>
        <locationY>691</locationY>
        <defaultConnector>
            <targetReference>Numero_de_contrat_disponible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Presence_numero_sinistre</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Numero_sinistre</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_sinistre</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>REC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Sinistre</targetReference>
            </connector>
            <label>Présence du numéro de sinistre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pas_le_temps_de_codifier_decision</name>
        <label>Pas le temps de codifier ?</label>
        <locationX>998</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_CDLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_le_temps_de_codifier_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pas_le_temps_de_codifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_attente_document</targetReference>
            </connector>
            <label>Pas le temps de codifier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rattachement_PJ</name>
        <label>Rattachement PJ ?</label>
        <locationX>678</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Get_PJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_rattachement_PJ_outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pas_le_temps_de_codifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pas_PJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_le_temps_de_codifier_decision</targetReference>
            </connector>
            <label>Pas de rattachement PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Typologie_sinistre_compatible</name>
        <label>Typologie sinistre compatible ?</label>
        <locationX>2009</locationX>
        <locationY>1809</locationY>
        <defaultConnector>
            <targetReference>Y_a_t_il_un_colis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Vol_Perte_Demande</name>
            <conditionLogic>((1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7) AND (8 OR 9)) OR 10</conditionLogic>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robbed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClaimCreation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ClaimFollowUp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AccidentCreation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pas_PJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pas_de_sinistre_existant_ckbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SinRecSubject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>REC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloture_screen_Vol</targetReference>
            </connector>
            <label>Vol/Perte/Demande</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_this_PJ_selected</name>
        <label>Was this PJ selected ?</label>
        <locationX>811</locationX>
        <locationY>2426</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_PJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PJ_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Piece_justificative_a_lier</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_the_PJ.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_currentPJ</targetReference>
            </connector>
            <label>PJ selected</label>
        </rules>
    </decisions>
    <description>19/07/2021 SFAMI 2035 TSC : Contrat obligatoire pour nouvelle Demande</description>
    <dynamicChoiceSets>
        <name>CaseTypologiePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Typologie_Sinistre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DEM_ClientRelatedAssetRecords</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>origineDocument</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origine_document__c</picklistField>
        <picklistObject>Document__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PieceJustificativeList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>notNeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </filters>
        <object>Piece_justificative_Sinistre__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SinistreList</name>
        <dataType>String</dataType>
        <displayField>Numero_sinistre__c</displayField>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>tech_numsin__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>REC</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>SinistreId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Numero_sinistre__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Affectation document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affectation document</label>
    <loops>
        <name>Loop_over_the_CDLink</name>
        <label>Loop over the CDLink</label>
        <locationX>1175</locationX>
        <locationY>1807</locationY>
        <collectionReference>Get_CDLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ContentDocument</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_Task_RT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_fetched_accounts</name>
        <label>Loop over the fetched accounts</label>
        <locationX>1872</locationX>
        <locationY>954</locationY>
        <collectionReference>AccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_more_than_one_account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_fetched_accounts_again</name>
        <label>Loop over the fetched accounts - again</label>
        <locationX>1582</locationX>
        <locationY>1324</locationY>
        <collectionReference>AccountList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_account_the_one</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_the_PJ</name>
        <label>Loop over the PJ</label>
        <locationX>814</locationX>
        <locationY>2255</locationY>
        <collectionReference>Get_PJ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_this_PJ_selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PJ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Créer un Case de type Demande auquel le document sera rattaché</description>
        <name>CRE_Demande</name>
        <label>CRE_Demande</label>
        <locationX>655</locationX>
        <locationY>1666</locationY>
        <assignRecordIdToReference>DemandeID</assignRecordIdToReference>
        <connector>
            <targetReference>ASS_DemandeIDtoSinistreID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPhone__c</field>
            <value>
                <elementReference>Get_Account_Info.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DEM_Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Contact__c</field>
            <value>
                <elementReference>Get_Account_Info.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GET_Queue_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeID_CaseDemande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typologie_Sinistre__c</field>
            <value>
                <elementReference>Typologie_Demande.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CRE_Task_nouvelledemande</name>
        <label>CRE_Task nouvelle demande</label>
        <locationX>1456</locationX>
        <locationY>1990</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TEXT_DescriptionNouvelleDemande</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SinistreOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeID_SinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Nouvelle demande</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_Task_suivi_dossier</name>
        <label>CRE_Task suivi dossier</label>
        <locationX>1450</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TEXT_DescriptionSuiviDossier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>SinistreOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeID_SinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Suivi de dossier</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CDLink</name>
        <label>Create CDLink</label>
        <locationX>803</locationX>
        <locationY>1810</locationY>
        <connector>
            <targetReference>DEC_Pas_de_sinistre_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Get_ContentDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_Document</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>InternalUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Document</name>
        <label>Create Document</label>
        <locationX>914</locationX>
        <locationY>1810</locationY>
        <connector>
            <targetReference>Create_CDLink</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_de_reception__c</field>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>VAR_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Object__c</field>
            <value>
                <elementReference>Var_CaseEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expediteur__c</field>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_ContentDocument.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origine_document__c</field>
            <value>
                <elementReference>origineDocument</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedDMS__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_sinistre__c</field>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>attached</stringValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>1174</locationX>
        <locationY>1132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>851</locationX>
        <locationY>970</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documents_affect_s_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_CaseDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_CaseEmailSubject</assignToReference>
            <field>Email_Subject__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isClosed</assignToReference>
            <field>IsClosed</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountEmail</assignToReference>
            <field>SuppliedEmail</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get record type Case de type Demande</description>
        <name>GET_CaseDemandeRT</name>
        <label>GET_Case Demande RT</label>
        <locationX>535</locationX>
        <locationY>1664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRE_Demande</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeID_CaseDemande</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_CDLink</name>
        <label>Get CDLink</label>
        <locationX>1175</locationX>
        <locationY>1686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_CDLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEmailMessage.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_colis</name>
        <label>Get colis</label>
        <locationX>2403</locationX>
        <locationY>1805</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Numero_colis</elementReference>
            </value>
        </filters>
        <object>Colis__c</object>
        <outputAssignments>
            <assignToReference>colisId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocument</name>
        <label>Get ContentDocument</label>
        <locationX>1020</locationX>
        <locationY>1810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_CDLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin</name>
        <label>Get EquipSin</label>
        <locationX>2297</locationX>
        <locationY>1805</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputAssignments>
            <assignToReference>EquipementSinistreId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PJ</name>
        <label>Get PJ</label>
        <locationX>686</locationX>
        <locationY>2140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_du_document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NotNeeded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Piece_justificative_Sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Récupère l&apos;ID du record type correspondant à la fil d&apos;attente choisie</description>
        <name>GET_Queue_RT</name>
        <label>GET_Queue RT</label>
        <locationX>380</locationX>
        <locationY>1719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_CaseDemandeRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DEM_Assigner_Demande_a</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>1582</locationX>
        <locationY>957</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_valide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_connexion__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountEmail</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>1082</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Sinistre</name>
        <label>Get Related Sinistre</label>
        <locationX>1181</locationX>
        <locationY>690</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_number_valide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Numero_sinistre</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SinistreId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SinistreOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SinRecSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypologieSinistre</assignToReference>
            <field>Typologie_Sinistre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_Task_RT</name>
        <label>GET_Task RT</label>
        <locationX>1326</locationX>
        <locationY>1807</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Creer_tache</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeID_SinistreAction</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Typo_Owner_Subj</name>
        <label>Get Typo/Owner/Subj</label>
        <locationX>900</locationX>
        <locationY>1666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailMessage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>SinistreOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SinRecSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypologieSinistre</assignToReference>
            <field>Typologie_Sinistre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetEmailMessage</name>
        <label>GetEmailMessage</label>
        <locationX>1175</locationX>
        <locationY>1565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CDLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_attente_document</name>
        <label>update_attente_document</label>
        <locationX>1326</locationX>
        <locationY>1979</locationY>
        <connector>
            <targetReference>GET_Task_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_documents__c</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1754</locationX>
        <locationY>1807</locationY>
        <connector>
            <targetReference>Update_date_de_reception</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Document(s) affecté(s)</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_date_de_reception</name>
        <label>Update date de reception</label>
        <locationX>1874</locationX>
        <locationY>1807</locationY>
        <connector>
            <targetReference>Typologie_sinistre_compatible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_reception__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_reception__c</field>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_du_document</name>
        <label>Update du document</label>
        <locationX>686</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Loop_over_the_PJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Document</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>codified</stringValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PJ</name>
        <label>Update PJ</label>
        <locationX>916</locationX>
        <locationY>2151</locationY>
        <connector>
            <targetReference>Empty_PJList</targetReference>
        </connector>
        <inputReference>PJToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sinistre</name>
        <label>Update sinistre</label>
        <locationX>1616</locationX>
        <locationY>1807</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_action_GS__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>accInfo</name>
        <label>accInfo</label>
        <locationX>1172</locationX>
        <locationY>1251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_already_a_sinistre_selected</targetReference>
        </connector>
        <fields>
            <name>accountInfo</name>
            <fieldText>&lt;p&gt;Compte séléctionné :&lt;/p&gt;&lt;p&gt;{!Get_Account_Info.FirstName} {!Get_Account_Info.LastName}&lt;/p&gt;&lt;p&gt;{!Get_Account_Info.AccountNumber}&lt;/p&gt;&lt;p&gt;{!Get_Account_Info.PersonMobilePhone}&lt;/p&gt;&lt;p&gt;{!Get_Account_Info.PersonBirthdate}&lt;/p&gt;&lt;p&gt;{!Get_Account_Info.PersonMailingStreet} - &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Account_Info.PersonMailingCity}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Origine_des_documents</name>
            <choiceReferences>origineDocument</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Origine des documents</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_reception</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de réception</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseChoice</name>
        <label>CaseChoice</label>
        <locationX>1002</locationX>
        <locationY>1374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Verif_Choix_SinRec</targetReference>
        </connector>
        <fields>
            <name>Sinistre_selectionne</name>
            <choiceReferences>Aucun</choiceReferences>
            <choiceReferences>SinistreList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choisissez le sinistre ou la réclamation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pas_de_sinistre_existant_ckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Ce document ne concerne pas un sinistre ou une réclamation existant(e)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CaseClosedScr</name>
        <label>CaseClosedScr</label>
        <locationX>965</locationX>
        <locationY>798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_AccountId_Empty</targetReference>
        </connector>
        <fields>
            <name>CaseClosedMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Les documents présents ci-contre ont déjà été affectés à un sinistre.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Poursuivre le flow permettra de les affecter de nouveau si nécessaire.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cloture_Screen</name>
        <label>Cloture Screen</label>
        <locationX>2713</locationX>
        <locationY>1725</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageCloture</name>
            <fieldText>&lt;p&gt;Tous les documents de ce case ont été attribués. La requête GED va être clôturée.&lt;/p&gt;&lt;p&gt;Naviguer vers le {!caseLink}, ou vers son {!equipSinLink}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cloture_screen_Vol</name>
        <label>Cloture screen Vol</label>
        <locationX>2017</locationX>
        <locationY>1641</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endMessage</name>
            <fieldText>&lt;p&gt;Tous les documents de ce case ont été attribués. La requête GED va être clôturée.&lt;/p&gt;&lt;p&gt;Naviguer vers la {!caseLink}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Document_sans_sinistre_existant</name>
        <label>Document sans sinistre existant</label>
        <locationX>688</locationX>
        <locationY>1348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ASS_AssetId</targetReference>
        </connector>
        <fields>
            <name>DEM_DossierDemande_screen</name>
            <fieldText>&lt;p&gt;Un dossier Demande sur lequel le document va être rattaché sera créé.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DEM_RelatedAssetChoice</name>
            <choiceReferences>DEM_ClientRelatedAssetRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contrat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AssetId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DEM_Assigner_Demande_a</name>
            <choiceReferences>QueueName_DispatchADM</choiceReferences>
            <choiceReferences>QueueName_DispatchTC</choiceReferences>
            <choiceReferences>QueueName_GestionnaireQlt</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Affecter le dossier à</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Typologie_Demande</name>
            <extensionName>c:Flow_HandleDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingPkName</name>
                <value>
                    <stringValue>Typologie_Sinistre__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPkLabel</name>
                <value>
                    <stringValue>Type de demande</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RTName</name>
                <value>
                    <stringValue>Demande</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DEM_Commentaire</name>
            <dataType>String</dataType>
            <fieldText>Commentaire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Is_this_account_the_one</name>
        <label>Is this account the one ?</label>
        <locationX>1811</locationX>
        <locationY>1201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_current_account_the_ONE</targetReference>
        </connector>
        <fields>
            <name>Account_details</name>
            <fieldText>&lt;p&gt;Plusieurs comptes avec cette même adresse mail ont été trouvé. Pourrait-il s&apos;agir du compte suivant : &lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://sfam--dev.lightning.force.com/{!Loop_over_the_fetched_accounts_again.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Loop_over_the_fetched_accounts_again.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choisir_ce_compte</name>
            <choiceReferences>Oui</choiceReferences>
            <choiceReferences>Non</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choisir ce compte ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_related_account</name>
        <label>No related account</label>
        <locationX>1397</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Numero_de_sinistre_disponible</targetReference>
        </connector>
        <fields>
            <name>CreateNewAccount</name>
            <fieldText>&lt;p&gt;Le système n&apos;a trouvé aucun compte lié à cette adresse email. Avez-vous une des informations suivantes :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClientLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssetLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AssetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contrat</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Numero_sinistre</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Numéro du sinistre ou de la réclamation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoInfoScreen</name>
        <label>NoInfoScreen</label>
        <locationX>1392</locationX>
        <locationY>204</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EoP</name>
            <fieldText>&lt;p&gt;Les informations communiquées n&apos;ont pas permis d&apos;identifier un sinistre, un contrat ou un client. Merci de vérifier et d&apos;essayer de nouveau. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Case</name>
        <label>Vérification Case</label>
        <locationX>519</locationX>
        <locationY>1809</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manque_t_il_une_pi_ce_justificative</targetReference>
        </connector>
        <fields>
            <name>CurrentDocument</name>
            <fieldText>&lt;p&gt;Le nom du document à associer est : &lt;b&gt;{!Get_ContentDocument.Title}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Piece_justificative_a_lier</name>
            <choiceReferences>PieceJustificativeList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>A quelle pièce justificative voulez vous lier ce document ?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Manque_pj</name>
            <dataType>Boolean</dataType>
            <fieldText>Il manque une pièce justificative dans la liste présente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pas_le_temps_de_codifier</name>
            <dataType>Boolean</dataType>
            <fieldText>Je n&apos;ai pas le temps de codifier les documents</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pas_PJ</name>
            <dataType>Boolean</dataType>
            <fieldText>Ce document ne contient pas de pièces justificatives</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verification_Choix_Sinistre</name>
        <label>Vérification Choix Sinistre</label>
        <locationX>809</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VerifChoixSinRec</name>
            <fieldText>&lt;p&gt;Veuillez &lt;b&gt;sélectionner un sinistre ou un réclamation&lt;/b&gt; proposé(e) dans la liste déroulante.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sinon, veuillez cocher la case &lt;b&gt;&quot;Ce document ne concerne pas un sinistre ou une réclamation existant(e)&quot; &lt;/b&gt;afin de créer une nouvelle demande.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Y_a_t_il_un_colis</name>
        <label>Y a-t-il un colis ?</label>
        <locationX>2186</locationX>
        <locationY>1805</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_EquipSin</targetReference>
        </connector>
        <fields>
            <name>Numero_colis</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Numéro de colis à assigner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>497</locationX>
        <locationY>952</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Affectation_colis</name>
        <label>Affectation colis</label>
        <locationX>2713</locationX>
        <locationY>1857</locationY>
        <connector>
            <targetReference>Cloture_Screen</targetReference>
        </connector>
        <flowName>SF_Affectation_Colis</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>colisId</name>
            <value>
                <elementReference>colisId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Nouvelle_PJ</name>
        <label>Nouvelle PJ</label>
        <locationX>358</locationX>
        <locationY>1882</locationY>
        <connector>
            <targetReference>Verification_Case</targetReference>
        </connector>
        <flowName>Nouvelle_piece_jointe</flowName>
        <inputAssignments>
            <name>sinistreId</name>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>caseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!SinistreId}&quot; target=&quot;_parent&quot;&gt;requête associée&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>equipSinLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!EquipementSinistreId}&quot; target=&quot;_parent&quot;&gt;équipement sinistré&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>accountCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AccountEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DemandeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyAccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EquipementSinistreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PJToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Piece_justificative_Sinistre__c</objectType>
    </variables>
    <variables>
        <name>SinistreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinistreOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinRecSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypologieSinistre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CaseEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordTypeID_CaseDemande</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordTypeID_SinistreAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
