hubSide/force-app/main/default/flows/AssociatedCostSum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_franchise_to_sum</name>
        <label>Add franchise to sum</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>SumCoutUnitaire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalcIndemnFranchise.Montant__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_MaxMainDOeuvre_to_SumCoutUnitaire</name>
        <label>Add MaxMainDOeuvre to SumCoutUnitaire</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>SumCoutUnitaire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MaxMainDOeuvre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_related_Franchise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UnitCost</name>
        <label>Add UnitCost</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SumCoutUnitaire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_CoutsAssocies.UnitCost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_CoutsAssocies.DamagedEquipment__r.Sinistre__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cout_main_d_oeuvre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MaxMainDOeuvre</name>
        <label>Assign MaxMainDOeuvre</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MaxMainDOeuvre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_CoutsAssocies.ManpowerCost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_CoutsAssocies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cout_main_d_oeuvre</name>
        <label>Coût main d&apos;oeuvre ?</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_CoutsAssocies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_maxMainDOeuvre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxMainDOeuvre</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loop_over_the_CoutsAssocies.ManpowerCost__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MaxMainDOeuvre</targetReference>
            </connector>
            <label>Update maxMainDOeuvre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_franchise_on_the_case</name>
        <label>Is there a franchise on the case ?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_there_s_a_franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcIndemnFranchise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_franchise_to_sum</targetReference>
            </connector>
            <label>Yup, there&apos;s a franchise</label>
        </rules>
    </decisions>
    <interviewLabel>Somme des coûts associés {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Somme des coûts associés</label>
    <loops>
        <description>Boucle sur tous les types de coûts équipements pour vérifier si on est sur le type de coût équipement récupéré avec la main d&apos;œuvre la plus coûteuse.</description>
        <name>Loop_over_the_CoutsAssocies</name>
        <label>Loop over the CoutsAssociés</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_CoutAssocies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_UnitCost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_MaxMainDOeuvre_to_SumCoutUnitaire</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CoutAssocies</name>
        <label>Get CoutAssociés</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_CoutsAssocies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DamagedEquipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssociatedCost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Franchise</name>
        <label>Get related Franchise</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_franchise_on_the_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <object>Mouvements_financiers__c</object>
        <outputReference>CalcIndemnFranchise</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Montant__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CoutAssocies</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalcIndemnFranchise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EquipSinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxMainDOeuvre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumCoutUnitaire</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
