hubSide/force-app/main/default/flows/AutoFlow_Transfert_colis_SAV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_colis_status</name>
        <label>Update colis status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_colis_type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>Reception_colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Statut__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectIdList</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <stringValue>Transféré/Reçu</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_colis_type</name>
        <label>Update colis type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Flow_BarcodeScanInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToQuery</name>
            <value>
                <stringValue>Reception_colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldToUpdate</name>
            <value>
                <stringValue>Type__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectIdList</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectToQuery</name>
            <value>
                <stringValue>Colis__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>valueToUpdate</name>
            <value>
                <stringValue>Expertise SAV</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>AutoFlow - Transfert colis SAV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoFlow - Transfert colis SAV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_colis_status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
