hubSide/force-app/main/default/flows/Case_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_CurrentEquipSinEchange</name>
        <label>Add CurrentEquipSinEchange</label>
        <locationX>468</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentEquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_CurrentEquipSin_Again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CurrentEquipSinEchange_to_List</name>
        <label>Add CurrentEquipSinEchange to List</label>
        <locationX>616</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentEquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_CurrentEquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CurrentEquipSinReparation</name>
        <label>Add CurrentEquipSinReparation</label>
        <locationX>545</locationX>
        <locationY>5159</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentEquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipSinToUpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CurrentEquipSinReparation_to_List</name>
        <label>Add CurrentEquipSinReparation to List</label>
        <locationX>616</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentEquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipSinList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentEquipSin_RTEchange</name>
        <label>Assign CurrentEquipSin RTEchange</label>
        <locationX>616</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EquipSin_Echange_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentEquipSinEchange_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentEquipSin_RTReparation</name>
        <label>Assign CurrentEquipSin RTReparation</label>
        <locationX>616</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EquipSin_Reparation_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentEquipSinReparation_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_CurrentEquipSin</name>
        <label>Reset CurrentEquipSin</label>
        <locationX>616</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_EquipSin_Reparation_ReadOnly</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_CurrentEquipSin_Again</name>
        <label>Reset CurrentEquipSin</label>
        <locationX>468</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_EquipSin_Reparation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Annule</name>
        <label>Update EquipSin Annulé</label>
        <locationX>490</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.Statut_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.Sous_statut__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_equipement_Client</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Annule_again</name>
        <label>Update EquipSin Annulé</label>
        <locationX>413</locationX>
        <locationY>4943</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.Statut_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.Sous_statut__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentEquipSinReparation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Echange</name>
        <label>Update EquipSin Echange</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.Statut_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Echangé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentEquipSinEchange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Echange_RT_ReadOnly</name>
        <label>Update EquipSin Echange RT ReadOnly</label>
        <locationX>468</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EquipSin_EchangeReadOnly_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Reparation_RT_ReadOnly_0</name>
        <label>Update EquipSin Reparation RT ReadOnly</label>
        <locationX>413</locationX>
        <locationY>4607</locationY>
        <assignmentItems>
            <assignToReference>CurrentEquipSin.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EquipSin_ReparationReadOnly_RT_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_status_the_return</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_closed</name>
        <label>Case closed ?</label>
        <locationX>902</locationX>
        <locationY>2519</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_it_s_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_Echange</targetReference>
            </connector>
            <label>Yup, it&apos;s closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_RT_changed</name>
        <label>Case RT changed ?</label>
        <locationX>902</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Case_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_reouverture_sinistre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre clôturé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_Echange_ReadOnly</targetReference>
            </connector>
            <label>Yup, réouverture sinistre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_status</name>
        <label>Case status ?</label>
        <locationX>468</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Add_CurrentEquipSinEchange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autres status clos</defaultConnectorLabel>
        <rules>
            <name>Status_Clos_Echange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>closed_exchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Etat_EquipSin</targetReference>
            </connector>
            <label>Status = Clos Echangé</label>
        </rules>
        <rules>
            <name>Status_Clos_Refuse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>closed_rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EquipSin_Annule</targetReference>
            </connector>
            <label>Status = Clos Refusé</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_status_the_return</name>
        <label>Case status ?</label>
        <locationX>545</locationX>
        <locationY>4823</locationY>
        <defaultConnector>
            <targetReference>Add_CurrentEquipSinReparation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autres status clos</defaultConnectorLabel>
        <rules>
            <name>Status_Clos_Refus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>closed_rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EquipSin_Annule_again</targetReference>
            </connector>
            <label>Status = Clos Refusé</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipSin_Echange_to_update</name>
        <label>EquipSin Echange to update ?</label>
        <locationX>748</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Get_EquipSin_Reparation_ReadOnly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_let_s_update_Echange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_Echange_RT</targetReference>
            </connector>
            <label>Yup, let&apos;s update Echange</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipSin_Reparation_to_update</name>
        <label>EquipSin Reparation to update ?</label>
        <locationX>748</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Update_EquipSinList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_let_s_update_Reparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_Reparation_RT</targetReference>
            </connector>
            <label>Yup, let&apos;s update Reparation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vérifie si le montant du plafond est dépassé</description>
        <name>Etat_du_plafond_presence_alerte</name>
        <label>Etat du plafond + presence alerte ?</label>
        <locationX>902</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Case_RT_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plafond_depasse_pas_d_alerte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_Montant_Plafond__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Alert_plafond_depasse__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Alert</targetReference>
            </connector>
            <label>Plafond dépassé + pas d&apos;alerte</label>
        </rules>
    </decisions>
    <decisions>
        <name>Etat_EquipSin</name>
        <label>Etat EquipSin ?</label>
        <locationX>182</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>Add_CurrentEquipSinEchange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EquipSin_non_clos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerReception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEquipSin.Statut_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_InsuredItem</targetReference>
            </connector>
            <label>EquipSin non clos</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_EquipSin_Echange_to_update</name>
        <label>Is there an EquipSin Echange to update ?</label>
        <locationX>699</locationX>
        <locationY>2759</locationY>
        <defaultConnector>
            <targetReference>Get_EquipSin_Reparation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_EquipSin_Echange_is_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_EchangeReadOnly_RT</targetReference>
            </connector>
            <label>Yup, EquipSin Echange is there</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_EquipSinReparation_to_update</name>
        <label>Is there an EquipSinReparation to update ?</label>
        <locationX>699</locationX>
        <locationY>4247</locationY>
        <defaultConnector>
            <targetReference>Update_EquipSinToUpdateList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_there_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>statut_en_analyse_en_attente_reparation</targetReference>
            </connector>
            <label>Yup, there is</label>
        </rules>
    </decisions>
    <decisions>
        <name>statut_en_analyse_en_attente_reparation</name>
        <label>statut en analyse/en attente reparation ?</label>
        <locationX>545</locationX>
        <locationY>4367</locationY>
        <defaultConnector>
            <targetReference>Case_status_the_return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Analyse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Attente Réception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_ReparationReadOnly_RT_0</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <description>Update damage eqipment if case closed exchange</description>
    <interviewLabel>Case : AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : AfterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>770</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Case_RT_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessRulesNumber__c</field>
            <value>
                <stringValue>RGSIN12</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesDiscountMotif__c</field>
            <value>
                <stringValue>Plafond dépassé</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Record type Sinistre Read Only</description>
        <name>Get_Case_ReadOnly_RT</name>
        <label>Get Case ReadOnly RT</label>
        <locationX>699</locationX>
        <locationY>5495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SinistreReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Echange</name>
        <label>Get EquipSin Echange</label>
        <locationX>699</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_EquipSin_Echange_to_update</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Echange_ReadOnly</stringValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>CurrentEquipSin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sous_statut__c</queriedFields>
        <queriedFields>Statut_equipement__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
        <queriedFields>Equipement_client__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Echange_ReadOnly</name>
        <label>Get EquipSin Echange ReadOnly</label>
        <locationX>748</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipSin_Echange_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Echange_ReadOnly</stringValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>CurrentEquipSin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Echange_RT</name>
        <label>Get EquipSin Echange RT</label>
        <locationX>616</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CurrentEquipSin_RTEchange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_EchangeReadOnly_RT</name>
        <label>Get EquipSin EchangeReadOnly RT</label>
        <locationX>468</locationX>
        <locationY>2879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Echange_RT_ReadOnly</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Echange_ReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Reparation</name>
        <label>Get EquipSin Reparation</label>
        <locationX>699</locationX>
        <locationY>4127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_EquipSinReparation_to_update</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Reparation_ReadOnly</stringValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>CurrentEquipSin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Statut_equipement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Reparation_ReadOnly</name>
        <label>Get EquipSin Reparation ReadOnly</label>
        <locationX>748</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipSin_Reparation_to_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Reparation_ReadOnly</stringValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>CurrentEquipSin</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_Reparation_RT</name>
        <label>Get EquipSin Reparation RT</label>
        <locationX>616</locationX>
        <locationY>1847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CurrentEquipSin_RTReparation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_ReparationReadOnly_RT_0</name>
        <label>Get EquipSin ReparationReadOnly RT</label>
        <locationX>413</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Reparation_RT_ReadOnly_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Reparation_ReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_RT</name>
        <label>Update Case RT</label>
        <locationX>699</locationX>
        <locationY>5615</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_ReadOnly_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_equipement_Client</name>
        <label>Update equipement Client</label>
        <locationX>490</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>Add_CurrentEquipSinEchange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEquipSin.Equipement_client__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSinList</name>
        <label>Update EquipSinList</label>
        <locationX>748</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Case_closed</targetReference>
        </connector>
        <inputReference>EquipSinToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSinToUpdateList</name>
        <label>Update EquipSinToUpdateList</label>
        <locationX>699</locationX>
        <locationY>5375</locationY>
        <connector>
            <targetReference>Get_Case_ReadOnly_RT</targetReference>
        </connector>
        <inputReference>EquipSinToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InsuredItem</name>
        <label>Update InsuredItem</label>
        <locationX>50</locationX>
        <locationY>3359</locationY>
        <connector>
            <targetReference>Update_EquipSin_Echange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentEquipSin.Equipement_client__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif__c</field>
            <value>
                <stringValue>Echange</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <start>
        <locationX>776</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Etat_du_plafond_presence_alerte</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (4 OR 5 OR 6 OR 7 OR 8 OR 9))</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Montant_Plafond__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Alert_plafond_depasse__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_exchange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_repaired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ClosedDone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_without_further_action</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentEquipSin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>EquipSinToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
</Flow>
