hubSide/force-app/main/default/flows/CASE_ManageStatusCalculIndem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_ApprovalIndem</name>
        <label>ACT_ApprovalIndem</label>
        <locationX>138</locationX>
        <locationY>1550</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>LOO_CalculIndemToApproved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approbation_TEST_V_4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>LOO_CalculIndemToApproved.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ASS_AddCalculIndemEchToListApprov</name>
        <label>ASS_AddCalculIndemEchToListApprov</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCalculIndemCheckAppoved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_AllCalculIndemCreer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCalculIndemPrimeToListApprov</name>
        <label>ASS_AddCalculIndemPrimeToListApprov</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCalculIndemCheckAppoved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_AllCalculIndemCreer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCalculIndemRepToListApprov</name>
        <label>ASS_AddCalculIndemRepToListApprov</label>
        <locationX>798</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCalculIndemCheckAppoved</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_AllCalculIndemCreer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCalculIndemToUpdate</name>
        <label>ASS_AddCalculIndemToUpdate</label>
        <locationX>402</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCalculIndemToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_CalculIndemToApproved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CurrentCalculIndemValEch</name>
        <label>ASS_CurrentCalculIndemValEch</label>
        <locationX>534</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCalculIndemEchToListApprov</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CurrentCalculIndemValPrime</name>
        <label>ASS_CurrentCalculIndemValPrime</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCalculIndemPrimeToListApprov</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CurrentCalculIndemValRepa</name>
        <label>ASS_CurrentCalculIndemValRepa</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCalculIndemRepToListApprov</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VAR_InitCurrentCalculIndem</name>
        <label>VAR_InitCurrentCalculIndem</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_AllCalculIndemCreer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckTypeAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VAR_InitCurrentCalculIndemAppro</name>
        <label>VAR_InitCurrentCalculIndemAppro</label>
        <locationX>270</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_CalculIndemToApproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckMontantGlobal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_CheckListCalculIndemToApproved</name>
        <label>DEC_CheckListCalculIndemToApproved</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnectorLabel>List null</defaultConnectorLabel>
        <rules>
            <name>List_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_ListCalculIndemCheckAppoved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOO_CalculIndemToApproved</targetReference>
            </connector>
            <label>List not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckMontantGlobal</name>
        <label>DEC_CheckMontantGlobal</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>ASS_AddCalculIndemToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Montant &lt; Limit User</defaultConnectorLabel>
        <rules>
            <name>Montant_Limit_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Case.Montant_sinistre__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$User.Montant_approbation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_Case.Record_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_ApprovalIndem</targetReference>
            </connector>
            <label>Montant &gt; Limit User</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckTypeAction</name>
        <label>DEC_CheckTypeAction</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>LOO_AllCalculIndemCreer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas d&apos;action</defaultConnectorLabel>
        <rules>
            <name>Validation_Prime</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Règlement par le client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Type_mouvement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Franchise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CurrentCalculIndemValPrime</targetReference>
            </connector>
            <label>Validation Prime</label>
        </rules>
        <rules>
            <name>Validation_Echange</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CurrentCalculIndemValEch</targetReference>
            </connector>
            <label>Validation Echange</label>
        </rules>
        <rules>
            <name>Validation_Reparation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>VAR_TypeAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCalculIndemCreer.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CurrentCalculIndemValRepa</targetReference>
            </connector>
            <label>Validation Reparation</label>
        </rules>
    </decisions>
    <interviewLabel>CASE_ManageStatusCalculIndem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE_ManageStatusCalculIndem</label>
    <loops>
        <name>LOO_AllCalculIndemCreer</name>
        <label>LOO_AllCalculIndemCreer</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>GET_AllCalculIndemCreer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VAR_InitCurrentCalculIndem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_CheckListCalculIndemToApproved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOO_CalculIndemToApproved</name>
        <label>LOO_CalculIndemToApproved</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <collectionReference>VAR_ListCalculIndemCheckAppoved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VAR_InitCurrentCalculIndemAppro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPD_CalculIndemToUpdate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_AllCalculIndemCreer</name>
        <label>GET_AllCalculIndemCreer</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOO_AllCalculIndemCreer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_CalculIndemToUpdate</name>
        <label>UPD_CalculIndemToUpdate</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <inputReference>VAR_ListCalculIndemToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_AllCalculIndemCreer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_CurrentCalculIndem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListCalculIndemCheckAppoved</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListCalculIndemToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_TypeAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
