hubSide/force-app/main/default/flows/Case_AfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Update_case_with_Asset_related_info</name>
        <label>Update case with Asset related info</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asset_status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.remaining_ceiling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Indemnisation_contrat_restante__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_formula_on_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_case_with_Formula_related_info</name>
        <label>Update case with Formula related info</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Associated_formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Asset.Formule__r.Formule_options__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_formula_on_asset</name>
        <label>Is there a formula on asset ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_there_s_a_formula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Asset.Formule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_with_Formula_related_info</targetReference>
            </connector>
            <label>Yup, there&apos;s a formula</label>
        </rules>
    </decisions>
    <description>CASE : Flow triggered on AFTER CREATE</description>
    <interviewLabel>Case_AfterCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : AfterCreate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_case_with_Asset_related_info</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Déclaration</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
