hubSide/force-app/main/default/flows/CASE_Manage_PaiementVersement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ADD_NotCreatePaiementVersement</name>
        <label>ADD_NotCreatePaiementVersement</label>
        <locationX>1678</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>VAR_CreatedPaiementVersement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddPaiementVersement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCaseToProcess</name>
        <label>ASS_AddCaseToProcess</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListIdCasesCalculIndem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO_AllCasesCheckAllCalculIndemProcessed.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_ListCaseToProcess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOO_AllCasesCheckAllCalculIndemProcessed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_AllCasesCheckAllCalculIndemProcessed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCurrentEquip</name>
        <label>ASS_AddCurrentEquip</label>
        <locationX>1766</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListEquipToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentEquipSinistre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_CreatedTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCurrentEquipASortir</name>
        <label>ASS_AddCurrentEquipASortir</label>
        <locationX>2030</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListEquipToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentEquipSinistre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckExchangeChoiceNotValidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCurrentIndemToListCalculIndem_0_0</name>
        <label>ASS_AddCurrentIndemToListCalculIndem</label>
        <locationX>2030</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>VAR_CalculIndemToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_CalculIndem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddCurrentIndemToListCalculIndem_0_0_0</name>
        <label>ASS_AddCurrentIndemToListCalculIndem</label>
        <locationX>1766</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>VAR_CalculIndemToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_CalculIndem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddPaiementVersement</name>
        <label>ASS_AddPaiementVersement</label>
        <locationX>1414</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListPaiementVersementToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_PaiementVersement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_CasesToProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddTask</name>
        <label>ASS_AddTask</label>
        <locationX>1766</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListTaskToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_TaskToCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckExchangeChoiceNotValidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddTaskExchange</name>
        <label>ASS_AddTaskExchange</label>
        <locationX>2294</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListTaskToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_TaskExchangeToCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckExchangeChoiceNotValidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CalculIndemDemandeEncours_0_0</name>
        <label>ASS_CalculIndemDemandeEncours</label>
        <locationX>2030</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCurrentIndemToListCalculIndem_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CalculIndemDemandeEncours_0_0_0</name>
        <label>ASS_CalculIndemDemandeEncours</label>
        <locationX>1766</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCurrentIndemToListCalculIndem_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CreatedPaiementVersement</name>
        <label>ASS_CreatedPaiementVersement</label>
        <locationX>1502</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>VAR_CreatedPaiementVersement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckExchangeChoiceNotValidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CreatedTask</name>
        <label>ASS_CreatedTask</label>
        <locationX>1766</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_CurrentEquipSinistre.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_RecordTypeIdTaskSin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>StartReparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_CurrentEquipSinistre.Sinistre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskToCreated.Type_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Déclencher réparation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CreatedTaskChooseExchange</name>
        <label>ASS_CreatedTaskChooseExchange</label>
        <locationX>2294</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_IdGroupDispatchTele</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation choix client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_RecordTypeIdTaskSin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.Type_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation d’un échange​</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_TaskExchangeToCreated.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddTaskExchange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_EquipSiniASortir</name>
        <label>ASS_EquipSiniASortir</label>
        <locationX>2030</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentEquipSinistre.Sous_statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A sortir du stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CurrentEquipSinistre.Statut_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livraison PSM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCurrentEquipASortir</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_EquipSiniEnCours</name>
        <label>ASS_EquipSiniEnCours</label>
        <locationX>1766</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentEquipSinistre.Sous_statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddCurrentEquip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_InitVAR_CurrentCalculIndem</name>
        <label>ASS_InitVAR_CurrentCalculIndem</label>
        <locationX>2030</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>VAR_CurrentCalculIndem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_CalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_CheckProcess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_PaiementVersement</name>
        <label>ASS_PaiementVersement</label>
        <locationX>1502</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Montant__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_CurrentCalculIndem.Montant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_CreatedPaiementVersement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_PaiemVersLess</name>
        <label>ASS_PaiemVersLess</label>
        <locationX>1414</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_CasesToProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demande Versement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_NamePaiement_MontantLess</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddPaiementVersement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_PaiemVersSup</name>
        <label>ASS_PaiemVersSup</label>
        <locationX>1150</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOO_CasesToProcess.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demande Versement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_PaiementVersement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_NamePaiement_MontantSupp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASS_AddPaiementVersement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_CheckAllIndemProcessed</name>
        <label>DEC_CheckAllIndemProcessed</label>
        <locationX>556</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>LOO_AllCasesCheckAllCalculIndemProcessed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not All Indem Processed</defaultConnectorLabel>
        <rules>
            <name>All_Indem_Processed_0</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>LOO_AllCasesCheckAllCalculIndemProcessed.TECH_NumberIndemToProcess__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_AllCasesCheckAllCalculIndemProcessed.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_ForceRunPaiementVersement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_AddCaseToProcess</targetReference>
            </connector>
            <label>All Indem Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckEquipToCreated</name>
        <label>DEC_CheckEquipToCreated</label>
        <locationX>182</locationX>
        <locationY>3926</locationY>
        <defaultConnector>
            <targetReference>DEC_CheckTaskToCreates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckListNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_ListEquipToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_ListEquip</targetReference>
            </connector>
            <label>CheckListNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckExchangeChoiceNotValidate</name>
        <label>DEC_CheckExchangeChoiceNotValidate</label>
        <locationX>2030</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>LOO_CalculIndem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExchangeChoiceValidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOO_CasesToProcess.TECH_CheckChoixClientValidate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOO_CalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CalculIndemDemandeEncours_0_0_0</targetReference>
            </connector>
            <label>Exchange Choice Validate</label>
        </rules>
        <rules>
            <name>Not_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CurrentCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CalculIndemDemandeEncours_0_0</targetReference>
            </connector>
            <label>Not Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckMontantTotal</name>
        <label>DEC_CheckMontantTotal</label>
        <locationX>1414</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>ADD_NotCreatePaiementVersement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Montant = 0</defaultConnectorLabel>
        <rules>
            <name>Montant_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_PaiementVersement.Montant__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_PaiemVersSup</targetReference>
            </connector>
            <label>Montant &lt; 0</label>
        </rules>
        <rules>
            <name>Montant_Less_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_PaiementVersement.Montant__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_PaiemVersLess</targetReference>
            </connector>
            <label>Montant &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckPaiementVersementToCreate</name>
        <label>DEC_CheckPaiementVersementToCreate</label>
        <locationX>182</locationX>
        <locationY>3590</locationY>
        <defaultConnector>
            <targetReference>DEC_CheckEquipToCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Create_paiement_versement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CreatedPaiementVersement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_PaiementVersement_0</targetReference>
            </connector>
            <label>Create paiement versement</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckProcess</name>
        <label>DEC_CheckProcess</label>
        <locationX>2030</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>DEC_CheckExchangeChoiceNotValidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>other</defaultConnectorLabel>
        <rules>
            <name>Current_Indem_Prime</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CurrentCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_CurrentCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Règlement par le client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_PaiementVersement</targetReference>
            </connector>
            <label>Current Indem Prime</label>
        </rules>
        <rules>
            <name>Current_Idem_Repa_Equip_InProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CurrentCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_CurrentEquipSinistre.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_EquipSiniEnCours</targetReference>
            </connector>
            <label>Current Indem Repa And Equipement In Progress</label>
        </rules>
        <rules>
            <name>Current_Indem_Repa_And_Equipement_In_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CurrentEquipSinistre.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stocké</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_EquipSiniASortir</targetReference>
            </connector>
            <label>Current Indem Repa And Equipement Stock</label>
        </rules>
        <rules>
            <name>Current_Indem_Exchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CurrentCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_CreatedTaskChooseExchange</targetReference>
            </connector>
            <label>Current Indem Exchange</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckTaskToCreates</name>
        <label>DEC_CheckTaskToCreates</label>
        <locationX>182</locationX>
        <locationY>4262</locationY>
        <defaultConnector>
            <targetReference>UDP_CalculIndemDemandeEnCours_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ListTaskToCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_ListTaskToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAR_ListTaskToCreated</targetReference>
            </connector>
            <label>ListTaskToCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckVAR_ListIdCaseCalc</name>
        <label>DEC_CheckVAR_ListIdCaseCalc</label>
        <locationX>336</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>List Case Null</defaultConnectorLabel>
        <rules>
            <name>List_Case_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_ListIdCasesCalculIndem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RecordTypeEquipAReparer</targetReference>
            </connector>
            <label>List Case Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <name>FOR_NamePaiement_MontantLess</name>
        <dataType>String</dataType>
        <expression>&apos;REG&apos; +&quot;-&quot;+LEFT(TEXT(NOW()), LEN(TEXT(NOW()))-1) +&quot; - GMT&quot;</expression>
    </formulas>
    <formulas>
        <name>FOR_NamePaiement_MontantSupp</name>
        <dataType>String</dataType>
        <expression>&apos;PAI&apos; +&quot;-&quot;+LEFT(TEXT(NOW()), LEN(TEXT(NOW()))-1)  +&quot; - GMT&quot;</expression>
    </formulas>
    <interviewLabel>Manage PaiementVersement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage PaiementVersement</label>
    <loops>
        <name>LOO_AllCasesCheckAllCalculIndemProcessed</name>
        <label>LOO_AllCasesCheckAllCalculIndemProcessed</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <collectionReference>VAR_ListCase</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_CheckAllIndemProcessed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_CheckVAR_ListIdCaseCalc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOO_CalculIndem</name>
        <label>LOO_CalculIndem</label>
        <locationX>1414</locationX>
        <locationY>1550</locationY>
        <collectionReference>GET_ValidCalculIndem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_InitVAR_CurrentCalculIndem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_CheckMontantTotal</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOO_CasesToProcess</name>
        <label>LOO_CasesToProcess</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <collectionReference>VAR_ListCaseToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GET_ValidCalculIndem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_CheckPaiementVersementToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRE_PaiementVersement_0</name>
        <label>CRE_PaiementVersement</label>
        <locationX>50</locationX>
        <locationY>3710</locationY>
        <connector>
            <targetReference>DEC_CheckEquipToCreated</targetReference>
        </connector>
        <inputReference>VAR_ListPaiementVersementToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>VAR_ListTaskToCreated</name>
        <label>VAR_ListTaskToCreated</label>
        <locationX>50</locationX>
        <locationY>4382</locationY>
        <connector>
            <targetReference>UDP_CalculIndemDemandeEnCours_0_0</targetReference>
        </connector>
        <inputReference>VAR_ListTaskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_EquipSinistre</name>
        <label>GET_EquipSinistre</label>
        <locationX>1414</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOO_CalculIndem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOO_CasesToProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_RecordTypeIdEquipARep</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>VAR_CurrentEquipSinistre</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sous_statut__c</queriedFields>
        <queriedFields>Statut_equipement__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Sinistre__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_QueueDispatchTele</name>
        <label>GET_QueueDispatchTele</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RecordTypeTaskSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_teleconseiller</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VAR_IdGroupDispatchTele</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeEquipAReparer</name>
        <label>GET_RecordTypeEquipAReparer</label>
        <locationX>182</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_QueueDispatchTele</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeIdEquipARep</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeTaskSinistre</name>
        <label>GET_RecordTypeTaskSinistre</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOO_CasesToProcess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeIdTaskSin</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_ValidCalculIndem</name>
        <label>GET_ValidCalculIndem</label>
        <locationX>1414</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_EquipSinistre</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOO_CasesToProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UDP_CalculIndemDemandeEnCours_0_0</name>
        <label>UDP_CalculIndemDemandeEnCours</label>
        <locationX>182</locationX>
        <locationY>4598</locationY>
        <inputReference>VAR_CalculIndemToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_ListEquip</name>
        <label>UPD_ListEquip</label>
        <locationX>50</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>DEC_CheckTaskToCreates</targetReference>
        </connector>
        <inputReference>VAR_ListEquipToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOO_AllCasesCheckAllCalculIndemProcessed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_CalculIndemToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_CreatedPaiementVersement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_CurrentCalculIndem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_CurrentEquipSinistre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>VAR_ForceRunPaiementVersement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VAR_IdGroupDispatchTele</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_ListCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_ListCaseToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_ListEquipToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListIdCasesCalculIndem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ListPaiementVersementToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Paiement_Versement__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListTaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VAR_PaiementVersement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Paiement_Versement__c</objectType>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdEquipARep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdTaskSin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_TaskExchangeToCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VAR_TaskToCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
