hubSide/force-app/main/default/flows/CASE_NewActionGS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ASS_AddCaseToListCase</name>
        <label>ASS_AddCaseToListCase</label>
        <locationX>4274</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_CurrentCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_ManagePaiement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_CaseInfoRefus</name>
        <label>ASS_CaseInfoRefus</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>GET_CurrentCase.Date_refus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_CurrentCase.Motif_refus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_CurrentCase.Dernier_commentaire_refus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GET_CurrentCase.Decision_gestionnaire__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_CaseInfoRefus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alerte_passive_or_active</name>
        <label>Y a t&apos;il des alertes non codifiées?</label>
        <locationX>3185</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>DEC_CheckClientWaiting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberAlertVide__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerte_non_codifi</targetReference>
            </connector>
            <label>Yup elles sont pas codifiées</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckApprobationInProgress</name>
        <label>DEC_CheckApprobationInProgress</label>
        <locationX>3350</locationX>
        <locationY>2126</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approbation_Contr_Indem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_LastUpdateCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_LastUpdateCase.TECH_NumberIndemToProcess__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_MessageApprobContratIndem</targetReference>
            </connector>
            <label>Approbation Contr + Indem</label>
        </rules>
        <rules>
            <name>Approbation_Contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_LastUpdateCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_MessageApprobContrat</targetReference>
            </connector>
            <label>Approbation Contrat</label>
        </rules>
        <rules>
            <name>Approbation_Indem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_LastUpdateCase.TECH_NumberIndemToProcess__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_MessageApprobIndem</targetReference>
            </connector>
            <label>Approbation Indem</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckClientWaiting</name>
        <label>DEC_CheckClientWaiting</label>
        <locationX>3680</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>DEC_CheckStatusCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ClientWaiting</defaultConnectorLabel>
        <rules>
            <name>ClientWaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.Attente_client_final__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_ValidateClientWaiting</targetReference>
            </connector>
            <label>ClientWaiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckDataCalculIndem_0_0</name>
        <label>DEC_CheckDataCalculIndem</label>
        <locationX>3350</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>SUB_ManageCalculIndem_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation</defaultConnectorLabel>
        <rules>
            <name>No_Indem_Repa_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberIndemRepCreer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_ErrorMessageNoRepa_0_0</targetReference>
            </connector>
            <label>No Indem Repa</label>
        </rules>
        <rules>
            <name>No_Indem_Echange_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberIndemEchCreer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_ErrorMessageNoEch_0_0</targetReference>
            </connector>
            <label>No Indem Echange</label>
        </rules>
        <rules>
            <name>No_Indem_Prime_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberIndemPrimeCreer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_ErrorMessageNoPrime_0_0</targetReference>
            </connector>
            <label>No Indem Prime</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckMouvFinancierComplementReparation</name>
        <label>DEC_CheckMouvFinancierComplementReparation</label>
        <locationX>4934</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SCR_ErrorMessageFranchiseNotExist_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AdditionalRepairExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CalculIndemAdditionalRepair</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_TaskDemandeComplementReparation</targetReference>
            </connector>
            <label>Complément réparation existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckMouvFinancierFranchise</name>
        <label>DEC_CheckMouvFinancierFranchise</label>
        <locationX>2294</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>SCR_ErrorMessageFranchiseNotExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Franchise non existante</defaultConnectorLabel>
        <rules>
            <name>Franchise_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CalculIndemFranchise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_TaskDemandeFranchise</targetReference>
            </connector>
            <label>Franchise existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckPaiementVersement</name>
        <label>DEC_CheckPaiementVersement</label>
        <locationX>4406</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>SCR_ErrorMessageNoCaseGood</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_with_Indem_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberIndemValid__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_AddCaseToListCase</targetReference>
            </connector>
            <label>Case with Indem Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckStatusCase</name>
        <label>DEC_CheckStatusCase</label>
        <locationX>3680</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>SCR_ErrorMessageNoGoodStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Faux</defaultConnectorLabel>
        <rules>
            <name>Status_En_cours_d_indem_ou_en_cours_d_examen</name>
            <conditionLogic>(1 OR 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours d&apos;examen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_CurrentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours d&apos;indemnisation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_CurrentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAVInProgress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_CheckDataCalculIndem_0_0</targetReference>
            </connector>
            <label>Status En cours d&apos;indem ou en cours d&apos;examen</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_CheckValidationClientWaiting</name>
        <label>DEC_CheckValidationClientWaiting</label>
        <locationX>3504</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>NoValidate</defaultConnectorLabel>
        <rules>
            <name>CheckValidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCR_ValidateClientWaiting_TOG_Check.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_CheckStatusCase</targetReference>
            </connector>
            <label>CheckValidate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_TypeAction</name>
        <label>DEC_TypeAction</label>
        <locationX>2822</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CRE_TaskReglementContrat_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>aucune decision prise</defaultConnectorLabel>
        <rules>
            <name>Sinistre_En_Approb</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.TECH_ApprovalProcessStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_CurrentCase.Record_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_ErrorMessageSinistreEnCoursApprob</targetReference>
            </connector>
            <label>Sinistre En Approb</label>
        </rules>
        <rules>
            <name>Refus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_TaskRefusTC</targetReference>
            </connector>
            <label>Refus</label>
        </rules>
        <rules>
            <name>Demande_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_TaskDocumentTC</targetReference>
            </connector>
            <label>Demande Document</label>
        </rules>
        <rules>
            <name>Declenchement_reparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Déclencher réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RecordTypeEquipSinistreArepar</targetReference>
            </connector>
            <label>Declenchement reparation</label>
        </rules>
        <rules>
            <name>Reglement_Contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Contrat​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRE_TaskReglementContrat</targetReference>
            </connector>
            <label>Reglement Contrat</label>
        </rules>
        <rules>
            <name>Reglement_Franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Franchise​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CalculIndemFranchise</targetReference>
            </connector>
            <label>Reglement Franchise</label>
        </rules>
        <rules>
            <name>Validation_Prime_Echange_Reparation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerte_passive_or_active</targetReference>
            </connector>
            <label>Validation Prime Echange Reparation</label>
        </rules>
        <rules>
            <name>D_chement_paiement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>runPaiementVersement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_CheckPaiementVersement</targetReference>
            </connector>
            <label>Déclenchement paiement</label>
        </rules>
        <rules>
            <name>ReglementReparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DemandeReglementReparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_CalculIndemAdditionalRepair</targetReference>
            </connector>
            <label>Reglement Reparation</label>
        </rules>
        <rules>
            <name>SAV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_CurrentCase.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActionSAV</targetReference>
            </connector>
            <label>SAV</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipSin_en_r_paration</name>
        <label>EquipSin en réparation ?</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_r_paration_en_cours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>calcIndemnReparationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En commande pièces</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut_EquipSin</targetReference>
            </connector>
            <label>Yup, réparation en cours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Statut_EquipSin</name>
        <label>Statut EquipSin ?</label>
        <locationX>578</locationX>
        <locationY>1478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_cours_de_r_paration_En_commande_pi_ce</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En commande pièces</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EquipSin_Retour_client</targetReference>
            </connector>
            <label>En cours de réparation / En commande pièce</label>
        </rules>
        <rules>
            <name>En_analyse_En_attente_r_ception</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Analyse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Attente Réception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EquipSin_Annul</targetReference>
            </connector>
            <label>En analyse / En attente réception</label>
        </rules>
    </decisions>
    <description>26/05/2021 LLA SFAMI 1732 : update &apos;autre attente&apos; if repair or franchise</description>
    <dynamicChoiceSets>
        <name>CHS_Affectation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Affectation__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CHS_Tech_Stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tech_Stage__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_CommentaireComplet</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})&amp;&quot;--&quot;&amp;{!ActionType.controllingPkValue}&amp;&quot; &quot;&amp;TEXT({!CHS_Affectation})&amp;&quot;--&quot;&amp;{!SCR_SelectAction_LTA_Com}</expression>
    </formulas>
    <formulas>
        <name>FOR_CommentRefus</name>
        <dataType>String</dataType>
        <expression>{!ActionType.dependantPkValue} + &apos;-&apos; + {!SCR_SelectAction_LTA_Com}</expression>
    </formulas>
    <formulas>
        <name>FOR_CurrentDateAddTwo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <interviewLabel>Nouvelle Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouvelle Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CRE_TaskCompleted</name>
        <label>CRE_TaskCompleted</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskDemandeComplementReparation</name>
        <label>CRE_TaskDemandeComplémentRéparation</label>
        <locationX>4802</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>UPD_CalculIndemAdditionalRepair</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FOR_CurrentDateAddTwo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Appel sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskDemandeFranchise</name>
        <label>CRE_TaskDemandeFranchise</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>UPD_CalculIndemFranchise</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FOR_CurrentDateAddTwo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Appel sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskDocumentTC</name>
        <label>CRE_TaskDocumentTC</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>UPD_CaseStatusIncompleted</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Appel sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskRefusTC</name>
        <label>CRE_TaskRefusTC</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>ASS_CaseInfoRefus</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FOR_CurrentDateAddTwo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FOR_CommentRefus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Accord / refus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskReglementContrat</name>
        <label>CRE_TaskReglementContrat</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>UPD_CaseStatusIncompleted_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FOR_CurrentDateAddTwo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRE_TaskReglementContrat_0</name>
        <label>CRE_TaskReglementContrat</label>
        <locationX>5594</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FOR_CurrentDateAddTwo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroupDispatch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>VAR_RecordTypeIdSinistreAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>ActionType.dependantPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_CalculIndemAdditionalRepair</name>
        <label>GET_CalculIndemAdditionalRepair</label>
        <locationX>4934</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_CheckMouvFinancierComplementReparation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complément réparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CalculIndemFranchise</name>
        <label>GET_CalculIndemFranchise</label>
        <locationX>2294</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_CheckMouvFinancierFranchise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CurrentCase</name>
        <label>GET_CurrentCase</label>
        <locationX>2822</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR_SelectAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin</name>
        <label>Get EquipSin</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipSin_en_r_paration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_GroupIdDispatchTeleconseiller</name>
        <label>GET_GroupIdDispatchTeleconseiller</label>
        <locationX>2822</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_TypeAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_teleconseiller</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VAR_IdGroupDispatch</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_LastUpdateCase</name>
        <label>GET_LastUpdateCase</label>
        <locationX>3350</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_CheckApprobationInProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RecordTypeEquipSinistreArepar</name>
        <label>GET_RecordTypeEquipSinistreArepar</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPD_EquipementSinitreLivraisonPSM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeIdEquipSinARepar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Reparation_CalcIndemn</name>
        <label>Get Reparation CalcIndemn</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EquipSin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparation</stringValue>
            </value>
        </filters>
        <object>Mouvements_financiers__c</object>
        <outputAssignments>
            <assignToReference>calcIndemnReparationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GET_TaskRecordType</name>
        <label>GET_TaskRecordType</label>
        <locationX>2822</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_GroupIdDispatchTeleconseiller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VAR_RecordTypeIdSinistreAction</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UPD_CalculIndemAdditionalRepair</name>
        <label>UPD_CalculIndemAdditionalRepair</label>
        <locationX>4802</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>update_sinistre_autre_attente_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_CalculIndemAdditionalRepair.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_CalculIndemFranchise</name>
        <label>UPD_CalculIndemFranchise</label>
        <locationX>2162</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>update_sinistre_autre_attente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_CalculIndemFranchise.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_CaseInfoRefus</name>
        <label>UPD_CaseInfoRefus</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Reparation_CalcIndemn</targetReference>
        </connector>
        <inputReference>GET_CurrentCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_CaseStatusIncompleted</name>
        <label>UPD_CaseStatusIncompleted</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dernier_commentaire_incomplet__c</field>
            <value>
                <elementReference>FOR_CommentaireComplet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Incomplet</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_CaseStatusIncompleted_0</name>
        <label>UPD_CaseStatusIncompleted</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dernier_commentaire_incomplet__c</field>
            <value>
                <elementReference>FOR_CommentaireComplet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Incomplet</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_EquipementSinitreLivraisonPSM</name>
        <label>UPD_EquipementSinitreLivraisonPSM</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>CRE_TaskCompleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_RecordTypeIdEquipSinARepar</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut_equipement__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>En commande pièces</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>A sortir du stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Livraison PSM</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_Annul</name>
        <label>Update EquipSin Annulé</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EquipSin.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_Retour_client</name>
        <label>Update EquipSin Retour client</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EquipSin.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>A sortir - Retour client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Annulé - A retourner</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sinistre_autre_attente</name>
        <label>update sinistre autre attente</label>
        <locationX>2162</locationX>
        <locationY>1238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_CurrentCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Autre_attente__c</field>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_sinistre_autre_attente_0</name>
        <label>update sinistre autre attente</label>
        <locationX>4802</locationX>
        <locationY>1238</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_CurrentCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Autre_attente__c</field>
            <value>
                <stringValue>Oui</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Alerte_non_codifi</name>
        <label>Alerte non codifié</label>
        <locationX>2690</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alertes_non_codifiees</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(224, 142, 0);&quot;&gt;Vous ne pouvez pas continuer la validation car vous avez des alertes qui ne sont pas codifiées (active / passive).&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageFranchiseNotExist</name>
        <label>SCR_ErrorMessageFranchiseNotExist</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_ErrorMessageFranchiseNotExist_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 155, 0);&quot;&gt;Vous n&apos;avez aucune franchise à régler.&lt;/span&gt;&lt;span style=&quot;color: rgb(224, 142, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageFranchiseNotExist_0</name>
        <label>SCR_ErrorMessageFranchiseNotExist</label>
        <locationX>5066</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_ErrorMessageAdditionalRepairNotExist_DIT_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(221, 155, 0);&quot;&gt;Vous n&apos;avez aucun complément de réparation à régler.&lt;/span&gt;&lt;span style=&quot;color: rgb(224, 142, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageNoCaseGood</name>
        <label>SCR_ErrorMessageNoCaseGood</label>
        <locationX>4538</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_ErrorMessageNoCaseGood_DIT_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous ne pouvez faire cette action car il n&apos;y a pas d&apos;indemnisation validé ou le sinistre as encore des alertes à valider&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageNoEch_0_0</name>
        <label>SCR_ErrorMessageNoEch</label>
        <locationX>3218</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_LastUpdateCase</targetReference>
        </connector>
        <fields>
            <name>SCR_ErrorMessageNoEch_DIT_Message_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous n&apos;avez pas d&apos;indemnisation à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageNoGoodStatus</name>
        <label>SCR_ErrorMessageNoGoodStatus</label>
        <locationX>4010</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_ErrorMessageNoGoodStatus_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous ne pouvez faire cette action avec le statut actuel du sinistre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageNoPrime_0_0</name>
        <label>SCR_ErrorMessageNoPrime</label>
        <locationX>3482</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_LastUpdateCase</targetReference>
        </connector>
        <fields>
            <name>SCR_ErrorMessageNoPrime_DIT_Message_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous n&apos;avez pas d&apos;indemnisation à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageNoRepa_0_0</name>
        <label>SCR_ErrorMessageNoRepa</label>
        <locationX>2954</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_LastUpdateCase</targetReference>
        </connector>
        <fields>
            <name>SCR_ErrorMessageNoRepa_DIT_Message_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous n&apos;avez pas d&apos;indemnisation à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ErrorMessageSinistreEnCoursApprob</name>
        <label>SCR_ErrorMessageSinistreEnCoursApprob</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_ErrorMessageSinistreEnCoursApprob_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Vous ne pouvez effectuer d&apos;action tant que votre sinistre est en cours d&apos;approbation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_MessageApprobContrat</name>
        <label>SCR_MessageApprobContrat</label>
        <locationX>3218</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_MessageApprobContrat_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Une demande d&apos;approbation sur votre sinistre a été envoyé à votre manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_MessageApprobContratIndem</name>
        <label>SCR_MessageApprobContratIndem</label>
        <locationX>2954</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_MessageApprobContratIndem_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Une demande d&apos;approbation sur votre sinistre et sur vos indemnisation a été envoyé à votre manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_MessageApprobIndem</name>
        <label>SCR_MessageApprobIndem</label>
        <locationX>3482</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SCR_MessageApprobIndem_DIT_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 106, 0);&quot;&gt;Une demande d&apos;approbation sur vos indemnisation a été envoyé à votre manager.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_SelectAction</name>
        <label>SCR_SelectAction</label>
        <locationX>2822</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GET_TaskRecordType</targetReference>
        </connector>
        <fields>
            <name>ActionType</name>
            <extensionName>c:Flow_HandleDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPkName</name>
                <value>
                    <stringValue>Type_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPkLabel</name>
                <value>
                    <stringValue>Type action</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependantPkName</name>
                <value>
                    <stringValue>Sous_type_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dependantPkLabel</name>
                <value>
                    <stringValue>Détail action</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SCR_SelectAction_LTA_Com</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_ValidateClientWaiting</name>
        <label>SCR_ValidateClientWaiting</label>
        <locationX>3504</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_CheckValidationClientWaiting</targetReference>
        </connector>
        <fields>
            <name>SCR_ValidateClientWaiting_TOG_Check</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vous avez une attente client en cours sur votre sinistre, merci de valider si vous voulez continuer :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2696</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_CurrentCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ActionSAV</name>
        <label>ActionSAV</label>
        <locationX>5330</locationX>
        <locationY>758</locationY>
        <flowName>SF_Actions_SAV</flowName>
        <inputAssignments>
            <name>ActionType</name>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Commentaire</name>
            <value>
                <elementReference>SCR_SelectAction_LTA_Com</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SUB_ManageCalculIndem_0_0</name>
        <label>SUB_ManageCalculIndem</label>
        <locationX>3746</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>GET_LastUpdateCase</targetReference>
        </connector>
        <flowName>Manage_CalculIndem</flowName>
        <inputAssignments>
            <name>VAR_Action</name>
            <value>
                <elementReference>ActionType.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_CaseRecord</name>
            <value>
                <elementReference>GET_CurrentCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ManagePaiement</name>
        <label>SUB_ManagePaiement</label>
        <locationX>4274</locationX>
        <locationY>998</locationY>
        <flowName>CASE_Manage_PaiementVersement</flowName>
        <inputAssignments>
            <name>VAR_ForceRunPaiementVersement</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_ListCase</name>
            <value>
                <elementReference>VAR_ListCases</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>calcIndemnReparationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_IdGroupDispatch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_LIST_CalculIndemToManage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdEquipSinARepar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdSinistreAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
