hubSide/force-app/main/default/flows/CasRecNumOfPrevUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetCount</name>
        <label>SetCount</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>RecordCounts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNumberOfPrevious</name>
        <label>SetNumberOfPrevious</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.NumberOfPrevious__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordCounts</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsThemeFilled</name>
        <label>IsThemeFilled</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Theme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Theme__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCorrespondingReclamations</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>CasRecNumOfPrevUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Réclamation:  Mise à jour du champ Nombre de précédents</label>
    <loops>
        <name>CountRecords</name>
        <label>CountRecords</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>GetCorrespondingReclamations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetNumberOfPrevious</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCorrespondingReclamations</name>
        <label>GetCorrespondingReclamations</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réclamation</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Theme__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Theme__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsThemeFilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réclamation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Theme__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordCounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
