hubSide/force-app/main/default/flows/Caution_AdyenCaptureNotifHandler_Emprunt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envoie_Email_Passloc</name>
        <label>Envoie Email Passloc</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Emprunt__c.Caution_CaptureNotif_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_email_restitution_illipass</name>
        <label>send email restitution illipass</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>Emprunt__c.Caution_illipassCancelNotif_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_illipass_capture</name>
        <label>Send Mail illipass capture</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>Emprunt__c.Caution_illipassCaptureNotif_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_mail_restit_passloc</name>
        <label>Send mail &quot;restitué&quot; passloc</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Emprunt__c.Caution_CancelNotif_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>TaskValues</name>
        <label>Valorisation de la Tache</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Tache.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetTaskRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>L&apos;opération de restitution de la garantie a échoué</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tache.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaptureResult</name>
        <label>resultat de la capture ?</label>
        <locationX>677</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>GetTaskRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>KO</defaultConnectorLabel>
        <rules>
            <name>CaptureResult_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdyenCaptureStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mise_jour_Flag_Caution_Restitu</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>DepositRestitutionType</name>
        <label>Quel type de restitution ?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Send_mail_restit_passloc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Totale</defaultConnectorLabel>
        <rules>
            <name>DepositRestitutionType_Partial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Montant_a_deduire__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envoie_Email_Passloc</targetReference>
            </connector>
            <label>Partielle</label>
        </rules>
    </decisions>
    <decisions>
        <name>DepositRestitutionTypeIllipass</name>
        <label>Quel Type de Restitution ?</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>send_email_restitution_illipass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Totale</defaultConnectorLabel>
        <rules>
            <name>DepositRestitutionTypeIllipass_Partial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Montant_a_deduire__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail_illipass_capture</targetReference>
            </connector>
            <label>Partielle</label>
        </rules>
    </decisions>
    <decisions>
        <name>TemplateChoice</name>
        <label>Choix du Template</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>DepositRestitutionTypeIllipass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>illipass</defaultConnectorLabel>
        <rules>
            <name>BE_EScontracts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <label>contrats BE ou ES</label>
        </rules>
        <rules>
            <name>PassLoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Id_distributeur__r.Enseigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DepositRestitutionType</targetReference>
            </connector>
            <label>PassLoc</label>
        </rules>
    </decisions>
    <description>Traitement d&apos;envoi de mail au client lors de la confirmation de réussite de la capture de la préautorisation Adyen.</description>
    <formulas>
        <name>ByPassingDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2/(24*60*60)</expression>
    </formulas>
    <interviewLabel>Caution_AdyenCaptureNotifHandler_Emprunt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_AdyenCaptureNotifHandler_Emprunt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>TaskCreation</name>
        <label>Création de la tache</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputReference>Tache</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetGroup</name>
        <label>Recuperer le Groupe</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location_ActionPostCaution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecordType</name>
        <label>Record Type de la tâche</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tache</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mise_jour_Flag_Caution_Restitu</name>
        <label>Mise à jour Flag Caution Restitué</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>TemplateChoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Caution_restituee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowBypass__c</field>
            <value>
                <elementReference>ByPassingDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaptureResult</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>CapturePspReference__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>CapturePspReference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AdyenCaptureStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Wait</stringValue>
            </value>
        </filters>
        <filters>
            <field>AdyenCaptureStatus__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Emprunt__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Tache</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
