hubSide/force-app/main/default/flows/Caution_AdyenNotificationHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>confirmationEmail</name>
        <label>confirmationEmail_PassLoc</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <actionName>Reservation__c.Caution_PreauthDoneNotif</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>confirmationEmail_IllyPass</name>
        <label>confirmationEmail_IllyPass</label>
        <locationX>440</locationX>
        <locationY>2375</locationY>
        <actionName>Reservation__c.Caution_PreauthDoneNotif_IllyPass</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>getContractType</name>
        <label>getContractType</label>
        <locationX>176</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>contractType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contrat__r.Id_distributeur__r.Enseigne__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailTemplateRouting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReservationId</name>
        <label>setReservationId</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>currReservationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EmpruntExists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the values of the fields of a new record Emprunt, based on the values of the fields of the converted Reservation</description>
        <name>setConvertedEmprunt</name>
        <label>setConvertedEmprunt</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Contrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contrat__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Date_retour_prevu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EstimatedReturnDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Produit_emprunte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Produit_reserve__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Reservation_origine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En magasin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.InitialAuthorizationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.InitialAuthorizationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.PspReference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PspReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedEmprunt.Caution_recue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConvReservationToEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateEmprunt</name>
        <label>setUpdateEmprunt</label>
        <locationX>176</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>currEmprunt.Caution_recue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>udpateEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a task to advise the SFAM operator that a caution has been authorized, and the &quot;Emprunt&quot; is ready to be processed</description>
        <name>Task_KO</name>
        <label>Task</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>TaskDef.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTaskRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Garantie déposée, mais conversion Réservation&gt;Emprunt Bloquée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTaskGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create a task to advise the SFAM operator that a caution has been authorized, and the &quot;Emprunt&quot; is ready to be processed</description>
        <name>Task_OK</name>
        <label>Task</label>
        <locationX>176</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>TaskDef.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTaskRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currEmprunt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Règlement du Dépôt de Garantie OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskDef.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTaskGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>emailTemplateRouting</name>
        <label>emailTemplateRouting</label>
        <locationX>176</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>confirmationEmail_IllyPass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fnac/Darty-IllyPass</defaultConnectorLabel>
        <rules>
            <name>contratsES_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <label>contratsES/BE (SFAMI-2119)</label>
        </rules>
        <rules>
            <name>SFAM_PassLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>confirmationEmail</targetReference>
            </connector>
            <label>SFAM-PassLocation</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if the &quot;Reservation&quot; record has already been converted to an &quot;Emprunt&quot; record</description>
        <name>EmpruntExists</name>
        <label>EmpruntExists</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>setConvertedEmprunt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>empruntAlreadyExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emprunt_cree__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>currEmprunt</targetReference>
            </connector>
            <label>empruntAlreadyExists</label>
        </rules>
    </decisions>
    <description>Transformer la réservation en emprunt à reception du dépot de garantie dans Adyen, et envoyer un email de confirmation du dépot au client</description>
    <formulas>
        <name>EstimatedReturnDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Date_retrait__c} + {!$Record.Duree_emprunt__c}</expression>
    </formulas>
    <interviewLabel>Caution_AdyenNotificationHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_AdyenNotificationHandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ConvReservationToEmprunt</name>
        <label>Conversion de la Reservation en Emprunt</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>currEmprunt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_KO</targetReference>
        </faultConnector>
        <inputReference>ConvertedEmprunt</inputReference>
    </recordCreates>
    <recordCreates>
        <name>TaskCreation</name>
        <label>TaskCreation</label>
        <locationX>176</locationX>
        <locationY>2015</locationY>
        <connector>
            <targetReference>getContractType</targetReference>
        </connector>
        <inputReference>TaskDef</inputReference>
    </recordCreates>
    <recordCreates>
        <name>TaskCreation_0</name>
        <label>TaskCreation</label>
        <locationX>528</locationX>
        <locationY>1175</locationY>
        <inputReference>TaskDef</inputReference>
    </recordCreates>
    <recordLookups>
        <name>currEmprunt</name>
        <label>currEmprunt</label>
        <locationX>176</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setUpdateEmprunt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reservation_origine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Emprunt__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTaskGroup</name>
        <label>Task Group  from DeveloperName</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReservationId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location_ActionPostCaution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTaskRecordType</name>
        <label>TaskRecordType from DeveloperName</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTaskGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tache</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>udpateEmprunt</name>
        <label>udpateEmprunt</label>
        <locationX>176</locationX>
        <locationY>1775</locationY>
        <connector>
            <targetReference>Task_OK</targetReference>
        </connector>
        <inputReference>currEmprunt</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTaskRecordType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PspReference__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Reservation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Creation of en Emrpunt based on the informations of the Reservation</description>
        <name>ConvertedEmprunt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Emprunt__c</objectType>
    </variables>
    <variables>
        <name>currReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskDef</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
