hubSide/force-app/main/default/flows/Caution_SendPaymentLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GenerateUrl</name>
        <label>GenerateUrl</label>
        <locationX>624</locationX>
        <locationY>1883</locationY>
        <actionName>PaymentLinkGeneration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkUrlAdyen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currency_x</name>
            <value>
                <elementReference>inParams.currency_x</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>inParams.expirationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantAccount</name>
            <value>
                <elementReference>inParams.merchantAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reference</name>
            <value>
                <elementReference>inParams.reference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shopperEmail</name>
            <value>
                <elementReference>inParams.shopperEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shopperReference</name>
            <value>
                <elementReference>inParams.shopperReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>CautionAmountAdyenFormat</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Url</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmail_Illi</name>
        <label>sendEmail_Illi</label>
        <locationX>866</locationX>
        <locationY>3543</locationY>
        <actionName>Reservation__c.Caution_PayLinkNotif_IllyPass</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UpdateReservation.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendUrlByMail</name>
        <label>SendUrlByMail</label>
        <locationX>360</locationX>
        <locationY>3543</locationY>
        <actionName>Reservation__c.Caution_PayLinkNotif</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>UpdateReservation.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SaveUrl</name>
        <label>SaveUrl</label>
        <locationX>615</locationX>
        <locationY>2202</locationY>
        <assignmentItems>
            <assignToReference>UpdateReservation.AdyenPaymentLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDistrib_from_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInParams</name>
        <label>setInParams</label>
        <locationX>826</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>inParams.currency_x</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.merchantAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getHubsideMerchantAccount.Id_adyen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputParams.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputParams.Email_client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetShopperRef.AccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountCaution</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetShopperRef.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Prix_indicatif__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateReservation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.expirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetInputParams.Date_retrait__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTestInParams</name>
        <label>setTestInParams</label>
        <locationX>434</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>inParams.currency_x</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.merchantAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hubside_Salaise_TEST</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEST_REFERENCE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>thierry.saint-jean@inetum.world</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TSJ001</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>56000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateReservation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a6E1w0000000LynEAE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toto Lacastagne</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TELEPHONE SUPER</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientProductPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currEmprunt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkUrlAdyen</name>
        <label>checkAdyenUrl</label>
        <locationX>614</locationX>
        <locationY>2040</locationY>
        <defaultConnector>
            <targetReference>SaveUrl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UrlIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>urlNotGen</targetReference>
            </connector>
            <label>UrlIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>testCaution</name>
        <label>testCaution</label>
        <locationX>621</locationX>
        <locationY>1347</locationY>
        <defaultConnector>
            <targetReference>Confirmer_envoi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CautionAlreadyPaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currEmprunt.Caution_recue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputParams.PspReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CautionDone</targetReference>
            </connector>
            <label>CautionAlreadyPaid</label>
        </rules>
        <rules>
            <name>InvalidContract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputParams.Contrat__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidContractMsg</targetReference>
            </connector>
            <label>Contrat Invalide</label>
        </rules>
        <rules>
            <name>InvalidBeginDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInputParams.Date_retrait__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvalidBeginDateMsg</targetReference>
            </connector>
            <label>Date Retrait dans le passé</label>
        </rules>
    </decisions>
    <decisions>
        <name>testContractType</name>
        <label>emailTemplateRouting</label>
        <locationX>600</locationX>
        <locationY>3116</locationY>
        <defaultConnector>
            <targetReference>sendEmail_Illi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fnac/Darty - Illipass</defaultConnectorLabel>
        <rules>
            <name>contratES_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetInputParams.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInputParams.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Email_Sent</targetReference>
            </connector>
            <label>contratES/BE (SFAMA-2119)</label>
        </rules>
        <rules>
            <name>SFAM_PassLocation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getEnseigne_from_Distrib.Enseigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendUrlByMail</targetReference>
            </connector>
            <label>SFAM-PassLocation</label>
        </rules>
    </decisions>
    <decisions>
        <name>testVsRun</name>
        <label>testVsRun</label>
        <locationX>607</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>GetInputParams</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>setTestParams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TestFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTestInParams</targetReference>
            </connector>
            <label>setTestParams</label>
        </rules>
    </decisions>
    <description>Envoyer un lien de paiement adyen au client depuis une réservation</description>
    <formulas>
        <name>AmountCaution</name>
        <dataType>Number</dataType>
        <expression>{!getProduct.Prix_indicatif__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CautionAmountAdyenFormat</name>
        <dataType>Number</dataType>
        <expression>{!inParams.value}*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Caution_SendPaymentLink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_SendPaymentLink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>currEmprunt</name>
        <label>currEmprunt</label>
        <locationX>629</locationX>
        <locationY>1165</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>testCaution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputParams.Emprunt_cree__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Emprunt__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDistrib_from_Contract</name>
        <label>getDistrib from Contract</label>
        <locationX>615</locationX>
        <locationY>2453</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEnseigne_from_Distrib</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputParams.Contrat__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_distributeur__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEnseigne_from_Distrib</name>
        <label>getEnseigne from Distrib</label>
        <locationX>623</locationX>
        <locationY>2668</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reservation_UpdatePaymentUrl</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDistrib_from_Contract.Id_distributeur__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enseigne__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getHubsideMerchantAccount</name>
        <label>getHubsideMerchantAccount</label>
        <locationX>827</locationX>
        <locationY>1010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setInParams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_adyen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_adyen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>récupération des paramètres d&apos;appel du service Adyen à partir d&apos;enregistrement en cours</description>
        <name>GetInputParams</name>
        <label>GetInputParams</label>
        <locationX>828</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetStock</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Reservation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Email_client__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Produit_reserve__c</queriedFields>
        <queriedFields>Emprunt_cree__c</queriedFields>
        <queriedFields>Date_retrait__c</queriedFields>
        <queriedFields>Contrat__c</queriedFields>
        <queriedFields>PspReference__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>récupération du prduit loué, et en particulier son prix pour le calcul de la caution</description>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>827</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetShopperRef</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetStock.Produit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Prix_indicatif__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShopperRef</name>
        <label>GetShopperRef</label>
        <locationX>827</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHubsideMerchantAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputParams.Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetStock</name>
        <label>GetStock</label>
        <locationX>827</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetInputParams.Produit_reserve__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stock_produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reservation_UpdatePaymentUrl</name>
        <label>Reservation_UpdatePaymentUrl</label>
        <locationX>617</locationX>
        <locationY>2914</locationY>
        <connector>
            <targetReference>testContractType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>testContractType</targetReference>
        </faultConnector>
        <inputReference>UpdateReservation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CautionDone</name>
        <label>Caution déjà autorisée</label>
        <locationX>968</locationX>
        <locationY>1289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p&gt;La caution a déjà été réglée.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmer_envoi</name>
        <label>Confirmer envoi</label>
        <locationX>622</locationX>
        <locationY>1686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GenerateUrl</targetReference>
        </connector>
        <fields>
            <name>ConfirmQuestion</name>
            <fieldText>&lt;p&gt;Etes vous sûr de vouloir envoyer un mail de demande de caution au client pour cette réservation ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmpruntDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Client :&lt;/b&gt; {!ClientName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Materiel :&lt;/b&gt; {!ClientProduct}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Prix indicatif :&lt;/b&gt; {!ClientProductPrice}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Caution :&lt;/b&gt;&lt;b style=&quot;color: rgb(131, 12, 12);&quot;&gt; {!inParams.value} {!inParams.currency_x}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailSent</name>
        <label>Email Envoyé</label>
        <locationX>627</locationX>
        <locationY>3542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailSentMsg</name>
            <fieldText>&lt;p&gt;L&apos;email de demande de caution a été envoyé au client&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidBeginDateMsg</name>
        <label>Date de Retrait Invalide</label>
        <locationX>954</locationX>
        <locationY>1566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg3</name>
            <fieldText>&lt;p&gt;La date de retrait spécifiée pour cette réservation est située dans le passée. Vous devez saisir une date dans le futur pour réaliser une demande d&apos;envoi de lien Adyen de dépot de garantie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidContractMsg</name>
        <label>Contrat Invalide</label>
        <locationX>968</locationX>
        <locationY>1422</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Msg2</name>
            <fieldText>&lt;p&gt;Le contrat lié à cette réservation n&apos;est pas au statut valide ; Vous ne pouvez donc pas réaliser de demande de dépôt de garantie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Email_Sent</name>
        <label>No Email Sent</label>
        <locationX>860</locationX>
        <locationY>3112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The contract linked to this location is Belgian of Spanish, therefore no email has been sent to the customer, but the Adyen URL has been successfully generated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>urlNotGen</name>
        <label>Lien de paiement non généré</label>
        <locationX>826</locationX>
        <locationY>2039</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;Le lien de paiement n&apos;a pas pu être généré par Adyen. Merci de contacter un administrateur pour plus d&apos;information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>487</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>testVsRun</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientProductPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inParams</name>
        <apexClass>PaymentLinkParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateReservation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reservation__c</objectType>
    </variables>
    <variables>
        <name>Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
