hubSide/force-app/main/default/flows/Caution_EmailRelance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailRelance_Illipass</name>
        <label>SendEmailRelance_Illipass</label>
        <locationX>440</locationX>
        <locationY>396</locationY>
        <actionName>Reservation__c.Caution_RelanceNotif_IllyPass</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendEmailRelance_PassLoc</name>
        <label>sendEmailRelance_PassLoc</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <actionName>Reservation__c.Caution_RelanceNotif</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>templateRouting</name>
        <label>templateRouting</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>SendEmailRelance_Illipass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contratsBE_ES</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Record_Type_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BE</stringValue>
                </rightValue>
            </conditions>
            <label>contratsBE/ES (SFMA-2119)</label>
        </rules>
        <rules>
            <name>SFAM_hubside_Loc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrat__r.Id_distributeur__r.Enseigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendEmailRelance_PassLoc</targetReference>
            </connector>
            <label>SFAM - hubside Loc</label>
        </rules>
    </decisions>
    <description>Envoyer un email de rappel de nécessité de dépot de garantie pour valider la réservation</description>
    <interviewLabel>Caution_EmailRelance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_EmailRelance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>templateRouting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Caution_FlagRelance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Reservation__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-14</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
