hubSide/force-app/main/default/flows/Caution_SendPaymentLink_fromEmprunt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callAdyenPayByLink</name>
        <label>callAdyenPayByLink</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <actionName>PaymentLinkGeneration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckLinkGeneration</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LinkNotGenerated_0</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>currency_x</name>
            <value>
                <elementReference>inParams.currency_x</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>expirationDate</name>
            <value>
                <elementReference>inParams.expirationDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantAccount</name>
            <value>
                <elementReference>inParams.merchantAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reference</name>
            <value>
                <elementReference>inParams.reference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shopperEmail</name>
            <value>
                <elementReference>inParams.shopperEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shopperReference</name>
            <value>
                <elementReference>inParams.shopperReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>ValueCentimes</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Url</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendillpassMAil</name>
        <label>sendillpassMAil</label>
        <locationX>1106</locationX>
        <locationY>2174</locationY>
        <actionName>Emprunt__c.Caution_PayLinkNotif_IlliPass_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ReadEmprunt.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendPassLocMail</name>
        <label>sendPassLocMail</label>
        <locationX>842</locationX>
        <locationY>2174</locationY>
        <actionName>Emprunt__c.Caution_PayLinkNotif_Emprunt</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>récupération de l&apos;id de l&apos;emprunt</description>
        <name>getEmpruntId</name>
        <label>getEmpruntId</label>
        <locationX>1650</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>EmpruntId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReadEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEmpruntAdyenPaymentLink</name>
        <label>Valoriser le lien de payement sur l&apos;emprunt</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>recUpdateEmprunt.AdyenPaymentLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Url</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateEmprunt.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInParams</name>
        <label>setInParams</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>inParams.currency_x</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.expirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.merchantAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadMerchantAccount.Id_adyen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadEmprunt.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadEmprunt.Email_client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.shopperReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReadEmprunt.Client__r.AccountNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MontantCaution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkParams</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckLinkGeneration</name>
        <label>Le lien de payment a t il été correctement généré</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>LinkNotGenerated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>CheckLinkGeneration_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Url</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEmpruntAdyenPaymentLink</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkParams</name>
        <label>Vérification de la complétion des paramètres</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>checkParams_1KO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>inParams.currency_x</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.expirationDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.merchantAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.reference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.shopperEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.shopperReference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inParams.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ImpossibleToCallAdyen</targetReference>
            </connector>
            <label>au moins 1 Paramètre KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChoseEmailTemplate</name>
        <label>Quel template d&apos;email utiliser ?</label>
        <locationX>842</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>sendillpassMAil</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>illiPass</defaultConnectorLabel>
        <rules>
            <name>contratsES_BE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReadEmprunt.Contrat__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Email_Sent</targetReference>
            </connector>
            <label>contratsES/BE (SFAMI-2119)</label>
        </rules>
        <rules>
            <name>ChoseEmailTemplate_PassLoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.Contrat__r.Id_distributeur__r.Enseigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sendPassLocMail</targetReference>
            </connector>
            <label>PassLoc</label>
        </rules>
    </decisions>
    <decisions>
        <name>DepositYetAuthorized</name>
        <label>Une caution a t elle déjà été autorisée pour cet Emprunt ?</label>
        <locationX>380</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ReadMerchantAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>DepositYetAuthorized_Y</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.PspReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReadEmprunt.Caution_recue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Msg_DepositYetAuthorized</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentLinkExists</name>
        <label>ESt ce qu&apos;un lien de paiement existe déjà</label>
        <locationX>1139</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>ReservationExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>PaymentLinkExists_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.AdyenPaymentLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PayLinkAlreadySent</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReservationExists</name>
        <label>L&apos;emprunt provient-il d&apos;un conversion de reservation ?</label>
        <locationX>1139</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Reservation_Existante</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oui</defaultConnectorLabel>
        <rules>
            <name>ReservationExists_N</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.Reservation_origine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DepositYetAuthorized</targetReference>
            </connector>
            <label>Non</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidContract</name>
        <label>Le contrat est il valide ?</label>
        <locationX>1650</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>InvalidContract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>ValidContract_Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReadEmprunt.Contrat__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaymentLinkExists</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <description>Envoyer un lien de paiement adyen au client depuis un emprunt</description>
    <formulas>
        <description>Concatenation FirstName + LastName because Account.Name did not operate when called in the text message.</description>
        <name>ClientName</name>
        <dataType>String</dataType>
        <expression>{!ReadEmprunt.Client__r.FirstName} + &apos; &apos; + {!ReadEmprunt.Client__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ExpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +3</expression>
    </formulas>
    <formulas>
        <name>MontantCaution</name>
        <dataType>Number</dataType>
        <expression>{!ReadEmprunt.Produit_emprunte__r.Produit__r.Prix_indicatif__c}/2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>conversion en centime du montant pour envoi à Adyen</description>
        <name>ValueCentimes</name>
        <dataType>Number</dataType>
        <expression>{!inParams.value}* 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Caution_SendPaymentLink_fromEmprunt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_SendPaymentLink_fromEmprunt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ReadEmprunt</name>
        <label>Lecture des données de l&apos;Emprunt</label>
        <locationX>1650</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmpruntId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Emprunt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PspReference__c</queriedFields>
        <queriedFields>Reservation_origine__c</queriedFields>
        <queriedFields>Caution_recue__c</queriedFields>
        <queriedFields>Email_client__c</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>Produit_emprunte__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AdyenPaymentLink__c</queriedFields>
        <queriedFields>Contrat__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ReadMerchantAccount</name>
        <label>Lecture du Compte Marchand Adyen</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setInParams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_adyen__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_adyen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateEmprunt</name>
        <label>updateEmprunt</label>
        <locationX>842</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>ChoseEmailTemplate</targetReference>
        </connector>
        <inputReference>recUpdateEmprunt</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>callAdyenPayByLink</targetReference>
        </connector>
        <fields>
            <name>msg4</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Etes vous sûr de vouloir envoyer un mail de demande de caution au client pour cet emprunt ?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Client :&lt;/b&gt; {!ClientName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Materiel :&lt;/b&gt; {!ReadEmprunt.Produit_emprunte__r.Produit__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Prix indicatif :&lt;/b&gt; {!ReadEmprunt.Produit_emprunte__r.Produit__r.Prix_indicatif__c} EUR&lt;/p&gt;&lt;p&gt;&lt;b&gt;Caution :&lt;/b&gt;&lt;b style=&quot;color: rgb(131, 12, 12);&quot;&gt; {!inParams.value} {!inParams.currency_x}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailSent</name>
        <label>Email Envoyé</label>
        <locationX>842</locationX>
        <locationY>2510</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg7</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;L&apos;email de demande de caution a été envoyé au client&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ImpossibleToCallAdyen</name>
        <label>Impossible d&apos;appeler Adyen</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg3</name>
            <fieldText>&lt;p&gt;Impossible de générer le lien de dépôt de garantie Adyen. l&apos;un des paramètres suivant n&apos;est pas valorisé :&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Compte Marchand Adyen : {!inParams.merchantAccount}&lt;/li&gt;&lt;li&gt;Montant : {!inParams.value}&lt;/li&gt;&lt;li&gt;Devise : {!inParams.currency_x}&lt;/li&gt;&lt;li&gt;Référénce :{!inParams.reference}&lt;/li&gt;&lt;li&gt;Compte Client : {!inParams.shopperReference}&lt;/li&gt;&lt;li&gt;Email du Client : {!inParams.shopperEmail}&lt;/li&gt;&lt;li&gt;Date d&apos;expiration du lien : {!inParams.expirationDate}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidContract</name>
        <label>Contrat Invalide</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MSg8</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Le contrat lié à cet emprunt n&apos;est pas au statut valide ; Vous ne pouvez donc pas réaliser de demande de dépôt de garantie.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LinkNotGenerated</name>
        <label>Lien non généré</label>
        <locationX>1370</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mesg6</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le lien de paiement n&apos;a pas pu être généré par Adyen. Merci de contacter un administrateur pour plus d&apos;information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LinkNotGenerated_0</name>
        <label>Lien non généré</label>
        <locationX>1634</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>mesg6_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le lien de paiement n&apos;a pas pu être généré par Adyen. Merci de contacter un administrateur pour plus d&apos;information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg_DepositYetAuthorized</name>
        <label>Garantie déjà déposée</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg2</name>
            <fieldText>&lt;p&gt;Le dépôt de garantie a déjà été déposé. Vous ne pouvez pas renvoyer de nouveau lien d&apos;autorisation du dépôt de garantie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Email_Sent</name>
        <label>No Email Sent</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg6</name>
            <fieldText>&lt;p&gt;The contract linked to this location is Belgian of Spanish, therefore no email has been sent to the customer, but the Adyen URL has been successfully generated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PayLinkAlreadySent</name>
        <label>Lien de payement déjà Envoyé</label>
        <locationX>1007</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReservationExists</targetReference>
        </connector>
        <fields>
            <name>msg5</name>
            <fieldText>&lt;p&gt;Un lien d&apos;autorisation du dépôt de garantie à déjà été généré et envoyé au client. Etes-vous sûr de vouloir poursuivre la génération d&apos;un nouveau lien ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reservation_Existante</name>
        <label>Reservation Existante</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p&gt;Une réservation existe pour cet Emprunt. La caution a déjà du être gérée au niveau de cette réservation. Il vous est donc impossible de renvoyer un lien d&apos;autorisation du dépôt de garantie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1524</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEmpruntId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmpruntId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inParams</name>
        <apexClass>PaymentLinkParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recUpdateEmprunt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Emprunt__c</objectType>
    </variables>
    <variables>
        <name>Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
