hubSide/force-app/main/default/flows/Caution_AdjustAuthorization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>callAdyenAdjustment</name>
        <label>callAdyenAdjustment</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <actionName>AdjustAuthorisation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isBlank_AdjustPspRef</targetReference>
        </connector>
        <faultConnector>
            <targetReference>isBlank_AdjustPspRef_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currency_x</name>
            <value>
                <elementReference>inParams.currency_x</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantAccount</name>
            <value>
                <elementReference>inParams.merchantAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pspReference</name>
            <value>
                <elementReference>inParams.pspReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>inParams.value</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>setInParams</name>
        <label>setInParams</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>inParams.currency_x</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.merchantAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getHusideMerchantAccount.Id_adyen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.pspReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PspReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Montant_caution_sortie__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pauseToCallOut</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTargetPspRef</name>
        <label>setTargetPspRef</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>targetPspRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>callAdyenAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTargetPspREf2</name>
        <label>setTargetPspREf</label>
        <locationX>314</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>targetPspRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetAdjustPspReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEmprunt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTargetPspREf2_0</name>
        <label>setTargetPspREf</label>
        <locationX>842</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>targetPspRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FaultAdjustPspReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEmprunt_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTargetPspRef_0</name>
        <label>setTargetPspRef</label>
        <locationX>578</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>targetPspRef</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fault</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEmprunt_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isBlank_AdjustPspRef</name>
        <label>isBlank AdjustPspRef ?</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>setTargetPspREf2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdjustPspReferences__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTargetPspRef</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isBlank_AdjustPspRef_0</name>
        <label>isBlank AdjustPspRef ?</label>
        <locationX>710</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>setTargetPspREf2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AdjustPspReferences__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTargetPspRef_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Prolonger de 28j la validitié d&apos;une pré-autorisation de caution

07/06/2021 STH : Dans Update Record le choix &quot;Use the emprunt $Record global variable&quot; est de la v52.0 donc l&apos;option &quot;Specify conditions to identify records...&quot; a été choisi pour resté en v51.0</description>
    <formulas>
        <name>FaultAdjustPspReference</name>
        <dataType>String</dataType>
        <expression>{!$Record.AdjustPspReferences__c}+  &quot; Fault&quot;</expression>
    </formulas>
    <formulas>
        <name>TargetAdjustPspReference</name>
        <dataType>String</dataType>
        <expression>{!$Record.AdjustPspReferences__c}+  &quot; &quot; + {!callAdyenAdjustment}</expression>
    </formulas>
    <interviewLabel>Caution_AdjustAuthorization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_AdjustAuthorization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getHusideMerchantAccount</name>
        <label>getHusideMerchantAccount</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setInParams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_adyen__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id_adyen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_adyen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateEmprunt</name>
        <label>update Date &amp; PspRef on Emprunt</label>
        <locationX>182</locationX>
        <locationY>1188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustPspReferences__c</field>
            <value>
                <elementReference>targetPspRef</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastAuthorizationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Emprunt__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEmprunt_0</name>
        <label>update Date &amp; PspRef on Emprunt</label>
        <locationX>710</locationX>
        <locationY>1188</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustPspReferences__c</field>
            <value>
                <elementReference>targetPspRef</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastAuthorizationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Emprunt__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getHusideMerchantAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AdjustAuthorizationFlg__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Emprunt__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-05-07</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inParams</name>
        <apexClass>AdjustParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>targetPspRef</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>pauseToCallOut</name>
        <label>pauseToCallOut</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>callAdyenAdjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>dummyPauseConfig</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>callAdyenAdjustment</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>dummyPauseConfig</label>
        </waitEvents>
    </waits>
</Flow>
