hubSide/force-app/main/default/flows/Caution_CapturePreauthorization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallCancellation</name>
        <label>CallCancellation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>CancelAuthorisation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Emprunt_CapturePsp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>merchantAccount</name>
            <value>
                <elementReference>inParams.merchantAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pspReference</name>
            <value>
                <elementReference>inParams.pspReference</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CallCaptureAPI</name>
        <label>CallCaptureAPI</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <actionName>CapturePayment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Emprunt_CapturePsp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>currency_x</name>
            <value>
                <elementReference>inParams.currency_x</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantAccount</name>
            <value>
                <elementReference>inParams.merchantAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pspReference</name>
            <value>
                <elementReference>inParams.pspReference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reference</name>
            <value>
                <elementReference>inParams.reference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>value</name>
            <value>
                <elementReference>inParams.value</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CapturePspReference</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>CaptureParams</name>
        <label>CaptureParams</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>inParams.currency_x</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.merchantAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getHusideMerchantAccount.Id_adyen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.pspReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currEmprunt.PspReference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.reference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currEmprunt.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inParams.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MontantPrelevmtCaution</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>testAmount</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>testAmount</name>
        <label>testAmount</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CallCaptureAPI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>amount != 0 &gt; capture</defaultConnectorLabel>
        <rules>
            <name>amout_0_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inParams.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallCancellation</targetReference>
            </connector>
            <label>amout = 0 &gt; Cancel</label>
        </rules>
    </decisions>
    <description>Libérer ou Encaisser tout ou partie d&apos;une caution lors du retour du matériel loué (Partie Appel WS)</description>
    <formulas>
        <name>CaptureRef</name>
        <dataType>String</dataType>
        <expression>&apos;RETOUR_&apos; + {!currEmprunt.Name}</expression>
    </formulas>
    <formulas>
        <name>MontantPrelevmtCaution</name>
        <dataType>Number</dataType>
        <expression>if ({!currEmprunt.Montant_facture__c} +{!deductedAmountInput} &gt;{!currEmprunt.Montant_caution_sortie__c}, {!currEmprunt.Montant_caution_sortie__c}*100, ({!currEmprunt.Montant_facture__c} + {!deductedAmountInput})*100)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Caution_CapturePreauth {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_CapturePreauth</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>currEmprunt</name>
        <label>currEmprunt</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHusideMerchantAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Emprunt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PspReference__c</queriedFields>
        <queriedFields>Montant_a_deduire__c</queriedFields>
        <queriedFields>Montant_facture__c</queriedFields>
        <queriedFields>Montant_caution_sortie__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getHusideMerchantAccount</name>
        <label>getHusideMerchantAccount</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaptureParams</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id_adyen__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id_adyen__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Id_adyen__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Emprunt_CapturePsp</name>
        <label>Emprunt_CapturePsp</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CapturePspReference__c</field>
            <value>
                <elementReference>CapturePspReference</elementReference>
            </value>
        </inputAssignments>
        <object>Emprunt__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>currEmprunt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CapturePspReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deductedAmountInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>currEmprunt.Montant_a_deduire__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>inParams</name>
        <apexClass>CaptureParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
