hubSide/force-app/main/default/flows/Caution_CapturePreauthScreen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>SetDeductedAmount</name>
        <label>VAloriser Montant A déduire</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>deductedAmountWithDefaultValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>deductedAmount_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>captureAuth_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task</name>
        <label>Task</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>newTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTaskRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currEmprunt.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currEmprunt.Client__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Caution inferieure au montant à encaisser</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskGroup_from_DevName.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskCreation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CautionRestituee</name>
        <label>CautionRestituee</label>
        <locationX>512</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>deductedAmountTesting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadySentBack</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currEmprunt.CapturePspReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currEmprunt.AdyenCaptureStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CautionAlreadySentBack</targetReference>
            </connector>
            <label>AlreadySentBack</label>
        </rules>
    </decisions>
    <decisions>
        <name>deductedAmountTesting</name>
        <label>Tester le champs MontantADeduire</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>captureAuth_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>deductedAmountNotSet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>currEmprunt.Montant_a_deduire__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currEmprunt.Montant_a_deduire__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deductedAmountNotTyped_0</targetReference>
            </connector>
            <label>Le montant à déduire n&apos;est pas saisie</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCautionAdyen</name>
        <label>isCautionAdyen</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>CautionRestituee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cautionAdyen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currEmprunt.PspReference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NotCautionAdyen</targetReference>
            </connector>
            <label>NotCautionAdyen</label>
        </rules>
    </decisions>
    <decisions>
        <name>TestAmount</name>
        <label>TestAmount</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>reqSent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfAmountToBig_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AmountTooBig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTaskRecordType</targetReference>
            </connector>
            <label>IfAmountToBig&gt;Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>TestAmountToCapture</name>
        <label>TestAmountToCapture</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>captureAuthorization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AmountSmallThanCaution (OK)</defaultConnectorLabel>
        <rules>
            <name>AmountTooBig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>montantEncaisse</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>currEmprunt.Montant_caution_sortie__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AmoutTooBig</targetReference>
            </connector>
            <label>AmountBigThanCaution</label>
        </rules>
    </decisions>
    <description>Libérer ou Encaisser tout ou partie d&apos;une caution lors du retour du matériel loué (Partie Ecrans)</description>
    <formulas>
        <description>2 sec after now to allow flow to update the field in spite of the validation rule</description>
        <name>BypassingDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 2/(24*60*60)</expression>
    </formulas>
    <formulas>
        <name>montantEncaisse</name>
        <dataType>Number</dataType>
        <expression>{!deductedAmountWithDefaultValue} + {!currEmprunt.Montant_facture__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>montantRendu</name>
        <dataType>Number</dataType>
        <expression>{!currEmprunt.Montant_caution_sortie__c} - {!montantEncaisse}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Caution_CapturePreauthScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Caution_CapturePreauthScreen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>TaskCreation</name>
        <label>TaskCreation</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>reqSent</targetReference>
        </connector>
        <inputReference>newTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>currEmprunt</name>
        <label>currEmprunt</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCautionAdyen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Emprunt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Montant_caution_sortie__c</queriedFields>
        <queriedFields>Montant_a_deduire__c</queriedFields>
        <queriedFields>Montant_facture__c</queriedFields>
        <queriedFields>PspReference__c</queriedFields>
        <queriedFields>CapturePspReference__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Client__c</queriedFields>
        <queriedFields>AdyenCaptureStatus__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTaskRecordType</name>
        <label>getTaskRecordType</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TaskGroup_from_DevName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tache</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TaskGroup_from_DevName</name>
        <label>TaskGroup from DevName</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Location_ActionPostCaution</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setFlagRestitue</name>
        <label>setFlagRestitue</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>TestAmount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdyenCaptureStatus__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FlowBypass__c</field>
            <value>
                <elementReference>BypassingDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant_a_deduire__c</field>
            <value>
                <elementReference>deductedAmountWithDefaultValue</elementReference>
            </value>
        </inputAssignments>
        <object>Emprunt__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AmoutTooBig</name>
        <label>Montant à encaissé supérieur au montant préautorisé.</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>captureAuthorization</targetReference>
        </connector>
        <fields>
            <name>msgAmountTooBig</name>
            <fieldText>&lt;p&gt;Le montant à capturer ({!montantEncaisse} €) est supérieur au montant du dépôt de garantie ({!currEmprunt.Montant_caution_sortie__c}€). Si vous poursuivez le process de restitution de dépôt de garantie, la totalité du dépôt sera encaissé et une tâche sera créée pour le recouvrement de l’excédent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>captureAuth_0_0</name>
        <label>captureAuth</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TestAmountToCapture</targetReference>
        </connector>
        <fields>
            <name>confirmMessage_0_0_0_0</name>
            <fieldText>&lt;p&gt;Êtes-vous sur de vouloir procéder à la restitution du dépôt de garantie ?&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Montant initial du dépôt : &lt;b style=&quot;color: rgb(0, 118, 253);&quot;&gt;{!currEmprunt.Montant_caution_sortie__c} €&lt;/b&gt;&lt;/li&gt;&lt;li&gt;Montant encaissé : &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!montantEncaisse} €&lt;/b&gt;&lt;span style=&quot;color: rgb(176, 176, 176);&quot;&gt; (dont {!currEmprunt.Montant_a_deduire__c} € pour défaut et {!currEmprunt.Montant_facture__c} € pour retard)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;Montant retourné au client : &lt;b style=&quot;color: rgb(9, 189, 0);&quot;&gt;{!montantRendu} €&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CautionAlreadySentBack</name>
        <label>CautionAlreadySentBack</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AlreadySentBack_Message</name>
            <fieldText>&lt;p&gt;Le dépôt de garantie à déjà été restitué.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>deductedAmountNotTyped_0</name>
        <label>Montant a déduire non saisi</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetDeductedAmount</targetReference>
        </connector>
        <fields>
            <name>msg6_0</name>
            <fieldText>&lt;p&gt;Le champs &quot;Montant à déduire&quot; dans la section &quot;Sortie&quot; doit être saisie pour poursuivre l&apos;opération de restitution du dépôt garantie.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deductedAmount_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>montant à déduire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotCautionAdyen</name>
        <label>NotCautionAdyen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotAdyen_message</name>
            <fieldText>&lt;p&gt;La garantie n&apos;a pas été déposée via un lien de paiement. vous ne pouvez donc pas proceder à la restitution de dépôt de garantie par ce process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>La demande d&apos;encaissement a bien été envoyée.</description>
        <name>reqSent</name>
        <label>reqSent</label>
        <locationX>710</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgReqSent</name>
            <fieldText>&lt;p&gt;La demande d&apos;encaissement a bien été envoyée.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>currEmprunt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>captureAuthorization</name>
        <label>captureAuth</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>setFlagRestitue</targetReference>
        </connector>
        <flowName>Caution_CapturePreauthorization</flowName>
        <inputAssignments>
            <name>deductedAmountInput</name>
            <value>
                <elementReference>deductedAmountWithDefaultValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>deductedAmountWithDefaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>currEmprunt.Montant_a_deduire__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>task created if the amount to be capture is biger than the amount of the caution</description>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
