hubSide/force-app/main/default/flows/ClaimDeclaration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_CaseId</name>
        <label>Assign CaseId</label>
        <locationX>1014</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectionSinistre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sinistre_concerne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractField</name>
        <label>AssignContractField</label>
        <locationX>1369</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractPick</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ThemSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCourrier</name>
        <label>AssignCourrier</label>
        <locationX>853</locationX>
        <locationY>1541</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.CanalChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Print</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetClaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmail</name>
        <label>AssignEmail</label>
        <locationX>986</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.Email_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailPick.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.CanalChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetClaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInfoRecla</name>
        <label>AssignInfoRecla</label>
        <locationX>854</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.Applicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicantPick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.Transmitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransmitterPick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.ClientDeclarationValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClaimDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OriginPick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_de_la_r_clamation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactChannelSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPhone</name>
        <label>AssignPhone</label>
        <locationX>722</locationX>
        <locationY>1613</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.ContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhonePick.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.CanalChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetClaim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSinisterFields</name>
        <label>AssignSinisterFields</label>
        <locationX>853</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sinister</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.AssociatedSinister__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.Typologie_Sinistre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSinistre.Typologie_Sinistre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.SinisterComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentaireSinistre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSinistre.AssetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSinistre.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetReclamationRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClaimInfoSelection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTheme</name>
        <label>AssignTheme</label>
        <locationX>1168</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>Reclamation.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClaimTheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reclamation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetReclamationRT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClaimInfoSelection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConcernContract</name>
        <choiceText>Un contrat souscrit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contrat</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConcernOther</name>
        <choiceText>Un autre sujet (tout sujets sans lien avec un contrat souscris)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autre</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConcernSinister</name>
        <choiceText>Un sinistre déclaré</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sinistre</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CaseOrAccount</name>
        <label>Est-on sur un sinistre ou sur un compte client ?</label>
        <locationX>845</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Sujet_concerne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sur un compte client</defaultConnectorLabel>
        <rules>
            <name>Sur_un_sinistre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSinistre</targetReference>
            </connector>
            <label>Sur un sinistre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contrat_concerne</name>
        <label>Contrat concerné ?</label>
        <locationX>1159</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>ThemSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup_contrat_concerne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConcernRB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConcernContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractSelection</targetReference>
            </connector>
            <label>Yup, contrat concerné</label>
        </rules>
    </decisions>
    <decisions>
        <description>Le créateur du Case Réclamation est-il Gestionnaire ?</description>
        <name>DEC_CreateurGestionnaire</name>
        <label>DEC_Créateur est Gestionnaire</label>
        <locationX>844</locationX>
        <locationY>2004</locationY>
        <defaultConnector>
            <targetReference>GET_Queue_Gestionnaire_Qualite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ClaimCreatorGestionnaire</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetClaim.CreatedBy.BusinessProfile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GestionnaireQualite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClaim.CreatedBy.BusinessProfile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ManagerGestionnaireQualite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetClaim.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SFAM GS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_StatusAssigned</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PhoneOrEmail</name>
        <label>Téléphone ou Email?</label>
        <locationX>846</locationX>
        <locationY>1373</locationY>
        <defaultConnector>
            <targetReference>EmailSelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email</defaultConnectorLabel>
        <rules>
            <name>Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanalContactPick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PhoneSelection</targetReference>
            </connector>
            <label>Téléphone</label>
        </rules>
        <rules>
            <name>Print</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CanalContactPick</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Print</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCourrier</targetReference>
            </connector>
            <label>Courrier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sinistre_concerne</name>
        <label>Sinistre concerné ?</label>
        <locationX>1006</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Contrat_concerne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup_sinistre_concerne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConcernRB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ConcernSinister</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSinistre</targetReference>
            </connector>
            <label>Yup, sinistre concerné</label>
        </rules>
    </decisions>
    <description>Déclaration Réclamation pas à pas</description>
    <dynamicChoiceSets>
        <name>Applicant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Applicant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CanalContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CanalChannel__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Num_Contrat__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Origin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SinisterRecordChoice</name>
        <dataType>String</dataType>
        <displayField>Numero_sinistre__c</displayField>
        <filterLogic>((1 AND 2) OR (4 AND 2)) OR 3</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre clôturé</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Theme</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Theme__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Transmitter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transmitter__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Typologie</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Typologie_Sinistre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Declaration Reclamation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Declaration Reclamation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>SetClaim</name>
        <label>SetClaim</label>
        <locationX>852</locationX>
        <locationY>1733</locationY>
        <connector>
            <targetReference>GetClaim</targetReference>
        </connector>
        <inputReference>Reclamation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_Queue_Gestionnaire_Qualite</name>
        <label>GET_Queue Gestionnaire Qualité</label>
        <locationX>1047</locationX>
        <locationY>2001</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPD_Owner_Gestionnaire_Qualite</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GestionnaireQualite</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VAR_IdGroup_GestionnaireQualite</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetClaim</name>
        <label>GetClaim</label>
        <locationX>852</locationX>
        <locationY>1858</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_CreateurGestionnaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Reclamation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReclamationRT</name>
        <label>GetReclamationRT</label>
        <locationX>853</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseOrAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reclamation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSinistre</name>
        <label>GetSinistre</label>
        <locationX>853</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSinisterFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assigne la réclamation à la queue Dispatch Qualité</description>
        <name>UPD_Owner_Gestionnaire_Qualite</name>
        <label>UPD_Owner Gestionnaire Qualité</label>
        <locationX>1047</locationX>
        <locationY>2196</locationY>
        <connector>
            <targetReference>EndOfDeclaration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClaim.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>VAR_IdGroup_GestionnaireQualite</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Le statut rpasse à Assigné si le créateur de la réclamation est GS/GS Qualité</description>
        <name>UPD_StatusAssigned</name>
        <label>UPD_Statut Attribué</label>
        <locationX>659</locationX>
        <locationY>2196</locationY>
        <connector>
            <targetReference>EndOfDeclaration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetClaim.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Attribué</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ClaimInfoSelection</name>
        <label>Informations Recla</label>
        <locationX>853</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignInfoRecla</targetReference>
        </connector>
        <fields>
            <name>Description_de_la_r_clamation</name>
            <dataType>String</dataType>
            <fieldText>Description de la réclamation :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OriginPick</name>
            <choiceReferences>Origin</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quelle est l&apos;origine de la réclamation ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ClaimDate</name>
            <dataType>Date</dataType>
            <fieldText>A quelle date la réclamation a-t-elle été transmise ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TransmitterPick</name>
            <choiceReferences>Transmitter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Par qui est transmise cette réclamation ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ApplicantPick</name>
            <choiceReferences>Applicant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pour qui est émise cette réclamation ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactChannelSelection</name>
        <label>Sélection Canal Contact</label>
        <locationX>854</locationX>
        <locationY>1253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PhoneOrEmail</targetReference>
        </connector>
        <fields>
            <name>CanalContactPick</name>
            <choiceReferences>CanalContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Par quel moyen le réclamant veut-il être contacté ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarningAddress</name>
            <fieldText>&lt;p&gt;L&apos;adresse postale présente sur la fiche du Compte sera celle utilisée pour cette réclamation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CanalContactPick</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Print</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContractSelection</name>
        <label>Sélection Contrat</label>
        <locationX>1369</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignContractField</targetReference>
        </connector>
        <fields>
            <name>ContractPick</name>
            <choiceReferences>ContractRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélection du contrat à associer à la réclamation :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EmailSelection</name>
        <label>Sélection Email</label>
        <locationX>986</locationX>
        <locationY>1493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignEmail</targetReference>
        </connector>
        <fields>
            <name>EmailPick</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>A quelle adresse Email le réclamant souhaite être contacté ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EndOfDeclaration</name>
        <label>Déclaration terminée</label>
        <locationX>858</locationX>
        <locationY>2197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndOfDeclarationText</name>
            <fieldText>&lt;p&gt;Votre réclamation {!caseLink} a bien été créée !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PhoneSelection</name>
        <label>Sélection Téléphone</label>
        <locationX>722</locationX>
        <locationY>1493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignPhone</targetReference>
        </connector>
        <fields>
            <name>PhonePick</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>A quel numéro de téléphone le réclamant souhaite être appelé ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SinisterSelection</name>
        <label>Sélection Sinistre</label>
        <locationX>1014</locationX>
        <locationY>501</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_CaseId</targetReference>
        </connector>
        <fields>
            <name>SelectionSinistre</name>
            <choiceReferences>SinisterRecordChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sélection du sinistre à associer à la réclamation :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypologieSinistre</name>
            <choiceReferences>Typologie</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quelle est la typologie du sinistre concerné selon le client ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommentaireSinistre</name>
            <dataType>String</dataType>
            <fieldText>Commentaires concernant le sinistre :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sujet_concerne</name>
        <label>Sujet concerné</label>
        <locationX>1014</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SinisterSelection</targetReference>
        </connector>
        <fields>
            <name>ConcernRB</name>
            <choiceReferences>ConcernSinister</choiceReferences>
            <choiceReferences>ConcernContract</choiceReferences>
            <choiceReferences>ConcernOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>La réclamation concerne :</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ThemSelection</name>
        <label>Sélection Thème</label>
        <locationX>1168</locationX>
        <locationY>900</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignTheme</targetReference>
        </connector>
        <fields>
            <name>ClaimTheme</name>
            <choiceReferences>Theme</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel est le thème de la réclamation ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>727</locationX>
        <locationY>135</locationY>
        <connector>
            <targetReference>GetReclamationRT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!GetClaim.Id}&quot; target=&quot;_parent&quot;&gt;{!GetClaim.Numero_sinistre__c}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reclamation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_IdGroup_GestionnaireQualite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
