hubSide/force-app/main/default/flows/ColisAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSMS</name>
        <label>SendSMS</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Flow_ColisRattacheSendSMS</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Rattach_un_Sinistre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactPhone</name>
            <value>
                <elementReference>$Record.Sinistre__r.ContactPhone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SMSText</name>
            <value>
                <elementReference>$Label.TextSMS_ColisRattacheSendSMS</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Rattach_un_Sinistre</name>
        <label>Rattaché à un Sinistre</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_014_MAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskMailTrackingSIN_014_A</targetReference>
            </connector>
            <label>SIN_014_A Réception Colis</label>
        </rules>
    </decisions>
    <decisions>
        <name>VariablesNotNull</name>
        <label>VariablesNotNull</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Management_Callout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VariablesAreNull</defaultConnectorLabel>
        <rules>
            <name>VariablesAreNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sinistre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.ContactPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSMS</targetReference>
            </connector>
            <label>VariablesAreNotNull</label>
        </rules>
    </decisions>
    <description>12/07/2021 STH SFAMI-1198 : Regroupement avec le flow OutboundCommunicationPacket (Communications à destination du client, déclenchées par le Colis) pour ne garder qu&apos;un seul Record Trigger Flow sur Colis__c
08/07/2021 STH SFAMI-1198 : Debug ne fonctionne pas pour appeler le WS, il faut donc tester directement depuis le colis.
Lorsque le Status du Colis passe à &quot;Rattaché&quot; alors un SMS est envoyé.</description>
    <interviewLabel>ColisAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ColisAfterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Tracer dans les logs que l&apos;appel pour envoyer le SMS n&apos;a pas été fait car des données obligatoires sont manquantes</description>
        <name>Management_Callout</name>
        <label>Management Callout</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Rattach_un_Sinistre</targetReference>
        </connector>
        <inputAssignments>
            <field>CalloutStatusCode__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseRecord__c</field>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JSONSOAPBodySent__c</field>
            <value>
                <stringValue>Données manquantes pour envoyer le SMS (Pas de sinistre rattaché ou pas de Case.ContactPhone__c) pour le Colis__c.Id indiqué dans le champs ci-dessus &quot;Status code in the callout&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Données manquantes avant l&apos;envoi de SMS</stringValue>
            </value>
        </inputAssignments>
        <object>CalloutErrorsManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>NewTaskMailTrackingSIN_014_A</name>
        <label>SIN_014_A. (XD n°14) Réception Colis</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.Sinistre__r.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_014_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Sinistre__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VariablesNotNull</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rattaché</stringValue>
            </value>
        </filters>
        <object>Colis__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
