hubSide/force-app/main/default/flows/Declaration_web.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddBR</name>
        <label>AddBR</label>
        <locationX>1568</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ErrorMsgAssignement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_InsuredItemId</name>
        <label>Assign Created InsuredItemId</label>
        <locationX>1304</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>InsuredItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_InsuredItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DeclaWeb</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InsuredItemId</name>
        <label>Assign InsuredItemId</label>
        <locationX>1568</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>InsuredItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetEquipementSinistre.Equipement_client__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DeclaWeb</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMsg_assignement</name>
        <label>ErrorMsg assignement</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Equipement sinistré absent</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorMsg_assignement_again</name>
        <label>ErrorMsg assignement</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>La déclaration n&apos;est pas validée par le client.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorMsgAssignement</name>
        <label>ErrorMsgAssignement</label>
        <locationX>1480</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Informations manquantes sur le sinistre (description ou date d&apos;ouverture))</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ErrorMsg_empty</name>
        <label>ErrorMsg empty ?</label>
        <locationX>1480</locationX>
        <locationY>1694</locationY>
        <defaultConnector>
            <targetReference>AddBR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ErrorMsg_IS_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMsg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgAssignement</targetReference>
            </connector>
            <label>ErrorMsg IS empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Informations_ouverture_sinistre_manquantes</name>
        <label>Informations ouverture sinistre manquantes ?</label>
        <locationX>1436</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>Validation_en_masse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informations_ouverture_sinistre_presentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Date_sinistre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_sinistre</targetReference>
            </connector>
            <label>Informations ouverture sinistre présentes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_validation_successful</name>
        <label>Is the validation successful ?</label>
        <locationX>1436</locationX>
        <locationY>2582</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMsg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGroupIdDispatchSinistre</targetReference>
            </connector>
            <label>Yup, successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_DW_est_elle_validee_par_le_client</name>
        <label>La DW est-elle validée par le client ?</label>
        <locationX>1073</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Y_a_t_il_un_equipement_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nope_elle_est_a_valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_validation_again</targetReference>
            </connector>
            <label>Nope, elle est à valider</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mass_validation</name>
        <label>Mass validation ?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_mass_validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsg_assignement</targetReference>
            </connector>
            <label>Yup, mass validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mass_validation_again</name>
        <label>Mass validation ?</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>StatusErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mass_validation_the_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsg_assignement_again</targetReference>
            </connector>
            <label>Mass validation, the return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_en_masse</name>
        <label>Validation en masse ?</label>
        <locationX>1656</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Declaration_Sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_validation_en_masse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsg_empty</targetReference>
            </connector>
            <label>Yup, validation en masse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_en_masse_the_return</name>
        <label>Validation en masse ?</label>
        <locationX>1238</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Get_Sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_mass_validation_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yup, mass validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Y_a_t_il_un_equipement_client</name>
        <label>Y a-t-il un equipement client ?</label>
        <locationX>1436</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_InsuredItemId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Non_il_n_y_a_pas_d_equipement_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEquipementSinistre.Equipement_client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_InsuredItem</targetReference>
            </connector>
            <label>Non, il n&apos;y a pas d&apos;equipement client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Y_a_t_il_un_equipement_sinistre</name>
        <label>Y a-t-il un équipement sinistré ?</label>
        <locationX>627</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nope_stop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_validation</targetReference>
            </connector>
            <label>Nope, stop</label>
        </rules>
    </decisions>
    <description>Déclenche la conversion de la déclaration web en sinistre
STH 27052021 SFAMI-1764 : Activation Auto-Layout</description>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Declaration web {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Declaration web</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_InsuredItem</name>
        <label>Create InsuredItem</label>
        <locationX>1304</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_EquipementSinistre</targetReference>
        </connector>
        <inputAssignments>
            <field>BrandId__c</field>
            <value>
                <elementReference>GetEquipementSinistre.BrandId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_not_recognized__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Brand_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_not_recognized__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Category_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMEI_non_identifiable__c</field>
            <value>
                <elementReference>GetEquipementSinistre.IMEI_non_identifiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInvalidedWeb__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_not_recognized__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Name_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_serie__c</field>
            <value>
                <elementReference>GetEquipementSinistre.SerieNumberEC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatorCountry__c</field>
            <value>
                <elementReference>GetEquipementSinistre.OperatorCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Operator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Product2Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_ins__PolicyAssetId__c</field>
            <value>
                <elementReference>GetEquipementSinistre.Sinistre__r.AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1073</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>La_DW_est_elle_validee_par_le_client</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipement_Sinistre</name>
        <label>Get Equipement Sinistré</label>
        <locationX>627</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Y_a_t_il_un_equipement_sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputReference>GetEquipementSinistre</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Equipement_client__c</queriedFields>
        <queriedFields>BrandId__c</queriedFields>
        <queriedFields>Brand_not_recognized__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Category_not_recognized__c</queriedFields>
        <queriedFields>IMEI_non_identifiable__c</queriedFields>
        <queriedFields>SerieNumberEC__c</queriedFields>
        <queriedFields>Name_not_recognized__c</queriedFields>
        <queriedFields>Operator__c</queriedFields>
        <queriedFields>OperatorCountry__c</queriedFields>
        <queriedFields>Product2Id__c</queriedFields>
        <queriedFields>Sinistre__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre</name>
        <label>Get Sinistre</label>
        <locationX>1370</locationX>
        <locationY>3422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declaration_web_terminee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre_RT</name>
        <label>Get Sinistre RT</label>
        <locationX>1238</locationX>
        <locationY>2822</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGroupIdDispatchSinistre</name>
        <label>GetGroupIdDispatchSinistre</label>
        <locationX>1238</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sinistre_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch Sinistre</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>IdGroupDispatchSinistre</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Force_update_EquipSin_name</name>
        <label>Force update EquipSin name</label>
        <locationX>1238</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Validation_en_masse_the_return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>1238</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>Update_InsuredItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Contact__c</field>
            <value>
                <elementReference>Get_Case.Asset.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdGroupDispatchSinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Sinistre_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Reception_dossier</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DeclaWeb</name>
        <label>Update DeclaWeb</label>
        <locationX>1436</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Insured_Item_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.Asset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CanalChannel__c</field>
            <value>
                <elementReference>Get_Case.Asset.Account.Canal_contact__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipementSinistre</name>
        <label>Update EquipementSinistre</label>
        <locationX>1304</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Assign_Created_InsuredItemId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>Create_InsuredItem</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InsuredItem</name>
        <label>Update InsuredItem</label>
        <locationX>1238</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Force_update_EquipSin_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dernier_sinistre__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInvalidedWeb__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sinistre</name>
        <label>Update sinistre</label>
        <locationX>1832</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Validation_sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_sinistre__c</field>
            <value>
                <elementReference>Date_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Circonstances_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_sinistre__c</field>
            <value>
                <elementReference>Date_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Declaration_Sinistre</name>
        <label>Déclaration Sinistre</label>
        <locationX>1832</locationX>
        <locationY>1694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_sinistre</targetReference>
        </connector>
        <fields>
            <name>RappelTypologiePerte</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Typologie du sinistre :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Perte&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lost</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RappelTypologieCasse</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Typologie du sinistre :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Casse&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Broken</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RappelTypologieOxydation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Typologie du sinistre :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Oxydation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Oxidised</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RappelTypologieVol</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Typologie du sinistre :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Vol toute cause&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pickpocketed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RappelTypologiePerteCaracterise</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Typologie du sinistre :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Vol caractérisé&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Robbed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_du_sinistre</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Case.Date_sinistre__c</elementReference>
            </defaultValue>
            <fieldText>Date du sinistre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;La date du sinistre ne peut-être supérieur à la date du jour.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_du_sinistre}&lt;{!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Date_sinistre__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.Heure_sinistre__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Circonstances_du_sinistre</name>
            <defaultValue>
                <stringValue>{!Get_Case.Description}</stringValue>
            </defaultValue>
            <fieldText>Circonstances du sinistre</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.Description</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningDateDuSinistre</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 153, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;La date du sinistre est inférieure à la&amp;nbsp;date de début de contrat.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Date_du_sinistre</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Case.Asset.Date_debut_contrat__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Declaration_web_terminee</name>
        <label>Déclaration web terminee</label>
        <locationX>1370</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Votre déclaration web a bien été prise en compte. Voici votre numéro de sinistre : {!caseLink}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Il n&apos;y a pas d&apos;équipement sinistré sur votre déclaration web. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>StatusErrorScreen</name>
        <label>StatusErrorScreen</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusErrorMsg</name>
            <fieldText>&lt;p&gt;Votre déclaration n&apos;est pas validée par le client. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>501</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Equipement_Sinistre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Insured_Item_Creation</name>
        <label>Insured Item Creation</label>
        <locationX>1436</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Informations_ouverture_sinistre_manquantes</targetReference>
        </connector>
        <flowName>Insured_Item_Creation</flowName>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>Get_Case.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EquipementSinistreId</name>
            <value>
                <elementReference>GetEquipementSinistre.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InsuredItemId</name>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>massValidation</name>
            <value>
                <elementReference>massValidation</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMsg</assignToReference>
            <name>errorMsg</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsuredItemId</assignToReference>
            <name>InsuredItemId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validation_sinistre</name>
        <label>Validation sinistre</label>
        <locationX>1436</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Is_the_validation_successful</targetReference>
        </connector>
        <flowName>Validation_Sinistre</flowName>
        <inputAssignments>
            <name>MassValidation</name>
            <value>
                <elementReference>massValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SinistreId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMsg</assignToReference>
            <name>errorMsg</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>caseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!Get_Sinistre.Id}&quot; target=&quot;_parent&quot;&gt;{!Get_Sinistre.Numero_sinistre__c}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetEquipementSinistre</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>IdGroupDispatchSinistre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuredItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>massValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
