hubSide/force-app/main/default/flows/Declaration_Sinistre_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_caseId</name>
        <label>Assign caseId</label>
        <locationX>775</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Sinistre</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Equipement_Sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ErrTypo</name>
        <label>Assign ErrTypo</label>
        <locationX>575</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>isErrTypo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declaration_Sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lieu_Error</name>
        <label>Assign Lieu Error</label>
        <locationX>1065</locationX>
        <locationY>865</locationY>
        <assignmentItems>
            <assignToReference>isErrorLieu</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Declaration_Sinistre</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>EmptyChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 13.008px; font-family: sf-font-regular, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(22, 50, 92);&quot;&gt;--None--&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>EquipementNonDeclare</name>
        <choiceText>Equipement non déclaré</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Equipement_selectionne</name>
        <label>Equipement sélectionné ?</label>
        <locationX>768</locationX>
        <locationY>424</locationY>
        <defaultConnector>
            <targetReference>Get_Insured_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equipement client sélectionné</defaultConnectorLabel>
        <rules>
            <name>Equipement_non_trouve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Catalogue_Produit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insured_Item_Creation</targetReference>
            </connector>
            <label>Equipement client non sélectionné</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lieu_de_Sinistre_vide</name>
        <label>Lieu de Sinistre vide</label>
        <locationX>768</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>GET_ProvisionSinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_lieu_de_sinistre_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LieuDuSinistre</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmptyChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lieu_Error</targetReference>
            </connector>
            <label>Yup lieu de sinistre vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Typologie_sinistre_vide</name>
        <label>Typologie sinistre vide ?</label>
        <locationX>768</locationX>
        <locationY>922</locationY>
        <defaultConnector>
            <targetReference>Lieu_de_Sinistre_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_typologie_vide</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ErrTypo</targetReference>
            </connector>
            <label>Yup, typologie vide</label>
        </rules>
    </decisions>
    <description>22/03/2021 STH SFDéclaration Sinistre pas à pas (choix et saisie equipement, typologie sinistre, création de l&apos;équipement du sinistre)
18/05/2021 STH SFAMI-1610 : tout_risques__c remplace tous_risques__cAMI-1242 : ClientDeclarationValidationDate__c
25/05/2021 LLA SFAMI-441 : Lieu du sinistre
20/07/2021 TSC SFAMI 2035 : version API 52, input DeclaLaunchedByDEMtransfer
22/07/2021 TSC SFAMI 2204 : warning message plus de 10j</description>
    <dynamicChoiceSets>
        <name>CatalogueProduit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__PolicyAssetId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAsset.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Etat__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Etat__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChoiceCaseLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lieu_sinistre__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Etat produit sur l&apos;objet Equipement du Sinistre</description>
        <name>EtatProduit_EquipementDuSinistre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Etat_produit__c</picklistField>
        <picklistObject>Equipement_sinistre__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Date_Plus10jours</name>
        <dataType>Date</dataType>
        <expression>Today() -10</expression>
    </formulas>
    <formulas>
        <name>Date_Plus3mois</name>
        <dataType>Date</dataType>
        <expression>Today() -90</expression>
    </formulas>
    <formulas>
        <name>VAR_MonthCreatedSinistre</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(DATEVALUE({!Date_du_sinistre})))</expression>
    </formulas>
    <formulas>
        <name>VAR_MonthCreatedSinistreNumber</name>
        <dataType>Number</dataType>
        <expression>MONTH(DATEVALUE({!Date_du_sinistre}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Declaration Sinistre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Declaration Sinistre V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Equipement_Sinistre</name>
        <label>Create Equipement Sinistré</label>
        <locationX>775</locationX>
        <locationY>1752</locationY>
        <connector>
            <targetReference>Validation_sinistre</targetReference>
        </connector>
        <inputAssignments>
            <field>Adresse_de_livraison__c</field>
            <value>
                <elementReference>Get_Sinistre.DeliveryAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>Get_Insured_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerieNumberEC__c</field>
            <value>
                <elementReference>Get_Insured_Item.Numero_de_serie__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sinistre__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Création du case associé à l&apos;équipement sélectionné ou crée précedemment ainsi qu&apos;au contrat</description>
        <name>Create_Sinistre</name>
        <label>Create Sinistre</label>
        <locationX>773</locationX>
        <locationY>1520</locationY>
        <connector>
            <targetReference>Assign_caseId</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAsset.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>GetAsset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientDeclarationValidationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_sinistre__c</field>
            <value>
                <elementReference>Date_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Circonstances_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Contact__c</field>
            <value>
                <elementReference>GetAsset.Account.PersonEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>Get_Insured_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_sinistre__c</field>
            <value>
                <elementReference>Date_du_sinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lieu_sinistre__c</field>
            <value>
                <elementReference>LieuDuSinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdGroupDispatchSinistre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Si_autres_lieu__c</field>
            <value>
                <elementReference>OtherLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Reception_dossier</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typologie_Sinistre__c</field>
            <value>
                <elementReference>TypologieSinistre.controllingPkValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>provision_sinistre__c</field>
            <value>
                <elementReference>Var_ProvisionSinistreMontant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_ins__Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Insured_Item</name>
        <label>Get Insured Item</label>
        <locationX>777</locationX>
        <locationY>612</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declaration_Sinistre</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Catalogue_Produit</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ProvisionSinistre</name>
        <label>GET_ProvisionSinistre</label>
        <locationX>773</locationX>
        <locationY>1258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetGroupIdDispatchSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Typologie_de_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TypologieSinistre.controllingPkValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_NumberMonth__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>VAR_MonthCreatedSinistreNumber</elementReference>
            </value>
        </filters>
        <object>Provision_Sinistre__c</object>
        <outputAssignments>
            <assignToReference>Var_ProvisionSinistreMontant</assignToReference>
            <field>montant_moy__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre</name>
        <label>Get Sinistre</label>
        <locationX>776</locationX>
        <locationY>2284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Declaration_Sinistre_terminee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve des infos de l&apos;Asset</description>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>776</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ouverture_Declaration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGroupIdDispatchSinistre</name>
        <label>GetGroupIdDispatchSinistre</label>
        <locationX>773</locationX>
        <locationY>1387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch Sinistre</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>IdGroupDispatchSinistre</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_InsuredItem</name>
        <label>Update InsuredItem</label>
        <locationX>777</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_sinistre_verified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Insured_Item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dernier_sinistre__c</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatorCountry__c</field>
            <value>
                <elementReference>Update_OP_1.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>Update_OP_1.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sinistre_verified</name>
        <label>Update sinistre</label>
        <locationX>777</locationX>
        <locationY>2140</locationY>
        <connector>
            <targetReference>Get_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>vlocity_ins__Verified__c</field>
            <value>
                <elementReference>GetAsset.Account.Compte_test__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Declaration_Sinistre</name>
        <label>Déclaration Sinistre</label>
        <locationX>778</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Typologie_sinistre_vide</targetReference>
        </connector>
        <fields>
            <name>DisplayCatalogueProduit</name>
            <fieldText>&lt;p&gt;Nom de l&apos;équipement sinistré:&lt;/p&gt;&lt;p&gt;{!CatalogueProduit}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Catalogue_Produit</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>EquipementNonDeclare</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayNomEquipSin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Nom de l&apos;équipement sinistré:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Get_Insured_Item.Name_not_recognized__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Insured_Item.Name_not_recognized__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Catalogue_Produit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EquipementNonDeclare</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayProductName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Nom de l&apos;équipement sinistré:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Insured_Item.Product2Id__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Insured_Item.Name_not_recognized__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Catalogue_Produit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>EquipementNonDeclare</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_OP_1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>OperatorCountry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Operator__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Pays de l&apos;opérateur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Opérateur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Insured_Item.OperatorCountry__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Insured_Item.Operator__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>errTypoMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;Merci de renseigner la typologie.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isErrTypo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypologieSinistre</name>
            <extensionName>c:Flow_HandleDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingPkName</name>
                <value>
                    <stringValue>Typologie_Sinistre__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPkLabel</name>
                <value>
                    <stringValue>Typologie du sinistre</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RTName</name>
                <value>
                    <stringValue>Sinistre</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_du_sinistre</name>
            <dataType>DateTime</dataType>
            <fieldText>Date du sinistre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;La date du sinistre ne peut-être supérieur à la date du jour.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_du_sinistre}&lt;{!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>errLieuMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 153, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Merci de renseigner le lieu.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isErrorLieu</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LieuDuSinistre</name>
            <choiceReferences>ChoiceCaseLocation</choiceReferences>
            <choiceReferences>EmptyChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>EmptyChoice</defaultSelectedChoiceReference>
            <fieldText>Lieu du sinistre</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherLocation</name>
            <dataType>String</dataType>
            <fieldText>Si autres, précisez le lieu</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LieuDuSinistre</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Others</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Circonstances_du_sinistre</name>
            <fieldText>Circonstances du sinistre</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarningDateDuSinistre</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;La date du sinistre est inférieure à la&amp;nbsp;date de début de contrat.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Date_du_sinistre</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>GetAsset.Date_debut_contrat__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningDateCloture</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;La date du sinistre est supérieur à la&amp;nbsp;date de clôture du contrat.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Date_du_sinistre</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>GetAsset.Date_cloture__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningTypologieSinistre</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;La typologie du sinistre est différente de la typologie présente sur le contrat. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 10) OR (3 AND 4 AND 10) OR (5 AND 6 AND 10) OR (7 AND 8 AND 9 AND 10)</conditionLogic>
                <conditions>
                    <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Broken</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Casse__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pickpocketed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Vol_toute_cause__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Robbed</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Vol_Caracterise__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lost</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Perte__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Pertes_avec_franchise__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Tout_risques__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>WarningTypologie_More10DecisionVisi</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 153, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;La typologie du sinistre est différente de la typologie présente sur le contrat.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypologieSinistre.controllingPkValue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Oxidised</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Oxydation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Tout_risques__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_sin_plus_de10j</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 153, 0); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;La date du sinistre est de plus de 10 jours.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Date_du_sinistre</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Date_Plus10jours</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_sin_plus_de3mois</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;La date du sinistre est de plus de 3 mois.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Date_du_sinistre</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>Date_Plus3mois</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Declaration_Sinistre_terminee</name>
        <label>Déclaration Sinistre terminée</label>
        <locationX>776</locationX>
        <locationY>2418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Votre demande {!caseLink} a bien été créée !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DeclaLaunchedByDEMtransfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FinalScreenDEMtransfer</name>
            <fieldText>&lt;p&gt;Le sinistre a été créé, veuillez cliquer sur &quot;Suivant&quot; afin de lui associer les documents.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DeclaLaunchedByDEMtransfer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ouverture_Declaration</name>
        <label>Ouverture Déclaration</label>
        <locationX>776</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Equipement_selectionne</targetReference>
        </connector>
        <fields>
            <name>Catalogue_Produit</name>
            <choiceReferences>CatalogueProduit</choiceReferences>
            <choiceReferences>EquipementNonDeclare</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipements Client</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetAsset</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Insured_Item_Creation</name>
        <label>Insured Item Creation</label>
        <locationX>579</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Get_Insured_Item</targetReference>
        </connector>
        <flowName>Insured_Item_Creation</flowName>
        <inputAssignments>
            <name>AssetId</name>
            <value>
                <elementReference>AssetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fromInsuranceClaim</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>InsuredItemId</assignToReference>
            <name>InsuredItemId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Validation_sinistre</name>
        <label>Validation sinistre</label>
        <locationX>777</locationX>
        <locationY>1889</locationY>
        <connector>
            <targetReference>Update_InsuredItem</targetReference>
        </connector>
        <flowName>Validation_Sinistre</flowName>
        <inputAssignments>
            <name>SinistreId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>caseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!Get_Sinistre.Id}&quot; target=&quot;_parent&quot;&gt;{!Get_Sinistre.Numero_sinistre__c}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <description>Id du contrat client sur lequel j&apos;ouvre un sinistre</description>
        <name>AssetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Si le flow de décla a été déclenché en sous-flow par la fermeture d&apos;une Demande, alors cette variable est renseignée, afin d&apos;afficher un texte spécifique sur le dernier écran.</description>
        <name>DeclaLaunchedByDEMtransfer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdGroupDispatchSinistre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuredItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isErrorLieu</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isErrTypo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_ProvisionSinistreMontant</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
