hubSide/force-app/main/default/flows/DeleteDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>ConfirmRemovalDecision</name>
        <label>Confirm Removal Decision</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>ScreenAlertNoRemoval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Confirm</defaultConnectorLabel>
        <rules>
            <name>ConfirmRemoval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>confirmRemove</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePJ</targetReference>
            </connector>
            <label>Confirm Removal</label>
        </rules>
    </decisions>
    <decisions>
        <name>DocumentHasPJ</name>
        <label>Document has PJ ?</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>UpdateDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasPJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Document_PJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenHasPJWarning</targetReference>
            </connector>
            <label>Has PJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserHasPermission</name>
        <label>User Has Permission</label>
        <locationX>567</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ScreenWarningRemovalUnauthorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unauthorized</defaultConnectorLabel>
        <rules>
            <name>Authorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetConfigSFAM.DocumentRemoval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDocument</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <formulas>
        <name>RemovePJComment</name>
        <dataType>String</dataType>
        <expression>&quot;Suppression demandée le &quot; + TEXT(DAY({!$Flow.CurrentDate}))+ &quot;/&quot; +TEXT(MONTH({!$Flow.CurrentDate})) +&quot;/&quot; + TEXT(YEAR({!$Flow.CurrentDate})) + &quot; par &quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Delete Document {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Document</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Document_PJ</name>
        <label>Get Document PJ</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DocumentHasPJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocument.Related_sinistre__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Piece_justificative_Sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetConfigSFAM</name>
        <label>Get Config SFAM</label>
        <locationX>567</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserHasPermission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserBusinessProfile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.BusinessProfile__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFAMConfig__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocument</name>
        <label>Get Document</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Document_PJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDocument</name>
        <label>Update Document</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocument.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_sinistre__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </inputAssignments>
        <object>Document__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePJ</name>
        <label>Update PJ</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>UpdateDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDocument.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire__c</field>
            <value>
                <elementReference>RemovePJComment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validite_document__c</field>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </inputAssignments>
        <object>Piece_justificative_Sinistre__c</object>
    </recordUpdates>
    <screens>
        <name>ScreenAlertNoRemoval</name>
        <label>Screen alert no removal</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WarningNoConfirm</name>
            <fieldText>&lt;p&gt;La suppression n&apos;a pas été confirmée sur l&apos;écran précédent. Aucunes actions ne sera exécutées.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenHasPJWarning</name>
        <label>Screen has PJ warning</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ConfirmRemovalDecision</targetReference>
        </connector>
        <fields>
            <name>WarningDocumentHasPJ</name>
            <fieldText>&lt;p&gt;Il y a des pièces associées au document.&lt;/p&gt;&lt;p&gt;Confirmez la suppression du document en cochant la case ci-dessous.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmRemove</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Confirmer la suppression</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenWarningRemovalUnauthorized</name>
        <label>Screen removal unauthorized</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WarningRemovalUnauthorized</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Vous n&apos;êtes pas autorisé à supprimer de document.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>441</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetConfigSFAM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VarDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
