hubSide/force-app/main/default/flows/DW_Mass_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_errorList</name>
        <label>Assign errorList</label>
        <locationX>763</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> - </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Valider_DW.errorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LB</name>
        <label>Assign LB</label>
        <locationX>1026</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_errorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LineBreak</name>
        <label>Assign LineBreak</label>
        <locationX>1026</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>successList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_successList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_successList</name>
        <label>Assign successList</label>
        <locationX>749</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>successList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>errorMsg_empty</name>
        <label>errorMsg empty ?</label>
        <locationX>1015</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>Assign_LB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_errorList</targetReference>
            </connector>
            <label>Yes, empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_insured_item_to_delete</name>
        <label>Is there an insured item to delete ?</label>
        <locationX>1382</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>errorMsg_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RIP_InsuredItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsuredItemToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_InsuredItem</targetReference>
            </connector>
            <label>RIP InsuredItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_declaration_a_t_elle_ete_selectionnee</name>
        <label>La déclaration a-t-elle été sélectionnée ?</label>
        <locationX>655</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DW_selectionnee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Declaration_a_valider</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_the_selected_DW.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valider_DW</targetReference>
            </connector>
            <label>DW sélectionnée</label>
        </rules>
    </decisions>
    <decisions>
        <name>sucessList_empty</name>
        <label>sucessList empty ?</label>
        <locationX>1015</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Assign_LineBreak</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>successList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_successList</targetReference>
            </connector>
            <label>Yup, empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidationSucceeded</name>
        <label>ValidationSucceeded ?</label>
        <locationX>1014</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Get_InsuredItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Victory</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Valider_DW.errorMsg</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Valider_DW.errorMsg</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sucessList_empty</targetReference>
            </connector>
            <label>Victory !</label>
        </rules>
    </decisions>
    <description>Valide en masse les declarations web</description>
    <dynamicChoiceSets>
        <name>DWToValidate</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Déclaration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>DW Mass Validatio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Mass Validation</label>
    <loops>
        <name>Loop_over_the_selected_DW</name>
        <label>Loop over the selected DW</label>
        <locationX>446</locationX>
        <locationY>375</locationY>
        <collectionReference>Get_Related_DW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>La_declaration_a_t_elle_ete_selectionnee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_InsuredItem</name>
        <label>Delete InsuredItem</label>
        <locationX>1389</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>errorMsg_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemToDelete</elementReference>
            </value>
        </filters>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_InsuredItem</name>
        <label>Get InsuredItem</label>
        <locationX>1226</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_insured_item_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.Equipement_client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsInvalidedWeb__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <outputAssignments>
            <assignToReference>InsuredItemToDelete</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_DW</name>
        <label>Get Related DW</label>
        <locationX>315</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Déclaration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>446</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;Les déclarations suivantes n&apos;ont pas pu être validées pour les raisons suivantes :&lt;/p&gt;&lt;p&gt;{!errorList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Les déclarations suivantes ont été validées :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!successList}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>successList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_des_DW</name>
        <label>Séléction des DW</label>
        <locationX>176</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Related_DW</targetReference>
        </connector>
        <fields>
            <name>Declaration_a_valider</name>
            <choiceReferences>DWToValidate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Déclaration à valider</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Selection_des_DW</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Valider_DW</name>
        <label>Valider DW</label>
        <locationX>865</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>ValidationSucceeded</targetReference>
        </connector>
        <flowName>Declaration_web</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>Loop_over_the_selected_DW.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>massValidation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>errorList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuredItemToDelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>successList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
