hubSide/force-app/main/default/flows/DW_Mass_Rejection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_LineBreak</name>
        <label>Assign LineBreak</label>
        <locationX>1053</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>successList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_successList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_successList</name>
        <label>Assign successList</label>
        <locationX>1053</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>successList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DW</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>InsuredItem_a_supprimer</name>
        <label>InsuredItem à supprimer ?</label>
        <locationX>548</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RIP_InsuredItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_the_selected_DW.Equipement_client__r.IsInvalidedWeb__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_InsuredItem</targetReference>
            </connector>
            <label>RIP InsuredItem</label>
        </rules>
    </decisions>
    <decisions>
        <name>La_declaration_a_t_elle_ete_selectionnee</name>
        <label>La déclaration a-t-elle été sélectionnée ?</label>
        <locationX>655</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DW_selectionnee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Declaration_a_refuser</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_the_selected_DW.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sucessList_empty</targetReference>
            </connector>
            <label>DW sélectionnée</label>
        </rules>
    </decisions>
    <decisions>
        <name>sucessList_empty</name>
        <label>sucessList empty ?</label>
        <locationX>852</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Assign_LineBreak</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>successList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_successList</targetReference>
            </connector>
            <label>Yup, empty</label>
        </rules>
    </decisions>
    <description>Refuse en masse les declarations web</description>
    <dynamicChoiceSets>
        <name>DWToReject</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Déclaration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>DW Mass Rejection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DW Mass Rejection</label>
    <loops>
        <name>Loop_over_the_selected_DW</name>
        <label>Loop over the selected DW</label>
        <locationX>446</locationX>
        <locationY>375</locationY>
        <collectionReference>Get_Related_DW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>La_declaration_a_t_elle_ete_selectionnee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EndScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_InsuredItem</name>
        <label>Delete InsuredItem</label>
        <locationX>341</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.Equipement_client__c</elementReference>
            </value>
        </filters>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_DW</name>
        <label>Get Related DW</label>
        <locationX>311</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_selected_DW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Déclaration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DW</name>
        <label>Update DW</label>
        <locationX>1053</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>InsuredItem_a_supprimer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_the_selected_DW.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire_decision__c</field>
            <value>
                <elementReference>Commentaire_refus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>EndScreen</label>
        <locationX>444</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Les déclarations suivantes ont été rejetées :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!successList}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>successList</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_des_DW</name>
        <label>Séléction des DW</label>
        <locationX>176</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Related_DW</targetReference>
        </connector>
        <fields>
            <name>Declaration_a_refuser</name>
            <choiceReferences>DWToReject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Déclaration à refuser</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentaire_refus</name>
            <dataType>String</dataType>
            <fieldText>Commentaire refus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>201</locationY>
        <connector>
            <targetReference>Selection_des_DW</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>successList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
