hubSide/force-app/main/default/flows/Emprunt_ExternalConsumptionAutocompletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>SFAMI-2160 : The fields of the &quot;Sortie&quot; Section and the &quot;Retour&quot; section are automatically updated with dummy values when the Emprunt concerns an external consumption, so that the Status of the emprunt is directly defined as &quot;retour sans defaut&quot;.</description>
    <interviewLabel>Emprunt - Autocompletion Consommation Externe {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emprunt - Autocompletion Consommation Externe</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CautionSectionUpdate</name>
        <label>Update de la Section Caution</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>AdyenCaptureStatus__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OutputSectionUpdate</name>
        <label>Update des sections Sortie</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>ReturnSectionUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>Caution_recue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retour_prevu__c</field>
            <value>
                <elementReference>$Record.Date_sortie__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat_sortie__c</field>
            <value>
                <stringValue>NC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant_caution_sortie__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Observation_sortie__c</field>
            <value>
                <stringValue>Consommation Externe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_de_vente_sortie__c</field>
            <value>
                <elementReference>$Record.Contrat__r.Id_distributeur__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ReturnSectionUpdate</name>
        <label>Update des sections Retour</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>CautionSectionUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>Caution_restituee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retour__c</field>
            <value>
                <elementReference>$Record.Date_sortie__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat_retour__c</field>
            <value>
                <stringValue>Neuf</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant_a_deduire__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant_caution_retour__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_de_vente_retour__c</field>
            <value>
                <elementReference>$Record.Contrat__r.Id_distributeur__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OutputSectionUpdate</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalCons_EquivDaysNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Retourné</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Retour avec défaut</stringValue>
            </value>
        </filters>
        <object>Emprunt__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
