hubSide/force-app/main/default/flows/Emprunt_depuis_un_client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Stock_disponible</name>
        <label>Stock disponible ?</label>
        <locationX>557</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Validation_emprunt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_non_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.selectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quel_produit_et_pour_quand</targetReference>
            </connector>
            <label>Stock non disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_reussie</name>
        <label>Validation réussie ?</label>
        <locationX>860</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>Creation_emprunt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validation_emprunt.isError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quel_produit_et_pour_quand</targetReference>
            </connector>
            <label>Validation failed</label>
        </rules>
    </decisions>
    <description>Création d&apos;un emprunt depuis le client.</description>
    <dynamicChoiceSets>
        <name>ListContratClient</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Emprunt_en_cours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrat_location</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>valid</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>CodeFormule</assignToReference>
            <field>Code_formule__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractStartDate</assignToReference>
            <field>Date_debut_contrat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractEndDate</assignToReference>
            <field>Date_fin_contrat__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>statusEmprunt</assignToReference>
            <field>Etat_emprunt__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NombreJoursRestants</assignToReference>
            <field>Nombre_jours_restant__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contractStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListProduit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Produit_location</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>selectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DateDeRetour</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Duree_de_la_location}</expression>
    </formulas>
    <formulas>
        <name>distributeurId</name>
        <dataType>String</dataType>
        <expression>{!$User.Distributeur_de_reference__c}</expression>
    </formulas>
    <formulas>
        <name>EnvURL</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$User.Username}, &apos;dev&apos;), 
    &apos;https://sfam--dev.lightning.force.com&apos;, 
    IF(
        CONTAINS({!$User.Username}, &apos;sit&apos;), 
        &apos;https://sfam--sit.lightning.force.com&apos;, 
        IF(
            CONTAINS({!$User.Username}, &apos;uat&apos;), 
            &apos;https://sfam--uat.lightning.force.com&apos;, 
            IF(
                CONTAINS({!$User.Username}, &apos;dev2&apos;), 
                &apos;https://sfam--dev2.lightning.force.com&apos;, 
                IF(
                    CONTAINS({!$User.Username}, &apos;pem&apos;), 
                    &apos;https://sfam--pem.lightning.force.com&apos;, 
                    &apos;https://sfam.my.salesforce.com&apos;
                )
            )
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Emprunt depuis un client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Emprunt depuis un client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_emprunt</name>
        <label>Creation emprunt</label>
        <locationX>1061</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>TYS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Autorisation_depassement__c</field>
            <value>
                <elementReference>Validation_emprunt.Depassement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caution_recue__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retour_prevu__c</field>
            <value>
                <elementReference>DateDeRetour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_sortie__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_retour__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_retour_prevue__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_sortie__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_de_vente_retour__c</field>
            <value>
                <elementReference>distributeurId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Point_de_vente_sortie__c</field>
            <value>
                <elementReference>distributeurId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produit_emprunte__c</field>
            <value>
                <elementReference>SelectionStock.selectedId</elementReference>
            </value>
        </inputAssignments>
        <object>Emprunt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>1059</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quel_produit_et_pour_quand</name>
        <label>Quel produit et pour quand ?</label>
        <locationX>425</locationX>
        <locationY>232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_du_stock</targetReference>
        </connector>
        <fields>
            <name>Produit_selectionne</name>
            <choiceReferences>ListProduit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Produit séléctionné</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_de_retrait_souhaitee</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de retrait souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duree_de_la_location</name>
            <dataType>Number</dataType>
            <fieldText>Durée de la location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_du_stock</name>
        <label>Selection du stock</label>
        <locationX>417</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stock_disponible</targetReference>
        </connector>
        <fields>
            <name>ContratClient</name>
            <choiceReferences>ListContratClient</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contrat</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectionStock.selectedId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectionStock</name>
            <extensionName>c:Flow_SelectionStockMagasin</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>selectedProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateRetrait</name>
                <value>
                    <elementReference>Date_de_retrait_souhaitee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dureeLocation</name>
                <value>
                    <elementReference>Duree_de_la_location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distributeurId</name>
                <value>
                    <elementReference>distributeurId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isEmprunt</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TYS</name>
        <label>TY</label>
        <locationX>1190</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TY</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!EnvURL}/{!Creation_emprunt}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;b&gt;Continuer la saisie du bon de sortie&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Quel_produit_et_pour_quand</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Validation_emprunt</name>
        <label>Validation emprunt</label>
        <locationX>737</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>Validation_reussie</targetReference>
        </connector>
        <flowName>Validation_nouvel_emprunt</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CodeFormule</name>
            <value>
                <elementReference>CodeFormule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractEndDate</name>
            <value>
                <elementReference>ContractEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractId</name>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContractStartDate</name>
            <value>
                <elementReference>ContractStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contractStatus</name>
            <value>
                <elementReference>contractStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Date_de_retrait_souhaitee</name>
            <value>
                <elementReference>Date_de_retrait_souhaitee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Duree_de_la_location</name>
            <value>
                <elementReference>Duree_de_la_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NombreJoursRestants</name>
            <value>
                <elementReference>NombreJoursRestants</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Produit_selectionne</name>
            <value>
                <elementReference>Produit_selectionne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedProductId</name>
            <value>
                <elementReference>selectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>statusEmprunt</name>
            <value>
                <elementReference>statusEmprunt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isError</name>
            <value>
                <elementReference>isError</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CodeFormule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NombreJoursRestants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusEmprunt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
