hubSide/force-app/main/default/flows/EqsBeforeInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Empty_values</name>
        <label>Empty values</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Montant_equipement__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlanName__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Valeur_reparation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Overwrite Name and Category with the value of Name and Category in Insured Item</description>
        <name>Name_Category_from_equipement_client</name>
        <label>Assign Name and Category</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Equipement_client__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Equipement_client__r.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ItemCostMatrix__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Equipement_client__r.Product2Id__r.MatriceId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_MCE_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Overwrite Name and Category with the value of Name and ItemCategory in Product2 Item Catalog</description>
        <name>Name_Category_known</name>
        <label>Assign Name and Category</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product2Id__r.itemCategory__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_MCE_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Overwrite Name and Category with the value of Name not recognized and Category not recognized</description>
        <name>Name_Category_not_recognized</name>
        <label>Assign Name and Category</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name_not_recognized__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Category_not_recognized__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_MCE_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_chosenEquipSin_1</name>
        <label>Update chosenEquipSin 1</label>
        <locationX>974</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ChooseEqp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstChoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstChoiceRank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClientChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_ChosenEquipSin_2</name>
        <label>Update ChosenEquipSin 2</label>
        <locationX>1238</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ChooseEqp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SecondChoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SecondChoiceRank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClientChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_ChosenEquipSin_3</name>
        <label>Update ChosenEquipSin 3</label>
        <locationX>1502</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ChooseEqp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ThirdChoice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ThirdChoiceRank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ClientChoiceDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_EquipSin_RT_Echange</name>
        <label>Update EquipSin RT Echange</label>
        <locationX>1766</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EchangeReadOnly_RT.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_EquipSin_RT_Reparation</name>
        <label>Update EquipSin RT Reparation</label>
        <locationX>2030</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ReparationReadOnly_RT.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_MontantEquip</name>
        <label>Update MontantEquip</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Montant_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ItemCostMatrix__r.Valeur_equipement__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EquipSin_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reparation_Values</name>
        <label>Update Reparation Values</label>
        <locationX>446</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.Valeur_reparation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ItemCostMatrix__r.PlanCost_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlanName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BASE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Rentrer toujours dans la condition si c&apos;est une création sinon</description>
        <name>Did_equipement_client_change</name>
        <label>Did some fields change or new record?</label>
        <locationX>1337</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Nothing to do here</defaultConnectorLabel>
        <rules>
            <name>EquipSin_has_changed_is_new</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipement_client__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Equipement_client__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category_not_recognized__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Category_not_recognized__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name_not_recognized__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name_not_recognized__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Product2Id__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_equipement_client_null</targetReference>
            </connector>
            <label>EquipSin has changed / is new</label>
        </rules>
        <rules>
            <name>A_choice_has_been_made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChosenEquip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ChosenEquip__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChosenEquip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_equipSin_did_he_choose</targetReference>
            </connector>
            <label>A choice has been made</label>
        </rules>
        <rules>
            <name>Status_is_now_closed</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Statut_equipement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echangé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annulé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CustomerReception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Irréparable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_RT</targetReference>
            </connector>
            <label>Status is now closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipSin_RT</name>
        <label>EquipSin RT ?</label>
        <locationX>578</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Echange</defaultConnectorLabel>
        <rules>
            <name>Reparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipement_a_reparer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reparation_Values</targetReference>
            </connector>
            <label>Reparation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Product2Id__c is null</description>
        <name>Is_catalogue_equipement_null</name>
        <label>Is catalogue equipement null ?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Name_Category_known</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Catalogue_equipement_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Name_Category_not_recognized</targetReference>
            </connector>
            <label>Catalogue equipement null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Equipement_client__c is null</description>
        <name>Is_equipement_client_null</name>
        <label>Is equipement client null ?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Name_Category_from_equipement_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipement_client_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipement_client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_catalogue_equipement_null</targetReference>
            </connector>
            <label>Equipement client null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MCE_null</name>
        <label>Is MCE null ?</label>
        <locationX>380</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_MontantEquip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MCE not null</defaultConnectorLabel>
        <rules>
            <name>MCE_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ItemCostMatrix__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_values</targetReference>
            </connector>
            <label>MCE null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_equipSin_did_he_choose</name>
        <label>Which equipSin did he choose ?</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_ChosenEquipSin_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Choix 3</defaultConnectorLabel>
        <rules>
            <name>Choix_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChosenEquip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choix 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_chosenEquipSin_1</targetReference>
            </connector>
            <label>Choix 1</label>
        </rules>
        <rules>
            <name>Choix_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ChosenEquip__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choix 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ChosenEquipSin_2</targetReference>
            </connector>
            <label>Choix 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_RT</name>
        <label>Which RT ?</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_ReparationReadOnly_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reparation</defaultConnectorLabel>
        <rules>
            <name>Echange</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipement_vole_perdu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipement_Echange_ReadOnly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EchangeReadOnly_RT</targetReference>
            </connector>
            <label>Echange</label>
        </rules>
    </decisions>
    <description>Update the below fields of Equipement sinistré  :

Name (concatenate Numero_sinistre__c with Name)
Category__c
Matrice Cout Equip

Modèle choisi

RecordType</description>
    <interviewLabel>EquipementSinistre : Before insert + update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EquipementSinistre : Before insert + update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EchangeReadOnly_RT</name>
        <label>Get EchangeReadOnly RT</label>
        <locationX>1766</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_RT_Echange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Echange_ReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ReparationReadOnly_RT</name>
        <label>Get ReparationReadOnly RT</label>
        <locationX>2030</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_RT_Reparation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_Reparation_ReadOnly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1211</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_equipement_client_change</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR (3 AND 4) OR 5 OR 6 OR 7</filterLogic>
        <filters>
            <field>Equipement_client__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name_not_recognized__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category_not_recognized__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ClientChoiceDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ChosenEquip__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ItemCostMatrix__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
