hubSide/force-app/main/default/flows/Insured_Item_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_ErrorMsg</name>
        <label>Assign ErrorMsg</label>
        <locationX>1318</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insured Item non conforme</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ErrorMsg_creation</name>
        <label>Assign ErrorMsg</label>
        <locationX>965</locationX>
        <locationY>93</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insured Item manquant</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_NameEquipementSinistre</name>
        <label>Assign NameEquipementSinistre</label>
        <locationX>796</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>NomEquipementSinistre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_EquipementSinistre.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Y_a_t_il_deja_un_insured_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Insured_Item_valid_already</name>
        <label>Insured Item valid already ?</label>
        <locationX>1093</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Le_flow_valide_t_il_en_masse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope, invalid</defaultConnectorLabel>
        <rules>
            <name>Yup_valid</name>
            <conditionLogic>(1 OR ((4 OR 5) AND (6 OR 8) AND (7 OR 9))) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_InsuredItem.Product2Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Numero_de_serie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.IMEI_non_identifiable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.BrandId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Brand_not_recognized__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Category_not_recognized__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Name_not_recognized__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yup, valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_flow_valide_t_il_en_masse</name>
        <label>Le flow valide-t-il en masse ?</label>
        <locationX>1310</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Modele_renseigne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_mass_validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ErrorMsg</targetReference>
            </connector>
            <label>Yup, mass validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_flow_valide_t_il_en_masse_creation</name>
        <label>Le flow valide-t-il en masse ?</label>
        <locationX>958</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Saisie_modele</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_le_flow_valide_en_masse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>massValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ErrorMsg_creation</targetReference>
            </connector>
            <label>Yup, le flow valide en masse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_modele_est_il_inconnu</name>
        <label>Le modèle est-il inconnu ?</label>
        <locationX>1286</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Create_InsuredItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modele_inconnu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Modele_inexistant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creation_de_equipement_client</targetReference>
            </connector>
            <label>Modèle inconnu</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marque_renseignee</name>
        <label>Marque renseignée ?</label>
        <locationX>1714</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informations_marque_manquantes</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Brand.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Brand_not_recognized__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_modele_inexistant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_marque</targetReference>
            </connector>
            <label>Informations marque manquantes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modele_renseigne</name>
        <label>Modèle renseigné ?</label>
        <locationX>1513</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Marque_renseignee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informations_modele_manquantes</name>
            <conditionLogic>(1 AND 4 AND 5) OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_InsuredItem.Product2Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Numero_de_serie__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.IMEI_non_identifiable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.BrandId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_InsuredItem.Brand_not_recognized__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_modele</targetReference>
            </connector>
            <label>Informations modèle manquantes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Y_a_t_il_deja_un_insured_item</name>
        <label>Y a-t-il déjà un insured item ?</label>
        <locationX>788</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>Le_flow_valide_t_il_en_masse_creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_il_y_a_un_insured_item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsuredItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InsuredItemId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InsuredItem</targetReference>
            </connector>
            <label>Oui, il y a un insured item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Y_a_t_il_un_equipement_sinistre</name>
        <label>Y a-t-il un equipement sinistré ?</label>
        <locationX>590</locationX>
        <locationY>394</locationY>
        <defaultConnector>
            <targetReference>Y_a_t_il_deja_un_insured_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_il_y_a_un_equipement_sinistre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EquipementSinistreId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipementSinistre</targetReference>
            </connector>
            <label>Oui, il y a un equipement sinistré</label>
        </rules>
    </decisions>
    <description>Suite d&apos;écran permettant la création pas à pas de l&apos;Insured Item.</description>
    <dynamicChoiceSets>
        <name>Category</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>vlocity_ins__AssetInsuredItem__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Insured Item Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insured Item Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_InsuredItem</name>
        <label>Create InsuredItem</label>
        <locationX>1493</locationX>
        <locationY>254</locationY>
        <assignRecordIdToReference>InsuredItemId</assignRecordIdToReference>
        <inputAssignments>
            <field>BrandId__c</field>
            <value>
                <elementReference>Brand.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_not_recognized__c</field>
            <value>
                <elementReference>Marque</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_not_recognized__c</field>
            <value>
                <elementReference>Categorie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMEI_non_identifiable__c</field>
            <value>
                <elementReference>IMEI_non_identifiable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_not_recognized__c</field>
            <value>
                <elementReference>NomAppareil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_serie__c</field>
            <value>
                <elementReference>Numero_serie_IMEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatorCountry__c</field>
            <value>
                <elementReference>OP.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>OP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id__c</field>
            <value>
                <elementReference>Modele.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vlocity_ins__PolicyAssetId__c</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_EquipementSinistre</name>
        <label>Get Equipement Sinistré</label>
        <locationX>596</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_NameEquipementSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipementSinistreId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InsuredItem</name>
        <label>Get InsuredItem</label>
        <locationX>960</locationX>
        <locationY>507</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insured_Item_valid_already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_InsuredItem</name>
        <label>Update InsuredItem</label>
        <locationX>2052</locationX>
        <locationY>511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BrandId__c</field>
            <value>
                <elementReference>UpdateBrand.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_not_recognized__c</field>
            <value>
                <elementReference>Update_nom_marque</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_not_recognized__c</field>
            <value>
                <elementReference>Update_catogorie</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_not_recognized__c</field>
            <value>
                <elementReference>Update_nom_appareil</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InsuredItem_Modele</name>
        <label>Update InsuredItem - Modele</label>
        <locationX>1722</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Marque_renseignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InsuredItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IMEI_non_identifiable__c</field>
            <value>
                <elementReference>Update_IMEI_non_identifiable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Numero_de_serie__c</field>
            <value>
                <elementReference>Update_numero_IMEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatorCountry__c</field>
            <value>
                <elementReference>Update_OP.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>Update_OP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id__c</field>
            <value>
                <elementReference>Modele.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Creation_de_equipement_client</name>
        <label>Création de l&apos;équipement client</label>
        <locationX>1388</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_InsuredItem</targetReference>
        </connector>
        <fields>
            <name>Brand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marque</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Marque_non_existante</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marque_non_existante</name>
            <dataType>Boolean</dataType>
            <fieldText>Marque non existante</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Marque</name>
            <dataType>String</dataType>
            <fieldText>Marque</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Marque_non_existante</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Categorie</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Catégorie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NomAppareil</name>
            <dataType>String</dataType>
            <fieldText>Nom de l&apos;appareil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Saisie_modele</name>
        <label>Saisie modèle</label>
        <locationX>1146</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Le_modele_est_il_inconnu</targetReference>
        </connector>
        <fields>
            <name>RappelEquipementSinistre</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Equipement sinistré lié à la déclaration web : &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NomEquipementSinistre}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NomEquipementSinistre</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Modele</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Modèle (3 caractères min.)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Modele_inexistant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Modele_inexistant</name>
            <dataType>Boolean</dataType>
            <fieldText>Modele inexistant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Numero_serie_IMEI</name>
            <dataType>String</dataType>
            <fieldText>Numéro de série (IMEI)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IMEI_non_identifiable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IMEI_non_identifiable</name>
            <dataType>Boolean</dataType>
            <fieldText>IMEI non identifiable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OP</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>OperatorCountry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Operator__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Pays de l&apos;opérateur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Opérateur</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fromInsuranceClaim</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_marque</name>
        <label>Update marque</label>
        <locationX>1927</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_InsuredItem</targetReference>
        </connector>
        <fields>
            <name>UpdateBrand</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>BrandId__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Marque</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_InsuredItem.BrandId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_marque_non_existante</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_marque_non_existante</name>
            <dataType>Boolean</dataType>
            <fieldText>Marque non existante</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_nom_marque</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_InsuredItem.Brand_not_recognized__c</elementReference>
            </defaultValue>
            <fieldText>Nom marque</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_marque_non_existante</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_catogorie</name>
            <choiceReferences>Category</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Catégorie</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_nom_appareil</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_InsuredItem.Name_not_recognized__c</elementReference>
            </defaultValue>
            <fieldText>Nom de l&apos;appareil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_modele</name>
        <label>Update modèle</label>
        <locationX>1522</locationX>
        <locationY>704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_InsuredItem_Modele</targetReference>
        </connector>
        <fields>
            <name>RappelEquipSin</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Equipement sinistré lié à la déclaration web :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;{!NomEquipementSinistre}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;Merci de renseigner les informations suivantes : &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NomEquipementSinistre</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpdateModele</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Modèle (3 caractères min.)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_InsuredItem.Product2Id__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_modele_inexistant</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_modele_inexistant</name>
            <dataType>Boolean</dataType>
            <fieldText>Modèle inexistant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_numero_IMEI</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_InsuredItem.Numero_de_serie__c</elementReference>
            </defaultValue>
            <fieldText>Numéro de série (IMEI)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_IMEI_non_identifiable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_IMEI_non_identifiable</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_InsuredItem.IMEI_non_identifiable__c</elementReference>
            </defaultValue>
            <fieldText>IMEI non identifiable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Update_OP</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>vlocity_ins__AssetInsuredItem__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>OperatorCountry__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Operator__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Pays de l&apos;opérateur</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Opérateur</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_InsuredItem.OperatorCountry__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>219</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Y_a_t_il_un_equipement_sinistre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Id du contrat client sur lequel j&apos;ouvre un sinistre</description>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipementSinistreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fromInsuranceClaim</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Id de l&apos;équipement sur lequel va porter le Sinistre en cours de création</description>
        <name>InsuredItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>massValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NomEquipementSinistre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
