hubSide/force-app/main/default/flows/Livraison_transporteur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_colis_Bulk_Parcels</name>
        <label>Create colis en vrac</label>
        <locationX>578</locationX>
        <locationY>198</locationY>
        <actionName>Flow_CreateUpdateColisInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Reception_Colis</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>colisQuantity</name>
            <value>
                <elementReference>Nombre_colis_recus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createColis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receptionColisId</name>
            <value>
                <elementReference>Create_Reception_Colis</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receptionDate</name>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>Transporteur</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>VracReparation</name>
        <choiceText>Colis en vrac - Réparation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BulkParcelsReparation</stringValue>
        </value>
    </choices>
    <choices>
        <name>VracSAV</name>
        <choiceText>Colis en vrac - SAV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BulkParcelsSav</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Transporteur_La_Poste</name>
        <label>Transporteur La Poste ?</label>
        <locationX>420</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BulkParcels</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transporteur</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BulkParcels</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_colis_Bulk_Parcels</targetReference>
            </connector>
            <label>Colis en vrac</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>NomTransporteur</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nom_transporteur__c</picklistField>
        <picklistObject>Reception_colis__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>currentDate</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(MONTH({!$Flow.CurrentDate})) + &apos;/&apos; + TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>VAR_NomTransporteur</name>
        <dataType>String</dataType>
        <expression>{!Transporteur} &amp; &apos; - &apos; &amp; TEXT({!Date_reception})</expression>
    </formulas>
    <interviewLabel>Livraison trasnporteur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Etiquettes en vrac</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reception_Colis</name>
        <label>Create Reception Colis</label>
        <locationX>301</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Transporteur_La_Poste</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_reception__c</field>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VAR_NomTransporteur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_transporteur__c</field>
            <value>
                <elementReference>Transporteur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_colis_recus__c</field>
            <value>
                <elementReference>Nombre_colis_recus</elementReference>
            </value>
        </inputAssignments>
        <object>Reception_colis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_colis</name>
        <label>Update colis</label>
        <locationX>835</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>ImpressionEtiquette</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reception_colis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Reception_Colis</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Reçu</stringValue>
            </value>
        </inputAssignments>
        <object>Colis__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reception_Colis</name>
        <label>Update Reception Colis</label>
        <locationX>708</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Update_colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Reception_Colis</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nombre_colis_scannes__c</field>
            <value>
                <elementReference>Nombre_colis_recus</elementReference>
            </value>
        </inputAssignments>
        <object>Reception_colis__c</object>
    </recordUpdates>
    <screens>
        <name>ImpressionEtiquette</name>
        <label>ImpressionEtiquette</label>
        <locationX>952</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgEtiquette</name>
            <fieldText>&lt;p&gt;Les étiquettes de vos colis ont été générées &lt;a href=&quot;/apex/Sinistre_Etiquette?transporteur={!Transporteur}&amp;amp;dateReception={!currentDate}&amp;amp;nbrColis={!Nombre_colis_recus}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;ici&lt;/a&gt; =)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisie_informations</name>
        <label>Saisie informations</label>
        <locationX>177</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Reception_Colis</targetReference>
        </connector>
        <fields>
            <name>Date_reception</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de réception</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transporteur</name>
            <choiceReferences>VracReparation</choiceReferences>
            <choiceReferences>VracSAV</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>VracReparation</defaultSelectedChoiceReference>
            <fieldText>Transporteur</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nombre_colis_recus</name>
            <dataType>Number</dataType>
            <fieldText>Nombre de colis reçus</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Saisie_informations</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
