hubSide/force-app/main/default/flows/LogCall.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>ClaimFollowUp</name>
        <choiceText>Relance dossier sinistre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ClaimFollowUp</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClientInformed</name>
        <choiceText>Client informé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client informé</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncomingCall</name>
        <choiceText>Appel entrant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appel entrant</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutgoingCall</name>
        <choiceText>Appel sortant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appel sortant</stringValue>
        </value>
    </choices>
    <choices>
        <name>TaskOpenedGS</name>
        <choiceText>Tâche ouverte GS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tâche ouverte GS</stringValue>
        </value>
    </choices>
    <description>Créer une tâche de consignation d&apos;appel pour le suivi de dossier</description>
    <dynamicChoiceSets>
        <name>CallReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CallReason__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClosureReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motif_cloture__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Consigner appel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consigner appel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CRE_TaskLogCall</name>
        <label>CRE_Tache consigne appel</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDateTime__c</field>
            <value>
                <elementReference>DateTimeCall</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <elementReference>CallDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallReason__c</field>
            <value>
                <elementReference>CallReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>CommunicationCanal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raison_fermeture__c</field>
            <value>
                <elementReference>ClosureReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_SinTask_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Appel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Case</name>
        <label>GET_Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LogCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SinTask_RT</name>
        <label>GET_Tache Sinistre RT</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRE_TaskLogCall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>LogCall</name>
        <label>Consigner un appel</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_SinTask_RT</targetReference>
        </connector>
        <fields>
            <name>CallReason</name>
            <choiceReferences>CallReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motif de l&apos;appel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CommunicationCanal</name>
            <choiceReferences>IncomingCall</choiceReferences>
            <choiceReferences>OutgoingCall</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>IncomingCall</defaultSelectedChoiceReference>
            <fieldText>Canal communication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LogCall_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LogCall_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DateTimeCall</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date et Heure de l&apos;appel</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>LogCall_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CallDuration</name>
                    <dataType>Number</dataType>
                    <fieldText>Durée de l&apos;appel (minutes)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClosureReason</name>
            <choiceReferences>ClientInformed</choiceReferences>
            <choiceReferences>TaskOpenedGS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Raison de clôture</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
