hubSide/force-app/main/default/flows/Manage_CalculIndem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_ApprovalCase</name>
        <label>ACT_ApprovalCase</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AP01_CS_AlertToValidated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>VAR_CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ASS_AddCaseInListCase</name>
        <label>ASS_AddCaseInListCase</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VAR_ListCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_LastUpdateCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_ManagePaiementVersement_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_ChangeStatusCaseEnCoursIndem</name>
        <label>ASS_ChangeStatusCaseEnCoursIndem</label>
        <locationX>446</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>VAR_CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours d&apos;indemnisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CaseRecord.Date_decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_CaseRecord.Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UDP_CaseUpdateStatusEnCoursIndem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_CheckCaseAlert</name>
        <label>DEC_CheckCaseAlert</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>GET_LastUpdateCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Without Alert</defaultConnectorLabel>
        <rules>
            <name>Case_With_Alert_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_CaseRecord.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_CaseRecord.Record_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUB_ManageAlertDescipt</targetReference>
            </connector>
            <label>Case With Alert</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_ChooseAction</name>
        <label>DEC_ChooseAction</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validation_Prime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUB_ManageStatusCalculPrime</targetReference>
            </connector>
            <label>Validation Prime</label>
        </rules>
        <rules>
            <name>Validation_R_paration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUB_ManageStatusCalculRep</targetReference>
            </connector>
            <label>Validation Réparation</label>
        </rules>
        <rules>
            <name>Validation_Echange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUB_ManageStatusCalculEch</targetReference>
            </connector>
            <label>Validation Echange</label>
        </rules>
    </decisions>
    <interviewLabel>Manage CalculIndem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manage CalculIndem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_LastUpdateCase</name>
        <label>GET_LastUpdateCase</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASS_AddCaseInListCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_CaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UDP_CaseUpdateStatusEnCoursIndem</name>
        <label>UDP_CaseUpdateStatusEnCoursIndem</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>DEC_CheckCaseAlert</targetReference>
        </connector>
        <inputReference>VAR_CaseRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_ChooseAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUB_ManageAlertDescipt</name>
        <label>SUB_ManageAlertDescipt</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>ACT_ApprovalCase</targetReference>
        </connector>
        <flowName>Update_Approval_motif_list</flowName>
        <inputAssignments>
            <name>Var_CaseId</name>
            <value>
                <elementReference>VAR_CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SUB_ManagePaiementVersement_0</name>
        <label>SUB_ManagePaiementVersement</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <flowName>CASE_Manage_PaiementVersement</flowName>
        <inputAssignments>
            <name>VAR_ListCase</name>
            <value>
                <elementReference>VAR_ListCase</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ManageStatusCalculEch</name>
        <label>SUB_ManageStatusCalculEch</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>ASS_ChangeStatusCaseEnCoursIndem</targetReference>
        </connector>
        <flowName>CASE_ManageStatusCalculIndem</flowName>
        <inputAssignments>
            <name>VAR_Case</name>
            <value>
                <elementReference>VAR_CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_TypeAction</name>
            <value>
                <elementReference>VAR_Action</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ManageStatusCalculPrime</name>
        <label>SUB_ManageStatusCalculPrime</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>ASS_ChangeStatusCaseEnCoursIndem</targetReference>
        </connector>
        <flowName>CASE_ManageStatusCalculIndem</flowName>
        <inputAssignments>
            <name>VAR_Case</name>
            <value>
                <elementReference>VAR_CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_TypeAction</name>
            <value>
                <elementReference>VAR_Action</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_ManageStatusCalculRep</name>
        <label>SUB_ManageStatusCalculRep</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>ASS_ChangeStatusCaseEnCoursIndem</targetReference>
        </connector>
        <flowName>CASE_ManageStatusCalculIndem</flowName>
        <inputAssignments>
            <name>VAR_Case</name>
            <value>
                <elementReference>VAR_CaseRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_TypeAction</name>
            <value>
                <elementReference>VAR_Action</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>VAR_Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_CalculIndemUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>VAR_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_CheckActionPaiementVersement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_EquipSiniUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>VAR_ListCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdEquipeSiniARep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_RecordTypeIdTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
