hubSide/force-app/main/default/flows/MceBeforeCreateUpdateFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>UpdateDateValeur_0</name>
        <label>UpdateDateValeur</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Date_valeur__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateName</name>
        <label>UpdateName</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DateValeurIsNull</name>
        <label>DateValeurIsNull</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>UpdateName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DateValeurNotNull</defaultConnectorLabel>
        <rules>
            <name>DateValeurNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_valeur__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDateValeur_0</targetReference>
            </connector>
            <label>DateValeurNull</label>
        </rules>
    </decisions>
    <description>Before Creation of a record : 
If empty Update Date_valeur__c depending CurrentDate
And Overwrite Name</description>
    <formulas>
        <description>Concatenate the Name of the product2 linked and Today()</description>
        <name>CalculatedName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp;&quot; &quot; &amp; TEXT(DAY({!$Record.Date_valeur__c})) &amp;&quot;/&quot;&amp; TEXT(MONTH({!$Record.Date_valeur__c})) &amp;&quot;/&quot;&amp; TEXT(YEAR({!$Record.Date_valeur__c}))</expression>
    </formulas>
    <interviewLabel>Update Date Valeur before creation only for Matrice cout equipement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Fields before creation only for Matrice cout equipement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DateValeurIsNull</targetReference>
        </connector>
        <object>Matrice_cout_equipement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
