hubSide/force-app/main/default/flows/Nouvelle_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ApproveMvt</name>
        <label>ApproveMvt</label>
        <locationX>2895</locationX>
        <locationY>1412</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Loop_ListToApprove</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approbation_TEST_V_4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Loop_ListToApprove.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TriggerApproval_Process</name>
        <label>TriggerApproval_Process</label>
        <locationX>1496</locationX>
        <locationY>1046</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>ApprovalRequestCreated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>AP01_CS_AlertToValidated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignBooleanCalculIndemATraiter</name>
        <label>Assignation Boolean Calcul Indem A Traiter</label>
        <locationX>2393</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemATraiter</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BooleanCalculindemAppro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCalculIndemEchange</name>
        <label>Assignation Calcul Indem Echange</label>
        <locationX>2229</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemEchange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateListCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateListCalculIndem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCalculIndemPrimes</name>
        <label>Assignation Calcul Indem Primes</label>
        <locationX>2037</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemPrimes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateListCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateListCalculIndem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCalculIndemReparation</name>
        <label>Assignation Calcul Indem Réparation</label>
        <locationX>1890</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemReparation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateListCalculIndem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateListCalculIndem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AlreadyWaitingAlert</name>
        <label>déja Alert ?</label>
        <locationX>1312</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>GetCalculIndemStillOpen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadyAlert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedCase.TECH_ApprovalProcessStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlertMotifGENERATOR</targetReference>
            </connector>
            <label>Il y a une alerte contrat</label>
        </rules>
        <rules>
            <name>error_already_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.TECH_ApprovalProcessStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error_already_approvalProcess</targetReference>
            </connector>
            <label>error already approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAlert</name>
        <label>Vérification Alerte</label>
        <locationX>2470</locationX>
        <locationY>1639</locationY>
        <defaultConnector>
            <targetReference>Update_CSE_Status_EnCoursIndem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas d&apos;alerte</defaultConnectorLabel>
        <rules>
            <name>PendingAlert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenContractDerogation</targetReference>
            </connector>
            <label>Alerte En Cours</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCalculIndem</name>
        <label>Vérification Calcul Indem Existant</label>
        <locationX>1890</locationX>
        <locationY>958</locationY>
        <defaultConnector>
            <targetReference>BooleanCalculindemAppro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nouveaux Calculs Indemnisation Existant</defaultConnectorLabel>
        <rules>
            <name>NoCalculIndemPrimes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemPrimes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNoCalculIndemPrimes</targetReference>
            </connector>
            <label>Pas de Calcul Indem Primes</label>
        </rules>
        <rules>
            <name>NoCalculIndemEchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemEchange</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNoCalculIndemEchange</targetReference>
            </connector>
            <label>Pas de Calcul Indem Echange</label>
        </rules>
        <rules>
            <name>NoCalculIndemReparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemReparation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenNoCalculIndemReparation</targetReference>
            </connector>
            <label>Pas de Calcul Indem Réparation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCalculIndemPrimes</name>
        <label>Vérification Calcul Indem Primes</label>
        <locationX>2770</locationX>
        <locationY>1779</locationY>
        <defaultConnectorLabel>Pas de Calcul Indem</defaultConnectorLabel>
        <rules>
            <name>CalculIndemPrimes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemPrimes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCalculIndemPrimes</targetReference>
            </connector>
            <label>Calcul Indem Primes</label>
        </rules>
        <rules>
            <name>CalculIndemEchange2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemEchange</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCalculIndemEchange</targetReference>
            </connector>
            <label>Calcul Indem Echange</label>
        </rules>
        <rules>
            <name>CalculIndemReparation2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemReparation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCalculIndemReparation</targetReference>
            </connector>
            <label>Calcul Indem Réparation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCalculIndemStatusCreated</name>
        <label>Vérification Calcul Indem Créer</label>
        <locationX>2469</locationX>
        <locationY>1413</locationY>
        <defaultConnector>
            <targetReference>CheckAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calcul Indem Statut Validé</defaultConnectorLabel>
        <rules>
            <name>CalculIndemStatusCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCalculIndemCreated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ListToApprove</targetReference>
            </connector>
            <label>Calcul Indem Statut Créé</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCalculIndemToRun</name>
        <label>Vérification Calcul Indem A Traiter</label>
        <locationX>2095</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>ScreenCalculIndemPendingApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calcul Indem En Cours D&apos;Approbation</defaultConnectorLabel>
        <rules>
            <name>ExistingCalculIndemToRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemATraiter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCaseAmount</targetReference>
            </connector>
            <label>Calcul Indem A Traiter Existant</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseAmount</name>
        <label>Vérification Coût Global Sinistre</label>
        <locationX>2097</locationX>
        <locationY>1419</locationY>
        <defaultConnector>
            <targetReference>GetCalculIndemCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Montant à Approuver</defaultConnectorLabel>
        <rules>
            <name>AmountOk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.Montant_sinistre__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Montant_approbation__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckAlert</targetReference>
            </connector>
            <label>Montant OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCaseStatus</name>
        <label>Statut du sinistre</label>
        <locationX>1308</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>ScreenWrongStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CorrectStatus</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours d&apos;examen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRelatedCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours d&apos;indemnisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlreadyWaitingAlert</targetReference>
            </connector>
            <label>Statut correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDamagedEquipStatus</name>
        <label>CheckDamagedEquipStatus</label>
        <locationX>2773</locationX>
        <locationY>2412</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DamagedEquipStatusRepInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDamagedEquipRep.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDamagedEquipRepInProgress</targetReference>
            </connector>
            <label>DamagedEquipStatusRepInProgress</label>
        </rules>
        <rules>
            <name>DamagedEquipSubStatusStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDamagedEquipRep.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stocké</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDamagedEquipSubStatusOutOfStock</targetReference>
            </connector>
            <label>DamagedEquipSubStatusStock</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNewCalculIndemPrimes</name>
        <label>Vérifier Nouveau Calcul Indem Coût choisi Primes</label>
        <locationX>2154</locationX>
        <locationY>715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewCalculIndemPrimes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateListCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCalculIndemPrimes</targetReference>
            </connector>
            <label>Calcul Indem Coût choisi Primes</label>
        </rules>
        <rules>
            <name>NewCalculIndemReparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateListCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCalculIndemReparation</targetReference>
            </connector>
            <label>Calcul Indem Coût choisi Réparation</label>
        </rules>
        <rules>
            <name>NewCalculIndemEchange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateListCalculIndem.Cout_choisi__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCalculIndemEchange</targetReference>
            </connector>
            <label>Calcul Indem Coût choisi Echange</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPresenceCalculIndem</name>
        <label>Vérification Calcul Indem Présent</label>
        <locationX>1665</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>ScreenNoCalculIndem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de Calcul Indem</defaultConnectorLabel>
        <rules>
            <name>PresenceCalculIndem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCalculIndemStillOpen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateListCalculIndem</targetReference>
            </connector>
            <label>Calcul Indem Présent</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatusNewCalcul</name>
        <label>Vérifier Statut Nouveau Calcul Indem</label>
        <locationX>2386</locationX>
        <locationY>967</locationY>
        <defaultConnector>
            <targetReference>BooleanCalculindemAppro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Calcul Indem En cours d&apos;Approbation</defaultConnectorLabel>
        <rules>
            <name>CalculIndemDiffPendingApproval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BooleanCalculindemAppro.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>En cours d&apos;approbation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBooleanCalculIndemATraiter</targetReference>
            </connector>
            <label>Calcul Indem Différent de En cours d&apos;Approbation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Derogation</name>
        <label>Dérogation</label>
        <locationX>2705</locationX>
        <locationY>1246</locationY>
        <defaultConnector>
            <targetReference>ScreenAmountDerogation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dérogation Montant</defaultConnectorLabel>
        <rules>
            <name>AmountContractDerogation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRelatedCase.TECH_NumberAlertWaiting__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenAmountContractDerogation</targetReference>
            </connector>
            <label>Dérogation Montant et Contrat</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaiementFranchise</name>
        <label>PaiementFranchise</label>
        <locationX>1245</locationX>
        <locationY>1407</locationY>
        <defaultConnector>
            <targetReference>ScreenNoCalculIndemFranchise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de franchise</defaultConnectorLabel>
        <rules>
            <name>Presence_franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MouvementFinancierFranchise.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_TC_Reglement_Franchise</targetReference>
            </connector>
            <label>Présence franchise</label>
        </rules>
    </decisions>
    <decisions>
        <description>Filtre sur le type de refus de dossier</description>
        <name>RefusDossier</name>
        <label>Dec_RefusDossier</label>
        <locationX>668</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>UpdateStatutCaseSansSuite_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClosSansSuite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechStagePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sans suite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatutCaseSansSuite</targetReference>
            </connector>
            <label>Clos Sans Suite</label>
        </rules>
        <rules>
            <name>ClosRefus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TechStagePicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dossier KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatutCaseClosRefus</targetReference>
            </connector>
            <label>Clos Dossier KO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_action</name>
        <label>Type Action</label>
        <locationX>1145</locationX>
        <locationY>730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Demande_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_TC_Document</targetReference>
            </connector>
            <label>Demande Document</label>
        </rules>
        <rules>
            <name>Reglement_Contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Contrat​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_TC_Reglement_Contrat</targetReference>
            </connector>
            <label>Règlement Contrat​</label>
        </rules>
        <rules>
            <name>Reglement_Franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Franchise​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMvtFinancier</targetReference>
            </connector>
            <label>Règlement Franchise</label>
        </rules>
        <rules>
            <name>Refus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Statut</targetReference>
            </connector>
            <label>Refus</label>
        </rules>
        <rules>
            <name>ValidationPrimeEchangeReparation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation Réparation​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckCaseStatus</targetReference>
            </connector>
            <label>Validation Prime Echange Réparation</label>
        </rules>
        <rules>
            <name>Declenchement_reparation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeAction.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Déclencher réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_RT</targetReference>
            </connector>
            <label>Déclenchement réparation</label>
        </rules>
    </decisions>
    <description>Implémentation SFAMI 487</description>
    <dynamicChoiceSets>
        <name>AffectationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Affectation__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TechStagePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tech_Stage__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CommentaireComplet</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.CurrentDate})&amp;&quot;--&quot;&amp;{!TypeAction.topValue}&amp;&quot; &quot;&amp;TEXT({!AffectationPicklist})&amp;&quot;--&quot;&amp;{!Commentaire}</expression>
    </formulas>
    <formulas>
        <name>CommentaireRefus</name>
        <dataType>String</dataType>
        <expression>{!TypeAction.middleValue} + &apos; - &apos; + {!Commentaire}</expression>
    </formulas>
    <formulas>
        <name>InTwoDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <interviewLabel>Nouvelle Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouvelle Action</label>
    <loops>
        <name>BooleanCalculindemAppro</name>
        <label>Boucle Calcul Indem Approbation</label>
        <locationX>2102</locationX>
        <locationY>957</locationY>
        <collectionReference>GetCalculIndemStillOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckStatusNewCalcul</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCalculIndemToRun</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CreateListCalculIndem</name>
        <label>Ordonner Calcul Indemnisation</label>
        <locationX>1898</locationX>
        <locationY>730</locationY>
        <collectionReference>GetCalculIndemStillOpen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckNewCalculIndemPrimes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckCalculIndem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ListToApprove</name>
        <label>Loop_ListToApprove</label>
        <locationX>2713</locationX>
        <locationY>1412</locationY>
        <collectionReference>GetCalculIndemCreated</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ApproveMvt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Derogation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_closed_task</name>
        <label>Create new closed task</label>
        <locationX>678</locationX>
        <locationY>895</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_TC_Document</name>
        <label>Create Task TC Document</label>
        <locationX>1024</locationX>
        <locationY>1152</locationY>
        <connector>
            <targetReference>UpdateStatutCase</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Appel sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_TC_Refus</name>
        <label>Create Task TC Refus</label>
        <locationX>809</locationX>
        <locationY>723</locationY>
        <connector>
            <targetReference>RefusDossier</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CommentaireRefus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Accord / refus</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_TC_Reglement_Contrat</name>
        <label>Create Task TC Règlement Contrat</label>
        <locationX>1119</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>UpdateStatutCase</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_TC_Reglement_Franchise</name>
        <label>Create Task TC Règlement Franchise</label>
        <locationX>1508</locationX>
        <locationY>1405</locationY>
        <connector>
            <targetReference>UpdateMouvementFinancier</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Appel sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateFollowUpTask</name>
        <label>Création Tâche Suivi</label>
        <locationX>2778</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>CheckCalculIndemPrimes</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Affectation__c</field>
            <value>
                <elementReference>AffectationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_type_Action__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskRepairer</name>
        <label>CreateTaskRepairer</label>
        <locationX>3148</locationX>
        <locationY>2545</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetDamagedEquipRep.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetTaskRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A réparer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetDamagedEquipRep.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_EquipSin_RT</name>
        <label>Get EquipSin RT</label>
        <locationX>939</locationX>
        <locationY>895</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_equipement_sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TaskRT</name>
        <label>Get TaskRT</label>
        <locationX>1153</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIdOwnerGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCalculIndemCreated</name>
        <label>Requête Calcul Indemnisation Crée</label>
        <locationX>2350</locationX>
        <locationY>1411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCalculIndemStatusCreated</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Echange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCalculIndemStillOpen</name>
        <label>Requête Calcul Indemnisation Non Terminé</label>
        <locationX>1566</locationX>
        <locationY>729</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPresenceCalculIndem</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Echange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDamagedEquipRep</name>
        <label>GetDamagedEquipRep</label>
        <locationX>2780</locationX>
        <locationY>2262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDamagedEquipStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeDamagedEquipRep.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIdOwnerGroup</name>
        <label>GetIdOwnerGroup</label>
        <locationX>1153</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_teleconseiller</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>IdOwnerGroup</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMvtFinancier</name>
        <label>GetMvtFinancier</label>
        <locationX>1253</locationX>
        <locationY>1265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PaiementFranchise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <object>Mouvements_financiers__c</object>
        <outputReference>MouvementFinancierFranchise</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeDamagedEquipRep</name>
        <label>GetRecordTypeDamagedEquipRep</label>
        <locationX>2780</locationX>
        <locationY>2124</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDamagedEquipRep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedCase</name>
        <label>GetRelatedCase</label>
        <locationX>1152</locationX>
        <locationY>184</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NouvelleAction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskRecordType</name>
        <label>GetTaskRecordType</label>
        <locationX>3017</locationX>
        <locationY>2545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTaskRepairer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tache</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CSE_Status_EnCoursIndem</name>
        <label>Update_CSE_Status_EnCoursIndem</label>
        <locationX>2636</locationX>
        <locationY>1640</locationY>
        <connector>
            <targetReference>CreateFollowUpTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire_decision__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_decision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_gestionnaire__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>TypeAction.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours d&apos;indemnisation</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_equipement_sinistre</name>
        <label>Update equipement sinistré</label>
        <locationX>810</locationX>
        <locationY>895</locationY>
        <connector>
            <targetReference>Create_new_closed_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EquipSin_RT.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>A sortir du stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Livraison PSM</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCalculIndemEchange</name>
        <label>Update Calcul Indem Echange</label>
        <locationX>2996</locationX>
        <locationY>1778</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Echange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCalculIndemPrimes</name>
        <label>Update Calcul Indem Primes</label>
        <locationX>2518</locationX>
        <locationY>1781</locationY>
        <connector>
            <targetReference>Sub_PaiementVersement</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCalculIndemReparation</name>
        <label>Update Calcul Indem Réparation</label>
        <locationX>2780</locationX>
        <locationY>1983</locationY>
        <connector>
            <targetReference>GetRecordTypeDamagedEquipRep</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDamagedEquipRepInProgress</name>
        <label>UpdateDamagedEquipRepInProgress</label>
        <locationX>2895</locationX>
        <locationY>2545</locationY>
        <connector>
            <targetReference>GetTaskRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeDamagedEquipRep.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDamagedEquipSubStatusOutOfStock</name>
        <label>UpdateDamagedEquipSubStatusOutOfStock</label>
        <locationX>2683</locationX>
        <locationY>2530</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeDamagedEquipRep.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>A sortir du stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Livraison PSM</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateMouvementFinancier</name>
        <label>UpdateMouvementFinancier</label>
        <locationX>1508</locationX>
        <locationY>1612</locationY>
        <connector>
            <targetReference>Sub_PaiementVersement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatutCase</name>
        <label>UpdateStatutCaseIncomplet</label>
        <locationX>903</locationX>
        <locationY>1271</locationY>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5) AND 6</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reception_dossier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attribué</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>A attribuer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Dernier_commentaire_incomplet__c</field>
            <value>
                <elementReference>CommentaireComplet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Incomplet</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatutCaseClosRefus</name>
        <label>UpdateStatutCaseClosRefus</label>
        <locationX>419</locationX>
        <locationY>592</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire_decision__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_refus__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_gestionnaire__c</field>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dernier_commentaire_refus__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_refus__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Clos refusé</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatutCaseSansSuite</name>
        <label>UpdateStatutCaseSansSuite</label>
        <locationX>415</locationX>
        <locationY>722</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire_decision__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_refus__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_gestionnaire__c</field>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dernier_commentaire_refus__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_refus__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Clos classé sans suite</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStatutCaseSansSuite_0</name>
        <label>UpdateStatutCaseSansSuite</label>
        <locationX>417</locationX>
        <locationY>860</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire_decision__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_refus__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_gestionnaire__c</field>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dernier_commentaire_refus__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_refus__c</field>
            <value>
                <elementReference>TypeAction.middleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>ApprovalRequestCreated</name>
        <label>Une demande d&apos;approbation a été créee</label>
        <locationX>1496</locationX>
        <locationY>1184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalprocessCreated</name>
            <fieldText>&lt;p&gt;Une demande d&apos;approbation a été créée et est en attente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_already_approvalProcess</name>
        <label>error_already_approvalProcess</label>
        <locationX>1319</locationX>
        <locationY>1023</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 153, 0);&quot;&gt;Vous avez des alertes contrats à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NouvelleAction</name>
        <label>Nouvelle Action</label>
        <locationX>1152</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_TaskRT</targetReference>
        </connector>
        <fields>
            <name>TypeAction</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sous_type_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Affectation</name>
            <choiceReferences>AffectationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Affectation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentaire</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenAmountContractDerogation</name>
        <label>Dérogation Montant et Contrat</label>
        <locationX>2599</locationX>
        <locationY>1132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageAmountContractDerogation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;Une dérogation sur le seuil du sinistre vient d&apos;être demandée et vous avez aussi des alertes contrats à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenAmountDerogation</name>
        <label>Dérogation Montant</label>
        <locationX>2806</locationX>
        <locationY>1127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageAmountDerogation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0); background-color: rgb(255, 255, 255);&quot;&gt;Une dérogation sur le seuil du sinistre vient d&apos;être demandée.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCalculIndemPendingApproval</name>
        <label>Calcul Indem Déjà En Cours D&apos;Approbation</label>
        <locationX>2322</locationX>
        <locationY>1188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageApprovalProcessAmountPendingApproval</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 153, 0);&quot;&gt;Une dérogation a déjà été demandée sur le seuil du sinistre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenContractDerogation</name>
        <label>Dérogation Contrat</label>
        <locationX>2215</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageContractDerogation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 153, 0);&quot;&gt;Vous avez des alertes contrats à valider.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNoCalculIndem</name>
        <label>Pas de Calcul Indem</label>
        <locationX>1674</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoCalculIndem</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 153, 0);&quot;&gt;Pas de nouvelle prime existante.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNoCalculIndemEchange</name>
        <label>Pas de Calcul Indemnisation Echange</label>
        <locationX>1632</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoCalculIndemEchange</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;Pas de nouvelle prime échange existante.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNoCalculIndemFranchise</name>
        <label>Pas de Calcul Indem Franchise</label>
        <locationX>1254</locationX>
        <locationY>1652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoCalculIndemFranchise</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 153, 0);&quot;&gt;Il n&apos;y a pas de franchise à règler.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNoCalculIndemPrimes</name>
        <label>Pas de Calcul Indemnisation Primes</label>
        <locationX>1621</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoCalculIndemPrimes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;Pas de nouvelle prime indemnisation existante.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenNoCalculIndemReparation</name>
        <label>Pas de Calcul Indemnisation Réparation</label>
        <locationX>1900</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageNoCalculIndemReparation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 153, 0);&quot;&gt;Pas de nouvelle prime réparation existante.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenWrongStatus</name>
        <label>Mauvais Status</label>
        <locationX>1311</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageWrongStatus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 153, 0);&quot;&gt;Le statut du sinistre ne vous permet de faire ce type d&apos;opérations.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Statut</name>
        <label>Statut</label>
        <locationX>928</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Task_TC_Refus</targetReference>
        </connector>
        <fields>
            <name>TaskStage</name>
            <choiceReferences>TechStagePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1026</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetRelatedCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AlertMotifGENERATOR</name>
        <label>AlertMotifGENERATOR</label>
        <locationX>1495</locationX>
        <locationY>899</locationY>
        <connector>
            <targetReference>TriggerApproval_Process</targetReference>
        </connector>
        <flowName>Update_Approval_motif_list</flowName>
        <inputAssignments>
            <name>Var_CaseId</name>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sub_PaiementVersement</name>
        <label>Sub_PaiementVersement</label>
        <locationX>1508</locationX>
        <locationY>1781</locationY>
        <flowName>Nouveau_paiement_versement</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CalculIndemATraiter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CalculIndemEchange</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>CalculIndemPrimes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>CalculIndemReparation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>IdOwnerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MouvementFinancierFranchise</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>Var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
