hubSide/force-app/main/default/flows/Nouveau_paiement_versement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Ajout_montant_externe</name>
        <label>Ajout montant externe</label>
        <locationX>1105</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>MontantMouvementFinancier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Addition_des_couts_externes_valides.Montant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Addition_des_couts_externes_valides</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Montant</name>
        <label>Montant</label>
        <locationX>1359</locationX>
        <locationY>612</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>MontantSup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MontantMouvementFinancier</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paiementversement</targetReference>
            </connector>
            <label>MontantSup</label>
        </rules>
        <rules>
            <name>MontantInf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MontantMouvementFinancier</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Paiementversement_0</targetReference>
            </connector>
            <label>MontantInf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Montant_null</name>
        <label>Montant null ?</label>
        <locationX>1401</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Montant_non_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MontantMouvementFinancier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MontantMouvementFinancier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Montant</targetReference>
            </connector>
            <label>Montant non null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Listedesmouvementsfinancier</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Mouvements_financiers__c</object>
        <outputAssignments>
            <assignToReference>MontantMouvementFinancier</assignToReference>
            <field>Montant__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Nomenclature</name>
        <dataType>String</dataType>
        <expression>&apos;PAI&apos; +&quot;-&quot;+LEFT(TEXT(NOW()), LEN(TEXT(NOW()))-1)  +&quot; - GMT&quot;</expression>
    </formulas>
    <formulas>
        <name>Nomenclature2</name>
        <dataType>String</dataType>
        <expression>&apos;REG&apos; +&quot;-&quot;+LEFT(TEXT(NOW()), LEN(TEXT(NOW()))-1) +&quot; - GMT&quot;</expression>
    </formulas>
    <interviewLabel>Nouveau paiement versement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouveau paiement versement</label>
    <loops>
        <name>Addition_des_couts_externes_valides</name>
        <label>Addition des coûts externes validés</label>
        <locationX>1106</locationX>
        <locationY>430</locationY>
        <collectionReference>Liste_mouvements_externes_valides</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ajout_montant_externe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Montant_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Paiementversement</name>
        <label>Paiementversement</label>
        <locationX>1644</locationX>
        <locationY>682</locationY>
        <assignRecordIdToReference>VAR_Paiementversement_ID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatePaiementVersementLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>MontantMouvementFinancier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nomenclature2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande Versement</stringValue>
            </value>
        </inputAssignments>
        <object>Paiement_Versement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Paiementversement_0</name>
        <label>Paiementversement</label>
        <locationX>1606</locationX>
        <locationY>454</locationY>
        <assignRecordIdToReference>VAR_Paiementversement_ID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatePaiementVersementLookup</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>MontantMouvementFinancier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nomenclature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande Paiement</stringValue>
            </value>
        </inputAssignments>
        <object>Paiement_Versement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Liste_mouvements_externes_valides</name>
        <label>Liste mouvements externes validés</label>
        <locationX>973</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Addition_des_couts_externes_valides</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND ((3 AND 4) OR 5) ) OR ((3 OR 7) AND 6 AND 4))</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Paiement_Versement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePaiementVersementLookup</name>
        <label>Mise à Jour Paiement_Versement__c</label>
        <locationX>1821</locationX>
        <locationY>541</locationY>
        <connector>
            <targetReference>Nouveau_paiement_versement</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND ((3 AND 4) OR 5) ) OR ((3 OR 7) AND 6 AND 4))</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Paiement_Versement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Paiement_Versement__c</field>
            <value>
                <elementReference>VAR_Paiementversement_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Demande en cours</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>1408</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Il n&apos;y a pas de mouvement financier à prendre en compte pour ce paiement. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nouveau_paiement_versement</name>
        <label>Nouveau paiement versement</label>
        <locationX>1991</locationX>
        <locationY>531</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_final</name>
            <fieldText>&lt;p&gt;Un nouveau paiement versement à été créé&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>581</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Liste_mouvements_externes_valides</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listemouvementfinancier</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MontantMouvementFinancier</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MontantSinistre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_Paiementversement_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
