hubSide/force-app/main/default/flows/Nouvelle_Action_TC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>Actionlist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_Action_TC__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>InTwoDays</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+2</expression>
    </formulas>
    <formulas>
        <name>subject</name>
        <dataType>String</dataType>
        <expression>TEXT({!Actionlist})</expression>
    </formulas>
    <interviewLabel>Nouvelle Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouvelle Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_TC_Document</name>
        <label>Create Task TC Document</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>TaskIdCreated</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InTwoDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <stringValue>Mail sortant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>IdOwnerGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TaskRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action_TC__c</field>
            <value>
                <elementReference>Actionlist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>Actionlist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_TaskRT</name>
        <label>Get TaskRT</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetIdOwnerGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetIdOwnerGroup</name>
        <label>GetIdOwnerGroup</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_TC_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_ADM</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>IdOwnerGroup</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>NouvelleAction</name>
        <label>Nouvelle Action</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_TaskRT</targetReference>
        </connector>
        <fields>
            <name>Nouvelle_Action_TC</name>
            <choiceReferences>Actionlist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nouvelle Action TC</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Commentaire</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NouvelleAction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdOwnerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskIdCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
