hubSide/force-app/main/default/flows/Nouvelle_piece_jointe.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>TypePJ_selected</name>
        <label>TypePJ selected ?</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Loop_over_the_TypePJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PJ_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PJToCreate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_the_TypePJ.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PJ</targetReference>
            </connector>
            <label>PJ selected</label>
        </rules>
    </decisions>
    <description>16/07/2021 LLA SFAMI-2028 : active auto layout</description>
    <dynamicChoiceSets>
        <name>TypePJList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Types_piece_justificative__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Nouvelle Pi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nouvelle pièce jointe</label>
    <loops>
        <name>Loop_over_the_TypePJ</name>
        <label>Loop over the TypePJ</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_TypePJ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TypePJ_selected</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PJ</name>
        <label>Create PJ</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Loop_over_the_TypePJ</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>sinistreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Loop_over_the_TypePJ.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Validite_document__c</field>
            <value>
                <stringValue>expected</stringValue>
            </value>
        </inputAssignments>
        <object>Piece_justificative_Sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_current_PJs</name>
        <label>Get current PJs</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_TypePJ</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sinistreId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>expected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Validite_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>valid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Piece_justificative_Sinistre__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TypePJ</name>
        <label>Get TypePJ</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_current_PJs</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Types_piece_justificative__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PJ</name>
        <label>PJ</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_TypePJ</targetReference>
        </connector>
        <fields>
            <name>PJToCreate</name>
            <choiceReferences>TypePJList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quel(s) type(s) de pièce justificative voulez-vous créer ?</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PJ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sinistreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TypePJName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
