hubSide/force-app/main/default/flows/OutboundCommunicationEqptSin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Raison pour laquelle la communication client est déclenchée</description>
        <name>DEC_Communication_reason</name>
        <label>DEC_Motif communication</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_018_under_repair_decision</name>
            <conditionLogic>1 AND 6 AND 2 AND 7 AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En cours</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Email_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.CanalChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sous_statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sous_statut__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente GS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_018_under_repair_task</targetReference>
            </connector>
            <label>SIN_018 Appareil en cours de réparation</label>
        </rules>
        <rules>
            <name>SIN_019_components_order_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En commande pièces</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Email_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.CanalChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_019_components_order_task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>SIN_019 Commande de pièces</label>
        </rules>
        <rules>
            <name>SIN_022_device_coming_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Statut_equipement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Réparé Réception client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Email_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.CanalChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_022_device_coming_task</targetReference>
            </connector>
            <label>SIN_022 Appareil en route</label>
        </rules>
        <rules>
            <name>SIN_024_device_choice_confirmation_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Statut_equipement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En destockage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChooseEqp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ClientChoiceDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Email_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.CanalChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ChosenEquip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>SIN_024 Confirmation choix appareil</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_EqpmSin_changed</name>
        <label>DEC_EqpmSin a changé</label>
        <locationX>974</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Statut_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Statut_equipement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sous_statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sous_statut__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sinistre__r.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_Communication_reason</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>EquipementSinistré - After Update
Communications à destination du client, déclenchées par l&apos;équipement sinistré</description>
    <interviewLabel>Communication client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communications client - Eqpt Sinistré</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Créer une tâche d&apos;email sur le sinistre associé pour signaler au client que l&apos;appareil est en cours de réparation</description>
        <name>SIN_018_under_repair_task</name>
        <label>SIN_018 Appareil en cours de réparation</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.Sinistre__r.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_018_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer une tâche d&apos;email sur le sinistre associé pour signaler au client que des pièces sont en commande</description>
        <name>SIN_019_components_order_task</name>
        <label>SIN_019 Commande de pièces</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.Sinistre__r.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_019_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer une tâche d&apos;email sur le sinistre associé pour signaler au client que l&apos;appareil est en cours de route</description>
        <name>SIN_022_device_coming_task</name>
        <label>SIN_022 Appareil en cours</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.Sinistre__r.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_022_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Renseigne champs TECH from EqpmSin to Case pour merge fields des email templates</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sinistre__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_ChosenModel__c</field>
            <value>
                <elementReference>$Record.ChooseEqp__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_EqpmSin_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
