hubSide/force-app/main/default/flows/OutboundCommunication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Raison pour laquelle la communication client est déclenchée</description>
        <name>Communication_reason</name>
        <label>Motif communication</label>
        <locationX>1106</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_001_Complete_claim_decla_decision</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception_dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Subject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserSystem</targetReference>
            </connector>
            <label>SIN_001_Finaliser déclaration</label>
        </rules>
        <rules>
            <name>SIN_023_Claim_closed_ext_rep</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>closed_repaired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>closed_exchange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_023_Cloture_sin_task</targetReference>
            </connector>
            <label>SIN_023 Clôture sin ech/rep</label>
        </rules>
    </decisions>
    <decisions>
        <name>DisasterType</name>
        <label>Typologie de sinistre</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_001a_A_MAIL</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception_dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Demande_de_rapatriement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oxidised</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewTaskMailTrackingSIN_001a_A</targetReference>
            </connector>
            <label>SIN_001a_A_MAIL Casse oxydation avec rapatriement</label>
        </rules>
        <rules>
            <name>SIN_001b_A_MAIL</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception_dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Demande_de_rapatriement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oxidised</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_001b_A_XD_n_1b</targetReference>
            </connector>
            <label>SIN_001b_A. (XD n°1b) Casse oxydation sans rapatriement</label>
        </rules>
        <rules>
            <name>SIN_001c_A_MAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception_dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_001c_A_XD_n_1c</targetReference>
            </connector>
            <label>SIN_001c_A. (XD n°1c) Perte avec attestation</label>
        </rules>
        <rules>
            <name>SIN_001e_A_MAIL</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception_dossier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robbed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_001e_A_XD_n_1e</targetReference>
            </connector>
            <label>SIN_001e_A. (XD n°1e) Vol avec attestation</label>
        </rules>
    </decisions>
    <description>Case - After Create + Update
Communications à destination du client, déclenchées par la modification d&apos;un case</description>
    <interviewLabel>Communications client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Communications client - Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>NewTaskMailTrackingSIN_001a_A</name>
        <label>SIN_001a_A. (XD n°1a) Casse oxydation avec rapatriement</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_001a_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SIN_001b_A_XD_n_1b</name>
        <label>SIN_001b_A. (XD n°1b) Casse oxydation sans rapatriement</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_001b_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SIN_001c_A_XD_n_1c</name>
        <label>SIN_001c_A. (XD n°1c) Perte avec attestation</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_001c_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SIN_001e_A_XD_n_1e</name>
        <label>SIN_001e_A. (XD n°1e) Vol avec attestation</label>
        <locationX>842</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_001e_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer une tâche d&apos;email pour sinistre clos refusé</description>
        <name>SIN_023_Cloture_sin_task</name>
        <label>SIN_023 Clôture sin_task</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>$Record.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_023_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisasterType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VarRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserSystem</name>
        <label>GetUserSystem</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UsertSystem</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>VarGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Communication_reason</targetReference>
        </connector>
        <filterLogic>(1 OR 9) AND 2 AND 10 AND (3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 11)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CanalChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Print</stringValue>
            </value>
        </filters>
        <filters>
            <field>CanalChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>CanalChannel__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_repaired</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_exchange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reception_dossier</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre clôturé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>closed_rejected</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
