hubSide/force-app/main/default/flows/PackageInvalidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckIfPackageIsAttached</name>
        <label>Check if package is attached</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>InvalidationColisErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotAttached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetColis.Sinistre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePackageStatus</targetReference>
            </connector>
            <label>No, Colis is not attached</label>
        </rules>
    </decisions>
    <description>Permet d&apos;invalider un colis</description>
    <formulas>
        <name>CalculateNumberPackagesReceived</name>
        <dataType>Number</dataType>
        <expression>{!NumberPackagesReceived} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculateNumberPackagesScanned</name>
        <dataType>Number</dataType>
        <expression>{!NumberPackagesScanned} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Colis Invalidation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invalidation Colis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetColis</name>
        <label>Get Colis</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfPackageIsAttached</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColisId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Colis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReceptionColis</name>
        <label>Get Reception Colis</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateReceptionColis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetColis.Reception_colis__c</elementReference>
            </value>
        </filters>
        <object>Reception_colis__c</object>
        <outputAssignments>
            <assignToReference>NumberPackagesReceived</assignToReference>
            <field>Nombre_colis_recus__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberPackagesScanned</assignToReference>
            <field>Nombre_colis_scannes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePackageStatus</name>
        <label>Update package status</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>GetReceptionColis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColisId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </inputAssignments>
        <object>Colis__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReceptionColis</name>
        <label>Update Reception Colis</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetColis.Reception_colis__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nombre_colis_recus__c</field>
            <value>
                <elementReference>CalculateNumberPackagesReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_colis_scannes__c</field>
            <value>
                <elementReference>CalculateNumberPackagesScanned</elementReference>
            </value>
        </inputAssignments>
        <object>Reception_colis__c</object>
    </recordUpdates>
    <screens>
        <name>InvalidationColisErrorScreen</name>
        <label>Invalidation Colis Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InvalidationColisError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Vous ne pouvez pas invalider le colis car il est déjà attaché à un sinistre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PackageInvalidation</name>
        <label>Invalidation d&apos;un colis</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetColis</targetReference>
        </connector>
        <fields>
            <name>Comment</name>
            <fieldText>Commentaire</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PackageInvalidation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberPackagesReceived</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberPackagesScanned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
