hubSide/force-app/main/default/flows/ParentIdTaskClosing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Raison issue d&apos;une task pour laquelle la communication client est déclenchée</description>
        <name>Communication_reason</name>
        <label>Motif communication</label>
        <locationX>296</locationX>
        <locationY>798</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SIN_007_doc_request_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande de document</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_007_Email_docs_manquants</targetReference>
            </connector>
            <label>SIN_007 Demande document</label>
        </rules>
        <rules>
            <name>SIN_016_phone_code_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TerminalUnlock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_016_phone_code_task</targetReference>
            </connector>
            <label>SIN_016 Code verrouillage bloquant</label>
        </rules>
        <rules>
            <name>SIN_017_disable_geolocation_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeolocalisationDeactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SIN_017_disable_geolocation_task</targetReference>
            </connector>
            <label>SIN_017 Désactiver géoloc</label>
        </rules>
    </decisions>
    <decisions>
        <description>La task fait-elle suite à un rappel client ? (cf. Button &quot;Rappel client&quot; sur l&apos;objet Task pour fonctionnement)</description>
        <name>CustomerReminder_decision</name>
        <label>Rappel client</label>
        <locationX>301</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Communication client</defaultConnectorLabel>
        <rules>
            <name>CustomerReminder_true</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TC_ParentTaskId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_type_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TCVendeur</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_type_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre_Task_Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateParentTask</targetReference>
            </connector>
            <label>Rappel client true</label>
        </rules>
    </decisions>
    <description>Gestion des communications clients déclenchées par des tâches, ou &quot;Rappel client&quot; pour relance</description>
    <interviewLabel>ParentIdTaskClosing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task after insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Créer une tâche d&apos;envoi automatique d&apos;email sur le Case pour demande de documents manquants</description>
        <name>SIN_007_Email_docs_manquants</name>
        <label>SIN_007_Email docs manquants</label>
        <locationX>59</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>Get_Case.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_007_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer une tâche d&apos;envoi automatique d&apos;email sur le Case pour demande le code de déverrouillage</description>
        <name>SIN_016_phone_code_task</name>
        <label>SIN_016 Code verrouillage bloquant</label>
        <locationX>301</locationX>
        <locationY>1048</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>Get_Case.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_016_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer une tâche d&apos;envoi automatique d&apos;email sur le Case pour demande de désactiver la géoloc</description>
        <name>SIN_017_disable_geolocation_task</name>
        <label>SIN_017 Désactiver géoloc</label>
        <locationX>521</locationX>
        <locationY>1056</locationY>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>Get_Case.CanalChannel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_template__c</field>
            <value>
                <stringValue>SIN_017_A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Récupère les données du Case de la Task</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>304</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Communication_reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Suite au clone d&apos;une task existante pour rappel client, la task parente est mise à jour et clôturée</description>
        <name>UpdateParentTask</name>
        <label>MAJ tâche parente</label>
        <locationX>99</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TC_ParentTaskId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motif_cloture__c</field>
            <value>
                <stringValue>Rappel client programmé</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Fermé KO</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>182</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>CustomerReminder_decision</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) OR 4</filterLogic>
        <filters>
            <field>Type_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Demande de document</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TerminalUnlock</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GeolocalisationDeactivation</stringValue>
            </value>
        </filters>
        <filters>
            <field>TC_ParentTaskId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
