hubSide/force-app/main/default/flows/Rattachement_colis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Assure_identifiable</name>
        <label>Assuré identifiable ?</label>
        <locationX>347</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Equipement_Sinistre_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nope_assure_non_identifiable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assure_non_identifiable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CommentaireScr</targetReference>
            </connector>
            <label>Nope, assuré non identifiable</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTypologieSinistre</name>
        <label>CheckTypologieSinistre</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Affectation_colis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Typologie_sin_err</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robbed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenTypologieErr</targetReference>
            </connector>
            <label>Typologie SIN error</label>
        </rules>
        <rules>
            <name>Typologie_SAV_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LostByCarrier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Typo_SAV_error</targetReference>
            </connector>
            <label>Typologie SAV error</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEV_CheckAttenteClient</name>
        <label>DEV_CheckAttenteClient</label>
        <locationX>974</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Update_Sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AttenteClientInProgress</defaultConnectorLabel>
        <rules>
            <name>NoAttenteClient</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND (6 OR 7) AND (8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Attente_colis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Asset.Etat_paiement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Asset.Etat_paiement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Autre_attente__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Autre_attente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Attente_Prime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Attente_Prime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Attente_documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Attente_documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sinistre_With_Status</targetReference>
            </connector>
            <label>NoAttenteClient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Numero_sinistre</name>
        <label>Numéro sinistre</label>
        <locationX>644</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Choix_du_sinistre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Numero_sinistre_present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Numero_requete</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>INS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Numero_requete</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sinistre_via_NumSin</targetReference>
            </connector>
            <label>Numéro sinistre</label>
        </rules>
        <rules>
            <name>Num_Imei_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numero_IMEI</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Equip_Sin_via_IMEI</targetReference>
            </connector>
            <label>Numéro Imei</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_RT_pour_l_equipSin</name>
        <label>Quel RT pour l&apos;equipSin ?</label>
        <locationX>858</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipement_casse_ou_oxydation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre_RT.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EquipSinRT</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rattachement_colis</targetReference>
            </connector>
            <label>Equipement casse ou oxydation</label>
        </rules>
    </decisions>
    <description>Rattachement d&apos;un colis à un Case et Equipement Sinistré</description>
    <dynamicChoiceSets>
        <name>CaseChoice</name>
        <dataType>String</dataType>
        <displayField>Numero_sinistre__c</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nom_du_client.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Numero_sinistre__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Numero_sinistre__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Rattachement colis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rattachement colis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Equip_Sin_via_IMEI</name>
        <label>Get Equip Sin via IMEI</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerieNumberEC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Numero_IMEI</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputAssignments>
            <assignToReference>EquipSinID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EquipSinRT</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>Sinistre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Equip_Sinistre</name>
        <label>Get Equip Sinistre</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputAssignments>
            <assignToReference>EquipSinID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EquipSinRT</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Equip_Sinistre_0</name>
        <label>Get Equip Sinistre</label>
        <locationX>908</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Equipement_sinistre__c</object>
        <outputAssignments>
            <assignToReference>EquipSinID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EquipSinRT</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipement_Sinistre_RT</name>
        <label>Get Equipement Sinistre RT</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Numero_sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre</name>
        <label>Get Sinistre</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTypologieSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre_via_NumSin</name>
        <label>Get Sinistre via NumSin</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Equip_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Numero_requete</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TypologieSin</assignToReference>
            <field>Typologie_Sinistre__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_colis_non_identifiable</name>
        <label>Update colis</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColisID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Non identifiable</stringValue>
            </value>
        </inputAssignments>
        <object>Colis__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV</name>
        <label>Update SAV</label>
        <locationX>974</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>DEV_CheckAttenteClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WaitingForClient</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_colis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sinistre</name>
        <label>Update Sinistre</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_colis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_ByPassTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sinistre_With_Status</name>
        <label>Update Sinistre With Status</label>
        <locationX>842</locationX>
        <locationY>1694</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Numero_sinistre__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>INS</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_colis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_ByPassTrigger__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Choix_du_sinistre</name>
        <label>Choix du sinistre</label>
        <locationX>908</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Equip_Sinistre_0</targetReference>
        </connector>
        <fields>
            <name>Choisir_la_requete</name>
            <choiceReferences>CaseChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sinistre ou requête à associer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CommentaireScr</name>
        <label>Commentaire</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_colis_non_identifiable</targetReference>
        </connector>
        <fields>
            <name>Commentaire</name>
            <dataType>String</dataType>
            <fieldText>Commentaire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Texterror</name>
            <fieldText>&lt;p&gt;Un colis ne peut être rattaché que lorsque la typologie du sinistre est de type Casse ou Oxydation.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rattachement_colis</name>
        <label>Rattachement colis</label>
        <locationX>347</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assure_identifiable</targetReference>
        </connector>
        <fields>
            <name>MissingInfoErrMsg</name>
            <fieldText>&lt;p&gt;Merci de renseigner au choix le nom du client, son numéro de sinistre ou son numéro IMEI. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nom_du_client</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nom du client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assure_non_identifiable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_requete</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Numéro de la requête (SAV ou Sinistre)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assure_non_identifiable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_IMEI</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Numéro IMEI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assure_non_identifiable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Assure_non_identifiable</name>
            <dataType>Boolean</dataType>
            <fieldText>Assuré non identifiable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Typo_SAV_error</name>
        <label>Screen Typo SAV error</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SinistreTypologieErr_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Vous ne pouvez pas rattacher le colis sur un SAV dont la typologie est perte transporteur.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenTypologieErr</name>
        <label>screenTypologieErr</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SinistreTypologieErr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Vous ne pouvez pas rattacher le colis sur un sinistre dont la typologie est vol ou perte.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quel_RT_pour_l_equipSin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Affectation_colis</name>
        <label>Affectation colis</label>
        <locationX>974</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_SAV</targetReference>
        </connector>
        <flowName>SF_Affectation_Colis</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>colisId</name>
            <value>
                <elementReference>ColisID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColisID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EquipSinID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipSinRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypologieSin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
