hubSide/force-app/main/default/flows/Reception_colis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Count_colis</name>
        <label>Count colis</label>
        <locationX>611</locationX>
        <locationY>167</locationY>
        <actionName>Flow_CreateUpdateColisInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ColisCountScr</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>BarcodeString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createColis</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receptionDate</name>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>Nom_transporteur</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NbColisScannesTransporteur</assignToReference>
            <name>barcodeCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>NbColisCreesTransporteur</assignToReference>
            <name>barcodeProcessed</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_colis</name>
        <label>Create colis</label>
        <locationX>1384</locationX>
        <locationY>290</locationY>
        <actionName>Flow_CreateUpdateColisInvokable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>barcodeString</name>
            <value>
                <elementReference>BarcodeString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createColis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receptionColisId</name>
            <value>
                <elementReference>ReceptionColisId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>receptionDate</name>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderName</name>
            <value>
                <elementReference>Nom_transporteur</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_ReceptionColisId</name>
        <label>Assign ReceptionColisId</label>
        <locationX>1113</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>ReceptionColisId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Reception_Colis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NbColisRecusRC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NbColisCrees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nombre_colis_identique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_ColisRattache</name>
        <label>Count ColisRattache</label>
        <locationX>1518</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>NbColisRattaches</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_colis</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChronopostReparation</name>
        <choiceText>Chronopost - Réparation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ChronopostReparation</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChronopostSav</name>
        <choiceText>Chronopost - SAV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ChronopostSav</stringValue>
        </value>
    </choices>
    <choices>
        <name>LaPosteReparation</name>
        <choiceText>La Poste - Réparation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LaPosteReparation</stringValue>
        </value>
    </choices>
    <choices>
        <name>LaPosteSav</name>
        <choiceText>La Poste - SAV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LaPosteSav</stringValue>
        </value>
    </choices>
    <choices>
        <name>PasDeRC</name>
        <choiceText>Lot à créer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PasDeRC</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Colis_renseignes</name>
        <label>Colis renseignés ?</label>
        <locationX>483</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Count_colis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Colis renseignés</defaultConnectorLabel>
        <rules>
            <name>Pas_de_colis_renseigne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Numeros_chronopost</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumerosLaPoste</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saisie_informations</targetReference>
            </connector>
            <label>Pas de colis renseigné</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_t_il_un_ReceptionColis</name>
        <label>Existe-t-il un ReceptionColis ?</label>
        <locationX>861</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Afficher_nb_colis_recus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de RC</defaultConnectorLabel>
        <rules>
            <name>ReceptionColis_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceptionColisId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nombre_colis_identique</targetReference>
            </connector>
            <label>ReceptionColis found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nombre_colis_identique</name>
        <label>Nombre colis identique ?</label>
        <locationX>1105</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>Nombre_de_colis_non_identique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colis_scannes_eq_colis_recus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NbColisCrees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NbColisRecusRC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_colis</targetReference>
            </connector>
            <label>Colis scannés = colis reçus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Saisir_les_colis_de_nouveau</name>
        <label>Saisir les colis de nouveau ?</label>
        <locationX>1107</locationX>
        <locationY>643</locationY>
        <defaultConnector>
            <targetReference>Get_Colis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_please</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voulez_saisir_vos_colis_de_nouveau</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Saisie_informations</targetReference>
            </connector>
            <label>Yes please</label>
        </rules>
    </decisions>
    <description>20/07/2021 TSC SFAMI-2190 : Nb colis reçus pas modifiable</description>
    <dynamicChoiceSets>
        <name>ListNomTransporteur</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nom_transporteur__c</picklistField>
        <picklistObject>Colis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NotreLotQuotidien</name>
        <dataType>String</dataType>
        <displayField>BatchNumber__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_reception__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nom_transporteur__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Nom_transporteur</elementReference>
            </value>
        </filters>
        <object>Reception_colis__c</object>
        <sortField>BatchNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>BatchNumber__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>BarcodeString</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Nom_transporteur}, &quot;Chronopost&quot;), {!Numeros_chronopost}, {!NumerosLaPoste})</expression>
    </formulas>
    <formulas>
        <name>LabelNumerosColis</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS(&apos;Chronopost&apos;, {!Nom_transporteur}), &quot;Numéros Chrooonopost&quot;, &quot;Numéros La Poste&quot;)</expression>
    </formulas>
    <formulas>
        <name>NbColisCrees</name>
        <dataType>Number</dataType>
        <expression>{!NbColisCreesTransporteur}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>nbDoublon</name>
        <dataType>Number</dataType>
        <expression>{!NbColisScannesTransporteur} - {!NbColisCreesTransporteur}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VAR_NomReceptionColis</name>
        <dataType>String</dataType>
        <expression>{!Nom_transporteur} &amp; &apos; - &apos; &amp; TEXT({!Date_reception})</expression>
    </formulas>
    <interviewLabel>Enregistrement clil {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Réception colis</label>
    <loops>
        <name>Loop_over_the_colis</name>
        <label>Loop over the colis</label>
        <locationX>1386</locationX>
        <locationY>634</locationY>
        <collectionReference>Get_Colis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_ColisRattache</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ReceptionColis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reception_Colis</name>
        <label>Create Reception Colis</label>
        <locationX>995</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Assign_ReceptionColisId</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_reception__c</field>
            <value>
                <elementReference>Date_reception</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VAR_NomReceptionColis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nom_transporteur__c</field>
            <value>
                <elementReference>Nom_transporteur</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_colis_recus__c</field>
            <value>
                <elementReference>NbColisCrees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_colis_scannes__c</field>
            <value>
                <elementReference>NbColisCreesTransporteur</elementReference>
            </value>
        </inputAssignments>
        <object>Reception_colis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Colis</name>
        <label>Get Colis</label>
        <locationX>1286</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_the_colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reception_colis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReceptionColisId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Colis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reception_Colis</name>
        <label>Get Reception Colis</label>
        <locationX>745</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_t_il_un_ReceptionColis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_NomReceptionColis</elementReference>
            </value>
        </filters>
        <filters>
            <field>BatchNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lot</elementReference>
            </value>
        </filters>
        <object>Reception_colis__c</object>
        <outputAssignments>
            <assignToReference>ReceptionColisId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NbColisRecusRC</assignToReference>
            <field>Nombre_colis_recus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_ReceptionColis</name>
        <label>Update ReceptionColis</label>
        <locationX>1384</locationX>
        <locationY>437</locationY>
        <connector>
            <targetReference>Create_colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReceptionColisId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nombre_colis_recus__c</field>
            <value>
                <elementReference>NbColisRattaches</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_colis_scannes__c</field>
            <value>
                <elementReference>NbColisRattaches</elementReference>
            </value>
        </inputAssignments>
        <object>Reception_colis__c</object>
    </recordUpdates>
    <screens>
        <name>Afficher_nb_colis_recus</name>
        <label>Afficher nombre colis reçus</label>
        <locationX>868</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Reception_Colis</targetReference>
        </connector>
        <fields>
            <name>ConfirmationColisRecus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Nombre de colis reçus : {!NbColisCrees}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ColisCountScr</name>
        <label>ColisCountScr</label>
        <locationX>746</locationX>
        <locationY>167</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Reception_Colis</targetReference>
        </connector>
        <fields>
            <name>msgScan</name>
            <fieldText>&lt;p&gt;Sur les {!NbColisScannesTransporteur} code-barres scannés, {!NbColisCreesTransporteur} colis vont être créés.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>msgDoublon</name>
            <fieldText>&lt;p&gt;{!nbDoublon} doublons seront ignorés.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nbDoublon</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>nbDoublon</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgContinue</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Merci de continuer pour lier les colis avec l&apos;objet Reception Colis.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lot</name>
            <choiceReferences>NotreLotQuotidien</choiceReferences>
            <choiceReferences>PasDeRC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lot Réception colis à associer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Nombre_de_colis_non_identique</name>
        <label>Nombre de colis non identique</label>
        <locationX>1113</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Saisir_les_colis_de_nouveau</targetReference>
        </connector>
        <fields>
            <name>error_NumberColisDifferent</name>
            <fieldText>&lt;p&gt;/!\ Le nombre de colis que vous venez de scanner ({!NbColisCrees}) est différent du nombre de colis reçus que vous avez renseigné lors de votre réception livraison ({!NbColisRecusRC}).&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Poursuivre le flow mettra à jour l&apos;objet réception colis.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Voulez_saisir_vos_colis_de_nouveau</name>
            <dataType>Boolean</dataType>
            <fieldText>Voulez saisir vos colis de nouveau ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Saisie_informations</name>
        <label>Saisie informations</label>
        <locationX>167</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Colis_renseignes</targetReference>
        </connector>
        <fields>
            <name>Date_reception</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date de réception</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nom_transporteur</name>
            <choiceReferences>ChronopostSav</choiceReferences>
            <choiceReferences>ChronopostReparation</choiceReferences>
            <choiceReferences>LaPosteSav</choiceReferences>
            <choiceReferences>LaPosteReparation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nom du transporteur</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Numeros_chronopost</name>
            <fieldText>Numéros Chronopost</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Nom_transporteur</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Chronopost</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NumerosLaPoste</name>
            <fieldText>Numéros La Poste</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Nom_transporteur</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>LaPoste</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>Saisie_informations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NbColisCreesTransporteur</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NbColisRattaches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>NbColisCrees</elementReference>
        </value>
    </variables>
    <variables>
        <name>NbColisRecusRC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NbColisScannesTransporteur</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReceptionColisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
