hubSide/force-app/main/default/flows/RequestClosing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>ASS_DEM_Task</name>
        <label>ASS_DEM &amp; Task</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClosedDone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Commentaire_decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_TransferReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEMToUpdate.AssociatedSinister__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SUB_Declaration_sinistre.caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Raison_fermeture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_TransferReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_CreatedSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_DEM_Task_2</name>
        <label>ASS_DEM &amp; Task</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>closed_without_further_action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Commentaire_decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_NoActionReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Raison_fermeture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_NoActionReason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_DEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_DEM_Task_3</name>
        <label>ASS_DEM &amp; Task</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Commentaire_decision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_CommentInfoRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ClosedDone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Raison_fermeture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TXT_CommentInfoRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_DEM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_Initiate_DEM_Task_to_UPD</name>
        <label>ASS_Initiate Dem &amp; Task UPD</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>DEMToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_DemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToUpdate.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_RelatedSINtoDOC</name>
        <label>ASS_SIN associé au DOC</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>LOO_AttachDOCtoSIN.Related_sinistre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SUB_Declaration_sinistre.caseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOO_AttachDOCtoSIN</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CloseWithoutAction</name>
        <choiceText>Classer sans suite</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Classer sans suite</stringValue>
        </value>
    </choices>
    <choices>
        <name>InformationRequest</name>
        <choiceText>Demande d&apos;information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demande d&apos;information</stringValue>
        </value>
    </choices>
    <choices>
        <name>TransferToSinistre</name>
        <choiceText>Transférer en sinsitre</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transférer en sinistre</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_Action</name>
        <label>DEC_Action à réaliser</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DEC_TransferToSinister</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransferToSinistre</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUB_Declaration_sinistre</targetReference>
            </connector>
            <label>Transférer en sinistre</label>
        </rules>
        <rules>
            <name>DEC_CloseWithoutAction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloseWithoutAction</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_DEM_Task_2</targetReference>
            </connector>
            <label>Classer sans suite</label>
        </rules>
        <rules>
            <name>DEC_InformationRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InformationRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_InformationRequestScreen</targetReference>
            </connector>
            <label>Demander des information</label>
        </rules>
        <rules>
            <name>DEC_ActionError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Demande.Typologie_Sinistre__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AccidentCreation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TransferToSinistre</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_NoTransferToSinScreen</targetReference>
            </connector>
            <label>Erreur action</label>
        </rules>
    </decisions>
    <description>Action sur un Case de type Demande et PJ : transférer en sinistre, clôturer, demander informations</description>
    <formulas>
        <name>TXT_Typologies</name>
        <dataType>String</dataType>
        <expression>IF ( ISPICKVAL ( {!GET_Demande.Typologie_Sinistre__c} , &quot;ClaimCreation&quot; ) , &quot;Création Réclamation&quot;,
IF ( ISPICKVAL ( {!GET_Demande.Typologie_Sinistre__c} , &quot;ClaimFollowUp&quot; ) , &quot;Suivi Réclamation&quot;,
IF ( ISPICKVAL ( {!GET_Demande.Typologie_Sinistre__c} , &quot;Others&quot; ) , &quot;Autres&quot;,
null )))</expression>
    </formulas>
    <interviewLabel>Fermeture d&apos;une demande {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fermeture de la demande</label>
    <loops>
        <name>LOO_AttachDOCtoSIN</name>
        <label>LOO_Rattacher DOC au SIN</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>RelatedDocument</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASS_RelatedSINtoDOC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPD_DocRelatedSin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_CreatedSin</name>
        <label>GET_SIN créé</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPD_CreatedSIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUB_Declaration_sinistre.caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Numero_sinistre__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Demande</name>
        <label>GET_Demande</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_DemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Documents</name>
        <label>GET_Documents</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOO_AttachDOCtoSIN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_DemId</elementReference>
            </value>
        </filters>
        <object>Document__c</object>
        <outputReference>RelatedDocument</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Related_sinistre__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_Task</name>
        <label>GET_Task</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR_CloseRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Demande.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_CreatedSIN</name>
        <label>UPD_ SIN créé</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>UPD_DEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SUB_Declaration_sinistre.caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>TransferredRequest</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_DEM</name>
        <label>UPD_DEM</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>UPD_Task</targetReference>
        </connector>
        <inputReference>DEMToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_DocRelatedSin</name>
        <label>UPD_Rattachement doc</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>ASS_DEM_Task</targetReference>
        </connector>
        <inputReference>LOO_AttachDOCtoSIN</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_Task</name>
        <label>UPD_Task</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>SCR_Confirm</targetReference>
        </connector>
        <inputReference>TaskToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCR_CloseRequest</name>
        <label>SCR_Fermeture de la demande</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASS_Initiate_DEM_Task_to_UPD</targetReference>
        </connector>
        <fields>
            <name>ActionOnRequestPicklist</name>
            <choiceReferences>TransferToSinistre</choiceReferences>
            <choiceReferences>CloseWithoutAction</choiceReferences>
            <choiceReferences>InformationRequest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quelle action souhaitez-vous réaliser ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TXT_NoTransferToSin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La demande ne peut pas être transférée en sinistre car sa typologie est &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!TXT_Typologies}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Veuillez choisir une autre action s&apos;il vous plait.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GET_Demande.Typologie_Sinistre__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>AccidentCreation</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TransferToSinistre</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_Confirm</name>
        <label>SCR_Confirmation</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_DemClosedSinOpened</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Les documents ont été associés au nouveau sinistre {!CaseLink}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TransferToSinistre</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TXT_DemClosed</name>
            <fieldText>&lt;p&gt;La demande a été classée sans suite.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CloseWithoutAction</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TXT_DemClosedInfoRequest</name>
            <fieldText>&lt;p&gt;La demande a été clôturée et le commentaire de décision a été ajouté.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ActionOnRequestPicklist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>InformationRequest</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_InformationRequestScreen</name>
        <label>SCR_Demande d&apos;information</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASS_DEM_Task_3</targetReference>
        </connector>
        <fields>
            <name>TXT_CommentInfoRequest</name>
            <dataType>String</dataType>
            <fieldText>Commentaire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TXT_RequestWillBeClosed</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La demande sera clôturée une fois que vous aurez cliqué sur &quot;Terminer&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCR_NoTransferToSinScreen</name>
        <label>SCR_Transfert sinistre pas possible</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_ErrorMessageAction</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;La demande ne peut pas être transférée en sinistre car sa typologie est : &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!TXT_Typologies}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Veuillez cliquer sur &lt;b&gt;Précédent &lt;/b&gt;pour sélectionner une autre action ou sur &lt;b&gt;Terminer &lt;/b&gt;pour quitter.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Demande</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUB_Declaration_sinistre</name>
        <label>SUB_Declaration sinistre</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>GET_Documents</targetReference>
        </connector>
        <flowName>Declaration_Sinistre_v2</flowName>
        <inputAssignments>
            <name>AssetID</name>
            <value>
                <elementReference>GET_Demande.AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeclaLaunchedByDEMtransfer</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CaseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!SUB_Declaration_sinistre.caseId}&quot; target=&quot;_parent&quot;&gt;{!GET_CreatedSin.Numero_sinistre__c}&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TXT_NoActionReason</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Classé sans suite&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TXT_TransferReason</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Transfert en sinistre</text>
    </textTemplates>
    <variables>
        <name>DEMToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RelatedDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document__c</objectType>
    </variables>
    <variables>
        <name>TaskToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VAR_DemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
