hubSide/force-app/main/default/flows/Reservation_depuis_un_produit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_modeLivraison</name>
        <label>Update modeLivraison</label>
        <locationX>2167</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>modeLivraison</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livraison à domicile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_reservation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Client_existant</name>
        <label>Client existant ?</label>
        <locationX>308</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Vous_n_tes_pas_connect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deja_client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Déjà client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contrat_valide</name>
        <label>Contrat valide ?</label>
        <locationX>621</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Enseigne_valide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contrat_non_valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contrat_non_valide_screen</targetReference>
            </connector>
            <label>Contrat non valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enseigne_valide</name>
        <label>Enseigne valide ?</label>
        <locationX>817</locationX>
        <locationY>320</locationY>
        <defaultConnector>
            <targetReference>Pour_quand_souhaitez_vous_votre_objet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enseigne_non_valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enseigne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enseigne_non_valide_screen</targetReference>
            </connector>
            <label>Enseigne non valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_date_correct</name>
        <label>Is date and rental days correct ?</label>
        <locationX>1164</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Selection_du_stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_is_in_the_past</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Date_de_retrait_souhaitee</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duree_de_la_location</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NbJoursRestant</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Past_date_screen</targetReference>
            </connector>
            <label>Date and rental days incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Livraison_a_domicile</name>
        <label>Livraison à domicile ?</label>
        <locationX>1824</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Distributeur_choisi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_livraison_a_domicile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Distributeur.Magasin_central__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_address_screen</targetReference>
            </connector>
            <label>Yup, livraison à domicile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stock_disponible</name>
        <label>Stock disponible ?</label>
        <locationX>1507</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Get_Distributeur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_non_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.selectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectionStock.distributeurId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_stock_screen</targetReference>
            </connector>
            <label>Stock non disponible</label>
        </rules>
        <rules>
            <name>Distributeur_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.distributeurId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_distributeur_screen</targetReference>
            </connector>
            <label>Distributeur empty</label>
        </rules>
    </decisions>
    <description>Permet la réservation d&apos;un produit depuis le produit</description>
    <formulas>
        <name>Date_de_location</name>
        <dataType>String</dataType>
        <expression>IF ({!Date_de_retrait_souhaitee} &lt;= TODAY (), &quot;La date de réservation doit être supérieure à la date d&apos;aujourd&apos;hui.&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>duree_location</name>
        <dataType>String</dataType>
        <expression>IF ({!Duree_de_la_location} &gt; {!NbJoursRestant}, &quot;La durée de location souhaitée dépasse votre solde restant.&quot; , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>EnvURL</name>
        <dataType>String</dataType>
        <expression>IF(
        CONTAINS({!$User.Username}, &apos;sit&apos;), 
        &apos;https://sit-reservation.cs100.force.com&apos;, 
        IF(
            CONTAINS({!$User.Username}, &apos;uat&apos;), 
            &apos;https://uat-reservation.cs128.force.com&apos;, 
            IF(
                CONTAINS({!$User.Username}, &apos;dev2&apos;), 
                &apos;https://dev2-reservation.cs105.force.com&apos;, 
                IF(
                    CONTAINS({!$User.Username}, &apos;autre&apos;), 
                    &apos;https://sfam--autre.lightning.force.com&apos;, 
                    &apos;https://passlocation.hubside.com&apos;
                )
            )
        )
    )</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Reservation depuis un produit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reservation depuis un produit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_reservation</name>
        <label>Creation reservation</label>
        <locationX>2167</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>TY_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Get_User.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_Sortie__c</field>
            <value>
                <elementReference>SelectionStock.distributeurId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retrait__c</field>
            <value>
                <elementReference>Date_de_retrait_souhaitee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_emprunt__c</field>
            <value>
                <elementReference>Duree_de_la_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_de_livraison__c</field>
            <value>
                <elementReference>modeLivraison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produit_reserve__c</field>
            <value>
                <elementReference>SelectionStock.selectedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pré-réservé</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>497</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contrat_valide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrat_location</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>valid</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>LivraisonAD</assignToReference>
            <field>Eligible_la_livraison_domicile__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Enseigne</assignToReference>
            <field>Enseigne__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Asset</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NbJoursRestant</assignToReference>
            <field>Nombre_jours_restant__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Distributeur</name>
        <label>Get Distributeur</label>
        <locationX>1708</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Livraison_a_domicile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectionStock.distributeurId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>176</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Client_existant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_client</name>
        <label>Update client</label>
        <locationX>2174</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Update_modeLivraison</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>AdresseLivraison.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>AdresseLivraison.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>AdresseLivraison.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>AdresseLivraison.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>AdresseLivraison.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contrat_non_valide_screen</name>
        <label>Contrat non valide</label>
        <locationX>630</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContratNonValideErrMsg</name>
            <fieldText>&lt;p&gt;Votre contrat n&apos;est pas valide, merci de vous rapprocher d&apos;un de nos téléconseillers.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Distributeur_choisi</name>
        <label>Distributeur choisi</label>
        <locationX>2041</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creation_reservation</targetReference>
        </connector>
        <fields>
            <name>VotreDistributeur</name>
            <fieldText>&lt;p&gt;Vous avez choisi le distributeur &lt;b&gt;{!Get_Distributeur.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Adresse :&lt;/p&gt;&lt;p&gt;{!Get_Distributeur.ShippingStreet}&lt;/p&gt;&lt;p&gt;{!Get_Distributeur.ShippingPostalCode} - {!Get_Distributeur.ShippingCity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Téléphone : &lt;/p&gt;&lt;p&gt;{!Get_Distributeur.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enseigne_non_valide_screen</name>
        <label>Enseigne non valide</label>
        <locationX>827</locationX>
        <locationY>499</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnseigneNonValideErrMsg</name>
            <fieldText>&lt;p&gt;Votre contrat n&apos;a pas d&apos;enseigne valide, merci de vous rapprocher d&apos;un téléconseiller pour que nous puissions vous aider au mieux. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_distributeur_screen</name>
        <label>No distributeur screen</label>
        <locationX>1507</locationX>
        <locationY>100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_du_stock</targetReference>
        </connector>
        <fields>
            <name>NoDistributeurErrorMessage</name>
            <fieldText>&lt;p&gt;Merci de bien vouloir sélectionner un distributeur. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pas_de_stock_screen</name>
        <label>Pas de stock screen</label>
        <locationX>1261</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pour_quand_souhaitez_vous_votre_objet</targetReference>
        </connector>
        <fields>
            <name>NoStockErrorMessage</name>
            <fieldText>&lt;p&gt;Le produit demandé n&apos;a pas de stock aux dates demandées. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Past_date_screen</name>
        <label>Date and Rental Days incorrect</label>
        <locationX>1111</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pour_quand_souhaitez_vous_votre_objet</targetReference>
        </connector>
        <fields>
            <name>PastDateErrorMessage</name>
            <fieldText>&lt;p&gt;{!Date_de_location}&lt;/p&gt;&lt;p&gt;{!duree_location}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pour_quand_souhaitez_vous_votre_objet</name>
        <label>Pour quand souhaitez vous votre objet ?</label>
        <locationX>1021</locationX>
        <locationY>316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_date_correct</targetReference>
        </connector>
        <fields>
            <name>Date_de_retrait_souhaitee</name>
            <dataType>Date</dataType>
            <fieldText>Date de début de location souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duree_de_la_location</name>
            <dataType>Number</dataType>
            <fieldText>Durée de la location (en jours)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NbJoursRestantMsg</name>
            <fieldText>&lt;p&gt;Nombre de jours restant : {!NbJoursRestant}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Veuillez nous contacter si la durée de la location souhaitée excède votre solde actuel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selection_du_stock</name>
        <label>Séléction du stock</label>
        <locationX>1358</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stock_disponible</targetReference>
        </connector>
        <fields>
            <name>SelectModeLivraison</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Veuillez choisir le mode livraison&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectionStock</name>
            <extensionName>c:Flow_SelectionStock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>openFlow</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>selectedProduit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateRetrait</name>
                <value>
                    <elementReference>Date_de_retrait_souhaitee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dureeLocation</name>
                <value>
                    <elementReference>Duree_de_la_location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enseigne</name>
                <value>
                    <elementReference>Enseigne</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>livraisonDomicile</name>
                <value>
                    <elementReference>LivraisonAD</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TY_screen</name>
        <label>TY screen</label>
        <locationX>2290</locationX>
        <locationY>316</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Merci</name>
            <fieldText>&lt;p&gt;Merci pour votre réservation !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_address_screen</name>
        <label>Update address screen</label>
        <locationX>1841</locationX>
        <locationY>602</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_client</targetReference>
        </connector>
        <fields>
            <name>AdresseLivraison</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_User.Account.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_User.Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Adresse de livraison :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_User.Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_User.Account.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_User.Account.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Vous_n_tes_pas_connect</name>
        <label>Vous n&apos;êtes pas connecté</label>
        <locationX>316</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Merci de vous &lt;/span&gt;&lt;a href=&quot;{!EnvURL}/s/login/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;identifier&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; avant de procéder à la réservation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Asset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Enseigne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LivraisonAD</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modeLivraison</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Retrait en magasin</stringValue>
        </value>
    </variables>
    <variables>
        <name>NbJoursRestant</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedProduit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
