hubSide/force-app/main/default/flows/Reservation_depuis_un_client.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Stock_disponible</name>
        <label>Stock disponible ?</label>
        <locationX>304</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Creation_reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_non_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.selectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quel_produit_et_pour_quand</targetReference>
            </connector>
            <label>Stock non disponible</label>
        </rules>
    </decisions>
    <description>Permet la réservation d&apos;un produit depuis le compte d&apos;un client</description>
    <dynamicChoiceSets>
        <name>Produit_choisi</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Produit_location</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>selectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>distributeurId</name>
        <dataType>String</dataType>
        <expression>{!$User.Distributeur_de_reference__c}</expression>
    </formulas>
    <formulas>
        <name>EnvURL</name>
        <dataType>String</dataType>
        <expression>IF(
    CONTAINS({!$User.Username}, &apos;dev&apos;), 
    &apos;https://sfam--dev.lightning.force.com&apos;, 
    IF(
        CONTAINS({!$User.Username}, &apos;sit&apos;), 
        &apos;https://sfam--sit.lightning.force.com&apos;, 
        IF(
            CONTAINS({!$User.Username}, &apos;uat&apos;), 
            &apos;https://sfam--uat.lightning.force.com&apos;, 
            IF(
                CONTAINS({!$User.Username}, &apos;dev2&apos;), 
                &apos;https://sfam--dev2.lightning.force.com&apos;, 
                IF(
                    CONTAINS({!$User.Username}, &apos;pem&apos;), 
                    &apos;https://sfam--pem.lightning.force.com&apos;, 
                    &apos;https://sfam.my.salesforce.com&apos;
                )
            )
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Réservation depuis un client {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Réservation depuis un client</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_reservation</name>
        <label>Creation reservation</label>
        <locationX>517</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>TYS</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_Sortie__c</field>
            <value>
                <elementReference>distributeurId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retrait__c</field>
            <value>
                <elementReference>Date_de_retrait_souhaitee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_emprunt__c</field>
            <value>
                <elementReference>Duree_de_la_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produit_reserve__c</field>
            <value>
                <elementReference>SelectionStock.selectedId</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Quel_produit_et_pour_quand</name>
        <label>Quel produit et pour quand ?</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_du_stock</targetReference>
        </connector>
        <fields>
            <name>Produit_selectionne</name>
            <choiceReferences>Produit_choisi</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Produit séléctionné</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_de_retrait_souhaitee</name>
            <dataType>Date</dataType>
            <fieldText>Date de retrait souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duree_de_la_location</name>
            <dataType>Number</dataType>
            <fieldText>Durée de la location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selection_du_stock</name>
        <label>Séléction du stock</label>
        <locationX>312</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stock_disponible</targetReference>
        </connector>
        <fields>
            <name>SelectionStock</name>
            <extensionName>c:Flow_SelectionStockMagasin</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>selectedProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateRetrait</name>
                <value>
                    <elementReference>Date_de_retrait_souhaitee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dureeLocation</name>
                <value>
                    <elementReference>Duree_de_la_location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distributeurId</name>
                <value>
                    <elementReference>distributeurId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Resa</name>
            <fieldText>&lt;p&gt;Votre réservation va être créée, merci de finir le flow.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectionStock.selectedId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TYS</name>
        <label>TY</label>
        <locationX>668</locationX>
        <locationY>563</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResMessage</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!EnvURL}/{!Creation_reservation}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Consulter la réservation nouvellement créée&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Quel_produit_et_pour_quand</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
