hubSide/force-app/main/default/flows/Reservation_depuis_un_client_avec_selection_du_distributeur.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_modeLivraison</name>
        <label>Update modeLivraison</label>
        <locationX>1894</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>modeLivraison</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Livraison à domicile</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_reservation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_date_and_rental_days_correct</name>
        <label>Is date and rental days correct ?</label>
        <locationX>1021</locationX>
        <locationY>391</locationY>
        <defaultConnector>
            <targetReference>Selection_du_stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_and_rental_days_incorrect</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Date_de_retrait_souhaitee</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Duree_de_la_location</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Asset.Nombre_jours_restant__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Rental_Days_incorrect</targetReference>
            </connector>
            <label>Date and rental days incorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_client_a_t_il_un_contrat_valide</name>
        <label>Le client a-t-il un contrat valide ?</label>
        <locationX>286</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>ContratErrorSreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_le_contrat_est_valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Le_contrat_a_t_il_une_enseigne_valide</targetReference>
            </connector>
            <label>Oui, le contrat est valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Le_contrat_a_t_il_une_enseigne_valide</name>
        <label>Le contrat a-t-il une enseigne valide ?</label>
        <locationX>523</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>EnseigneErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_l_enseigne_est_valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enseigne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>Yup, l&apos;enseigne est valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>Livraison_a_domicile</name>
        <label>Livraison à domicile ?</label>
        <locationX>1504</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Distributeur_choisi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_livraison_a_domicile</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Distributeur.Magasin_central__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yup, livraison à domicile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stock_disponible</name>
        <label>Stock disponible ?</label>
        <locationX>1183</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Get_Distributeur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock_non_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.selectedId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectionStock.distributeurId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_stock_screen</targetReference>
            </connector>
            <label>Stock non disponible</label>
        </rules>
        <rules>
            <name>Distributeur_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectionStock.distributeurId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_distributeur_screen</targetReference>
            </connector>
            <label>Distributeur empty</label>
        </rules>
    </decisions>
    <description>Permet la réservation d&apos;un produit depuis le compte d&apos;un client avec sélection du distributeur.</description>
    <dynamicChoiceSets>
        <name>Produit_choisi</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Produit_location</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>selectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Date_de_location</name>
        <dataType>String</dataType>
        <expression>IF ({!Date_de_retrait_souhaitee} &lt;= TODAY (), &quot;La date de réservation doit être supérieure à la date d&apos;aujourd&apos;hui.&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>duree_location</name>
        <dataType>String</dataType>
        <expression>IF ({!Duree_de_la_location} &gt; {!Get_Asset.Nombre_jours_restant__c}, &quot;La durée de location souhaitée dépasse votre solde restant.&quot; , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>EnvURL</name>
        <dataType>String</dataType>
        <expression>IF(
   RIGHT({!$User.Username}, 3) == &apos;dev&apos;, 
    &apos;https://sfam--dev.lightning.force.com&apos;, 
    IF(
         RIGHT({!$User.Username}, 3) == &apos;sit&apos;, 
        &apos;https://sfam--sit.lightning.force.com&apos;, 
    IF(
         RIGHT({!$User.Username}, 4) == &apos;sit2&apos;, 
        &apos;https://sfam--sit2.lightning.force.com&apos;, 
        IF(
             RIGHT({!$User.Username}, 3) == &apos;uat&apos;, 
            &apos;https://sfam--uat.lightning.force.com&apos;, 
       IF(
             RIGHT({!$User.Username}, 4) == &apos;uat2&apos;, 
            &apos;https://sfam--uat2.lightning.force.com&apos;, 
            IF(
                RIGHT({!$User.Username}, 4) == &apos;dev2&apos;, 
                &apos;https://sfam--dev2.lightning.force.com&apos;, 
                IF(
                    CONTAINS({!$User.Username}, &apos;pem&apos;), 
                    &apos;https://sfam--pem.lightning.force.com&apos;, 
                    &apos;https://sfam.my.salesforce.com&apos;
                )
            )
        )
    )
)
)
)</expression>
    </formulas>
    <interviewLabel>Réservation depuis un client avec sélection du distributeur {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Réservation depuis un client avec sélection du distributeur</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creation_reservation</name>
        <label>Creation reservation</label>
        <locationX>1890</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>TYS</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_Sortie__c</field>
            <value>
                <elementReference>SelectionStock.distributeurId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contrat__c</field>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_retrait__c</field>
            <value>
                <elementReference>Date_de_retrait_souhaitee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duree_emprunt__c</field>
            <value>
                <elementReference>Duree_de_la_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_de_livraison__c</field>
            <value>
                <elementReference>modeLivraison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Produit_reserve__c</field>
            <value>
                <elementReference>SelectionStock.selectedId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pré-réservé</stringValue>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1513</locationX>
        <locationY>830</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_address_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>767</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quel_produit_et_pour_quand</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contrat</name>
        <label>Get Contrat</label>
        <locationX>168</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Le_client_a_t_il_un_contrat_valide</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contrat_location</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>valid</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Enseigne</assignToReference>
            <field>Enseigne__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Distributeur</name>
        <label>Get Distributeur</label>
        <locationX>1373</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Livraison_a_domicile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectionStock.distributeurId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>1901</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Update_modeLivraison</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>AdresseLivraison.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>AdresseLivraison.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>AdresseLivraison.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>AdresseLivraison.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>AdresseLivraison.street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ContratErrorSreen</name>
        <label>ContratErrorSreen</label>
        <locationX>295</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContratErrorMsg</name>
            <fieldText>&lt;p&gt;Le client n&apos;a pas de contrat de location valide. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Date_Rental_Days_incorrect</name>
        <label>Date and Rental Days incorrect</label>
        <locationX>1026</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quel_produit_et_pour_quand</targetReference>
        </connector>
        <fields>
            <name>DateRentalDaysErrorMsg</name>
            <fieldText>&lt;p&gt;{!Date_de_location}&lt;/p&gt;&lt;p&gt;{!duree_location}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Distributeur_choisi</name>
        <label>Distributeur choisi</label>
        <locationX>1708</locationX>
        <locationY>621</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creation_reservation</targetReference>
        </connector>
        <fields>
            <name>VotreDistributeur</name>
            <fieldText>&lt;p&gt;Vous avez choisi le distributeur &lt;b&gt;{!Get_Distributeur.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Adresse :&lt;/p&gt;&lt;p&gt;{!Get_Distributeur.ShippingStreet}&lt;/p&gt;&lt;p&gt;{!Get_Distributeur.ShippingPostalCode} - {!Get_Distributeur.ShippingCity}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Téléphone :&lt;/p&gt;&lt;p&gt;{!Get_Distributeur.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EnseigneErrorScreen</name>
        <label>EnseigneErrorScreen</label>
        <locationX>532</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EnseigneErrorMsg</name>
            <fieldText>&lt;p&gt;Le contrat de ce client n&apos;a pas d&apos;enseigne renseignée. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_distributeur_screen</name>
        <label>No distributeur screen</label>
        <locationX>1189</locationX>
        <locationY>775</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection_du_stock</targetReference>
        </connector>
        <fields>
            <name>NoDistributeurErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Merci de bien vouloir sélectionner un distributeur.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pas_de_stock_screen</name>
        <label>Pas de stock screen</label>
        <locationX>1189</locationX>
        <locationY>393</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_date_and_rental_days_correct</targetReference>
        </connector>
        <fields>
            <name>NoStockErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le produit demandé n&apos;a pas de stock aux dates demandées.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quel_produit_et_pour_quand</name>
        <label>Quel produit et pour quand ?</label>
        <locationX>897</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_date_and_rental_days_correct</targetReference>
        </connector>
        <fields>
            <name>Produit_selectionne</name>
            <choiceReferences>Produit_choisi</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Produit séléctionné</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_de_retrait_souhaitee</name>
            <dataType>Date</dataType>
            <fieldText>Date de début de location souhaitée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Duree_de_la_location</name>
            <dataType>Number</dataType>
            <fieldText>Durée de la location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>NbJoursRestantMsg</name>
            <fieldText>&lt;p&gt;Nombre de jours restant :&lt;/p&gt;&lt;p&gt;{!Get_Asset.Nombre_jours_restant__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Veuillez nous contacter si la durée de la location souhaitée excède votre solde actuel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Selection_du_stock</name>
        <label>Séléction du stock</label>
        <locationX>1033</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Stock_disponible</targetReference>
        </connector>
        <fields>
            <name>SelectModeLivraison</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Veuillez choisir le mode livraison&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectionStock</name>
            <extensionName>c:Flow_SelectionStock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productId</name>
                <value>
                    <elementReference>selectedProductId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateRetrait</name>
                <value>
                    <elementReference>Date_de_retrait_souhaitee</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dureeLocation</name>
                <value>
                    <elementReference>Duree_de_la_location</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enseigne</name>
                <value>
                    <elementReference>Enseigne</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>livraisonDomicile</name>
                <value>
                    <elementReference>Get_Asset.Eligible_la_livraison_domicile__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TYS</name>
        <label>TY</label>
        <locationX>2044</locationX>
        <locationY>619</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Merci pour votre réservation !&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!EnvURL}/{!Creation_reservation}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;Consulter la réservation nouvellement créée&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_address_screen</name>
        <label>Update address screen</label>
        <locationX>1510</locationX>
        <locationY>977</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>AdresseLivraison</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Account.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Adresse de livraison :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Account.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Account.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Get_Contrat</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Enseigne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>modeLivraison</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Retrait en magasin</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
