hubSide/force-app/main/default/flows/Retour_Colis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Colis_Assignement</name>
        <label>Colis Assignement</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Colis.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colis.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Destinataire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Colis.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retourner colis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Colis_Update</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoixDestinataire</name>
        <choiceText>Réception SFAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Réception SFAM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_affected_Colis</name>
        <label>Is affected Colis</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Retour_Colis_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Colis_already_affected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Colis.Sinistre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affected_Colis_screen</targetReference>
            </connector>
            <label>Colis already affected</label>
        </rules>
    </decisions>
    <interviewLabel>Retour Colis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retour Colis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Colis</name>
        <label>Colis</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_affected_Colis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ColisId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Colis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Colis_Update</name>
        <label>Colis Update</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <inputReference>Colis</inputReference>
    </recordUpdates>
    <screens>
        <name>Affected_Colis_screen</name>
        <label>Affected Colis screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>colis_affected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Votre colis a déjà été affecté &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retour_Colis_Screen</name>
        <label>Retour Colis Screen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Colis_Assignement</targetReference>
        </connector>
        <fields>
            <name>Destinataire</name>
            <choiceReferences>ChoixDestinataire</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Destinataire</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Commentaire</name>
            <dataType>String</dataType>
            <fieldText>Commentaire</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Colis</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceptionSfam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Colis_already_affected</elementReference>
        </value>
    </variables>
</Flow>
