hubSide/force-app/main/default/flows/SAV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>ASS_EqpmSin_id</name>
        <label>ASS_EqpmSin id</label>
        <locationX>380</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_EquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UPD_EqpmSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Echange_0</name>
        <label>Assign RT Echange</label>
        <locationX>248</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>RTEquipSinId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Echange_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SAV_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Reparation_0</name>
        <label>Assign RT Reparation</label>
        <locationX>512</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>RTEquipSinId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reparation_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SAV_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_SAV</name>
        <label>Initiate SAV</label>
        <locationX>611</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SAVToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_InsuredItem.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_InsuredItem.vlocity_ins__PolicyAssetId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_InsuredItem.Dernier_sinistre__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SAV_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Typologie_Sinistre__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Typologie_SAV.controllingPkValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.vlocity_ins__Verified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EquipementEligible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reception_dossier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DispatchQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Equipement_client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insuredItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.ClientDeclarationValidationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Attente_documents__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L_equipement_est_il_eligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPD_EqpmSin_adresse_initiale</name>
        <label>UPD_EqpmSin adresse initiale</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.Adresse_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdresseLivraison</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvinceAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.postalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SAV_Status_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UPD_EqpmSin_nouvelle_adresse</name>
        <label>UPD_EqpmSin nouvelle adresse</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.Adresse_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdresseLivraison</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvinceNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EqpmSinToCreate.postalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SAV_Status_again</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SAV_Status</name>
        <label>Update SAV Status</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>SAVToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Typologie_choisie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SAV_Status_again</name>
        <label>Update SAV Status</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>SAVToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WaitingForClient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Attente_colis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Demande_de_rapatriement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>statutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Attente Réception</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.Demande_de_rapatriement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demande_de_rapatriement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAVToCreate.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdresseLivraison</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Typologie_choisie</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_Nouvelle_adresse</name>
        <label>DEC_Nouvelle adresse ?</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>UPD_EqpmSin_adresse_initiale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adresse initiale</defaultConnectorLabel>
        <rules>
            <name>Nouvelle_adresse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voulez_vous_changer_l_adresse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_EqpmSin_nouvelle_adresse</targetReference>
            </connector>
            <label>Nouvelle adresse</label>
        </rules>
    </decisions>
    <decisions>
        <name>L_equipement_est_il_actif</name>
        <label>L&apos;equipement est-il actif ?</label>
        <locationX>858</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>InsuredItem_non_actif_errScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipement_actif</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_InsuredItem.Etat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rappel_sinistre_precedent</targetReference>
            </connector>
            <label>Equipement actif</label>
        </rules>
    </decisions>
    <decisions>
        <name>L_equipement_est_il_eligible</name>
        <label>L&apos;equipement est-il eligible ?</label>
        <locationX>611</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Create_SAV</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EquipementNonEligibleCheckbox.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Typologie_SAV_choisie</targetReference>
            </connector>
            <label>Oui, eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Typologie_choisie</name>
        <label>Typologie choisie ?</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Get_Reparation_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Réparation</defaultConnectorLabel>
        <rules>
            <name>Echange</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnedByCarrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LostByCarrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DysfonctionsAfterExchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Echange_RT</targetReference>
            </connector>
            <label>Echange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Typologie_SAV_choisie</name>
        <label>Typologie SAV choisie ?</label>
        <locationX>380</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_SAV_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Perte transporteur</defaultConnectorLabel>
        <rules>
            <name>Dysfonctionnement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnedByCarrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DysfonctionsAfterRepair</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Typologie_SAV.controllingPkValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DysfonctionsAfterExchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RapatriementScreen</targetReference>
            </connector>
            <label>Dysfonctionnement</label>
        </rules>
    </decisions>
    <description>Création d&apos;un SAV</description>
    <formulas>
        <name>AdresseLivraison</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Voulez_vous_changer_l_adresse}, 
    LEFT({!NewAddress.street},100) + &apos;, &apos; + LEFT({!NewAddress.postalCode},10) + &apos; - &apos; + LEFT({!NewAddress.city},40), 
    LEFT({!Get_InsuredItem.Account__r.PersonMailingStreet},100) + &apos;, &apos; + LEFT({!Get_InsuredItem.Account__r.PersonMailingPostalCode},10) + &apos; - &apos; + LEFT({!Get_InsuredItem.Account__r.PersonMailingCity},40)
)</expression>
    </formulas>
    <formulas>
        <name>CityAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_InsuredItem.Account__r.PersonMailingCity},40)</expression>
    </formulas>
    <formulas>
        <name>CityNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddress.city},40)</expression>
    </formulas>
    <formulas>
        <name>CountryAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_InsuredItem.Account__r.PersonMailingCountry},60)</expression>
    </formulas>
    <formulas>
        <name>CountryNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddress.country},60)</expression>
    </formulas>
    <formulas>
        <name>EquipementEligible</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    NOT({!EquipementNonEligibleCheckbox.value}), 
    {!Get_InsuredItem.Account__r.Compte_test__c}
)</expression>
    </formulas>
    <formulas>
        <name>PostalCodeAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_InsuredItem.Account__r.PersonMailingPostalCode},10)</expression>
    </formulas>
    <formulas>
        <name>PostalCodeNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddress.postalCode},10)</expression>
    </formulas>
    <formulas>
        <name>ProvinceAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_InsuredItem.Account__r.PersonMailingState},45)</expression>
    </formulas>
    <formulas>
        <name>ProvinceNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddress.province},45)</expression>
    </formulas>
    <formulas>
        <name>StreetAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!Get_InsuredItem.Account__r.PersonMailingStreet},100)</expression>
    </formulas>
    <formulas>
        <name>StreetNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddress.street},100)</expression>
    </formulas>
    <interviewLabel>SAV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EquipSin</name>
        <label>Create EquipSin</label>
        <locationX>380</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>ASS_EqpmSin_id</targetReference>
        </connector>
        <inputAssignments>
            <field>BrandId__c</field>
            <value>
                <elementReference>Get_InsuredItem.BrandId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Get_InsuredItem.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>Get_InsuredItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemCostMatrix__c</field>
            <value>
                <elementReference>Get_InsuredItem.Matrice_cout_equipement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTEquipSinId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sinistre__c</field>
            <value>
                <elementReference>SAVToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <elementReference>statutEquipSin</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SAV</name>
        <label>Create SAV</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_SAV</targetReference>
        </connector>
        <inputReference>SAVToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SAV_again</name>
        <label>Create SAV</label>
        <locationX>380</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
        <inputReference>SAVToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_DispatchQueue</name>
        <label>Get DispatchQueue</label>
        <locationX>611</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initiate_SAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_SAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Echange_RT</name>
        <label>Get Echange RT</label>
        <locationX>248</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Echange_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InsuredItem</name>
        <label>Get InsuredItem</label>
        <locationX>858</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L_equipement_est_il_actif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>insuredItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ins__AssetInsuredItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reparation_RT</name>
        <label>Get Réparation RT</label>
        <locationX>512</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RT_Reparation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAV</name>
        <label>Get SAV</label>
        <locationX>611</locationX>
        <locationY>2942</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SAVToCreate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAV_RT</name>
        <label>Get SAV RT</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DispatchQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_EqpmSin</name>
        <label>UPD_EqpmSin</label>
        <locationX>380</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Update_InsuredItem</targetReference>
        </connector>
        <inputReference>EqpmSinToCreate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InsuredItem</name>
        <label>Update InsuredItem</label>
        <locationX>380</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Get_SAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>insuredItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etat__c</field>
            <value>
                <stringValue>OnGoingAfterSaleService</stringValue>
            </value>
        </inputAssignments>
        <object>vlocity_ins__AssetInsuredItem__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>End_screen</name>
        <label>End screen</label>
        <locationX>611</locationX>
        <locationY>3062</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EquipementNonEligibleMsg</name>
            <fieldText>&lt;p&gt;Naviguer vers la requête créée : {!caseLink}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InsuredItem_non_actif_errScreen</name>
        <label>InsuredItem non actif</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InsuredItemInactifErrMsg</name>
            <fieldText>&lt;p&gt;L&apos;équipement client en question n&apos;est pas actif - et ne peut donc pas être éligible pour un parcours SAV. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RapatriementScreen</name>
        <label>Rapatriement</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DEC_Nouvelle_adresse</targetReference>
        </connector>
        <fields>
            <name>Demande_de_rapatriement</name>
            <dataType>Boolean</dataType>
            <fieldText>Demande de rapatriement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RapatriementMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Adresse actuelle de livraison&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_InsuredItem.Account__r.PersonMailingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_InsuredItem.Account__r.PersonMailingPostalCode} - {!Get_InsuredItem.Account__r.PersonMailingCity}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Voulez_vous_changer_l_adresse</name>
            <dataType>Boolean</dataType>
            <fieldText>Voulez-vous changer l&apos;adresse ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Nouvelle adresse client</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_InsuredItem.Account__r.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_InsuredItem.Account__r.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_InsuredItem.Account__r.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_InsuredItem.Account__r.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_InsuredItem.Account__r.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Voulez_vous_changer_l_adresse</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rappel_sinistre_precedent</name>
        <label>Rappel sinistre précédent</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SAV_RT</targetReference>
        </connector>
        <fields>
            <name>PreviousTypology</name>
            <fieldText>&lt;p&gt;Date d&apos;achat de l&apos;équipement : {!Get_InsuredItem.Date_achat__c}&lt;/p&gt;&lt;p&gt;Motif : {!Get_InsuredItem.Motif__c}&lt;/p&gt;&lt;p&gt;Origine de l&apos;équipement client : {!Get_InsuredItem.Origine_equipement__c}&lt;/p&gt;&lt;p&gt;Nombre de réparation sur cet équipement : &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_InsuredItem.ReparationCount__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Typologie_SAV</name>
            <extensionName>c:Flow_HandleDependantPicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>controllingPkName</name>
                <value>
                    <stringValue>Typologie_sinistre__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>controllingPkLabel</name>
                <value>
                    <stringValue>Typologie SAV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RTName</name>
                <value>
                    <stringValue>SAV</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EquipementNonEligibleCheckbox</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>L&apos;équipement est-il éligible au SAV ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_InsuredItem</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>caseLink</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/{!Get_SAV.Id}&quot; target=&quot;_parent&quot;&gt;{!Get_SAV.Numero_sinistre__c}&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>EqpmSinToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>insuredItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTEquipSinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SAVToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>statutEquipSin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>En Analyse</stringValue>
        </value>
    </variables>
</Flow>
