hubSide/force-app/main/default/flows/SF_Actions_SAV.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Initiate_TaskToCreate</name>
        <label>Initiate TaskToCreate</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Type_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quelle_action_choisie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_DemanderConfAdresse</name>
        <label>Update TaskToCreate DemanderConfAdresse</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Affectation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAV - Demander confirmation adresse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_DispatchTC.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_InformationSinistre</name>
        <label>Update TaskToCreate InformationSinistre</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Information sinistre</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_DispatchTC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Affectation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_PerteTransporteurAcc</name>
        <label>Update TaskToCreate PerteTransporteurAcc</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perte transporteur acceptée</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_RefusSAV</name>
        <label>Update TaskToCreate RefusSAV</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Affectation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TC Classique</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refus du SAV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue_DispatchTC.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accord / refus</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Type_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAVRejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Sous_type_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perte liée au client</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_RenvoiProduitFrns</name>
        <label>Update TaskToCreate RenvoiProduitFrns</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renvoi produit fournisseur</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.DecisionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskToCreate.Raison_fermeture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renvoi produit fournisseur</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_RetourFrnsKO</name>
        <label>Update TaskToCreate RetourFrnsKO</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour fournisseur KO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TaskToCreate_RetourFrnsOK</name>
        <label>Update TaskToCreate RetourFrnsOK</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>TaskToCreate.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour fournisseur OK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quelle_action_choisie</name>
        <label>Quelle action choisie ?</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre</defaultConnectorLabel>
        <rules>
            <name>Perte_transporteur_acceptee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CarrierLossAccepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAV_PerteTransAcc</targetReference>
            </connector>
            <label>Perte transporteur acceptée</label>
        </rules>
        <rules>
            <name>Renvoi_produit_fournisseur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnProductToSupplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAV_InProgress</targetReference>
            </connector>
            <label>Renvoi produit fournisseur</label>
        </rules>
        <rules>
            <name>Refus_Sinistre_ouvrir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RejectedSinistreToCreate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAV_Closed</targetReference>
            </connector>
            <label>Refus - Sinistre à ouvrir</label>
        </rules>
        <rules>
            <name>Refus_du_SAV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAVRejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAV_Resolution</targetReference>
            </connector>
            <label>Refus du SAV</label>
        </rules>
        <rules>
            <name>Retour_fournisseur_ok</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnByCarrierOk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin</targetReference>
            </connector>
            <label>Retour fournisseur ok</label>
        </rules>
        <rules>
            <name>Retour_fournisseur_ko</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnByCarrierKo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EquipSin_0</targetReference>
            </connector>
            <label>Retour fournisseur ko</label>
        </rules>
        <rules>
            <name>SAV_Demander_confirmation_adresse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddressConfirmationRequest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TaskToCreate_DemanderConfAdresse</targetReference>
            </connector>
            <label>SAV - Demander confirmation adresse</label>
        </rules>
    </decisions>
    <formulas>
        <name>MontantIndemnNeg</name>
        <dataType>Currency</dataType>
        <expression>- {!Montant_indemnisation}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SF - Actions SAV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Actions SAV</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CRE_Cout_associe</name>
        <label>CRE_Coût associé</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_PerteTransporteurAcc</targetReference>
        </connector>
        <inputAssignments>
            <field>DamagedEquipment__c</field>
            <value>
                <elementReference>Get_EquipSin_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Indemnité transporteur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Indemnité transporteur</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitCost__c</field>
            <value>
                <elementReference>MontantIndemnNeg</elementReference>
            </value>
        </inputAssignments>
        <object>AssociatedCost__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>974</locationX>
        <locationY>1574</locationY>
        <inputReference>TaskToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initiate_TaskToCreate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin</name>
        <label>Get EquipSin</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Destockage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_0</name>
        <label>Get EquipSin</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_EnAttenteRecep</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EquipSin_0_0</name>
        <label>Get EquipSin</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CRE_Cout_associe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_DispatchTC</name>
        <label>Get Queue DispatchTC</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatch_teleconseiller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_RT</name>
        <label>Get Task RT</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue_DispatchTC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EquipSin</name>
        <label>Update EquipSin</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_EquipSin_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RealCost__c</field>
            <value>
                <elementReference>MontantIndemnNeg</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_Destockage</name>
        <label>Update EquipSin Destockage</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_SAV_RetourFournisseurOk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SerieNumberEC__c</field>
            <value>
                <elementReference>Get_EquipSin.Equipement_client__r.Numero_de_serie__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>En destockage</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_EnAttenteRecep</name>
        <label>Update EquipSin En attente recep</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_SAV_RetourFournisseurKo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <stringValue>Réceptionné SFAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>En Attente Réception</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_EnCommande</name>
        <label>Update EquipSin EnCommande</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_RenvoiProduitFrns</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>En commmande</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin_ExpeditionClient</name>
        <label>Update EquipSin ExpeditionClient</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_RefusSAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Expédition client</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_Closed</name>
        <label>Update SAV Closed</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_InformationSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_decision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_InProgress</name>
        <label>Update SAV InProgress</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_EquipSin_EnCommande</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>SAVInProgress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_PerteTransAcc</name>
        <label>Update SAV PerteTransAcc</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Montant_Indemn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_decision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_Resolution</name>
        <label>Update SAV Resolution</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_EquipSin_ExpeditionClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_decision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>closed_rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_RetourFournisseurKo</name>
        <label>Update SAV RetourFournisseurKo</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_RetourFrnsKO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours d&apos;examen</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAV_RetourFournisseurOk</name>
        <label>Update SAV RetourFournisseurOk</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_TaskToCreate_RetourFrnsOK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_decision__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>ActionType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Montant_Indemn</name>
        <label>Montant Indemn</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_EquipSin</targetReference>
        </connector>
        <fields>
            <name>Montant_indemnisation</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Montant indemnisation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_RT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Commentaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
