hubSide/force-app/main/default/flows/SF_Indemnisation_Prime_Echange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_1_to_count</name>
        <label>Add 1 to count</label>
        <locationX>1542</locationX>
        <locationY>1529</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choix_Echange_theReturn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AddNumberTaskChoixClient</name>
        <label>ASS_AddNumberTaskChoixClient</label>
        <locationX>3079</locationX>
        <locationY>906</locationY>
        <assignmentItems>
            <assignToReference>VAR_NumberChoixClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FOR_NumberChoixClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculIndemnEchangePrime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_NoTaskValidationClientCreated</name>
        <label>ASS_NoTaskValidationClientCreated</label>
        <locationX>3195</locationX>
        <locationY>778</locationY>
        <assignmentItems>
            <assignToReference>VAR_NumberChoixClient</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.TECH_NumberTaskChoixClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculIndemnEchangePrime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Choix1</name>
        <label>Assign Choix1</label>
        <locationX>1321</locationX>
        <locationY>2426</locationY>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.FirstChoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreEquipement.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.FirstChoiceRank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GradeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Allchoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AutreEquipement.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Choix2</name>
        <label>Assign Choix2</label>
        <locationX>1211</locationX>
        <locationY>2521</locationY>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.SecondChoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreEquipement.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.SecondChoiceRank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GradeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Allchoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> ou  {!AutreEquipement.recordName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_1_to_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Choix3</name>
        <label>Assign Choix3</label>
        <locationX>1556</locationX>
        <locationY>2685</locationY>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.ThirdChoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AutreEquipement.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.ThirdChoiceRank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GradeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Allchoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> ou  {!AutreEquipement.recordName}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ChosenEquipSinId</name>
        <label>Assign ChosenEquipSinId</label>
        <locationX>2030</locationX>
        <locationY>1523</locationY>
        <assignmentItems>
            <assignToReference>chosenEquipSinId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordEchange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choix_Grade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EquipSin</name>
        <label>Assign EquipSin</label>
        <locationX>1671</locationX>
        <locationY>2685</locationY>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EquipVolePerduRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.Statut_equipement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Choix client en cours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Equipement_Sinistre.EquipmentAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxMontantEquipSin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MaxGradeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EquipSin_Annul</name>
        <label>Assign EquipSin Annulé</label>
        <locationX>1125</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EquipSin_statut_annule_aRetourner</name>
        <label>Assign EquipSin statut Annulé - a retourné</label>
        <locationX>880</locationX>
        <locationY>493</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé - A retourner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipement_irreparable_scr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EquipSinStatus_Annule</name>
        <label>Assign EquipSinStatus Annulé</label>
        <locationX>1109</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé - A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RenvoyerEquipClient.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EquipSinStatus_Irr_parable</name>
        <label>Assign EquipSinStatus Irréparable</label>
        <locationX>876</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Irréparable - A retourner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipement_irreparable_scr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MaxMontant</name>
        <label>Assign MaxMontant</label>
        <locationX>1750</locationX>
        <locationY>2413</locationY>
        <assignmentItems>
            <assignToReference>MaxMontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MontantEquipSin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxGradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GradeName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valeur_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_EquipSinId</name>
        <label>Assign new EquipSinId</label>
        <locationX>981</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>EquipSinId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_EquipSin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Equipement_Sin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_statut_irr_parable_a_retourner</name>
        <label>Assign statut irréparable a retourner</label>
        <locationX>516</locationX>
        <locationY>949</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Irréparable - A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SousStatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour Client</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Elig_premiumStore_magasinContrat</name>
        <label>Elig_premiumStore = magasinContrat</label>
        <locationX>2645</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>premiumStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_magasin_du_contrat.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elig_Update_eqpm_sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Elig_premiumStore_MagasinCorresp</name>
        <label>Elig_premiumStore = MagasinCorresp</label>
        <locationX>2835</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>premiumStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Magasin_corresp_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoElig_Update_eqpm_sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Elig_premiumStore_MagasinDispo</name>
        <label>Elig_premiumStore = MagasinDispo</label>
        <locationX>2829</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>premiumStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Magasins_disponibles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoElig_Update_eqpm_sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Elig_premiumStore_MagasinCorresp</name>
        <label>No_Elig_premiumStore = MagasinCorresp</label>
        <locationX>2830</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>premiumStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Magasin_corresp_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoElig_Update_eqpm_sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Elig_premiumStore_MagasinDispo</name>
        <label>No_Elig_premiumStore = MagasinDispo</label>
        <locationX>2653</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>premiumStore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Magasin_dispo_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoElig_Update_eqpm_sinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_renvoi_pas</name>
        <label>On renvoi pas</label>
        <locationX>491</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>SousStatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour SFAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>R_paration_On_garde</name>
        <label>Réparation+ On garde</label>
        <locationX>582</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>SousStatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour SFAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Renvoi_reparable</name>
        <label>Renvoi + réparable</label>
        <locationX>544</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>StatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annulé - A retourner</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SousStatutEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retour Client</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EquipSin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade1Var</name>
        <label>Update Grade1Var</label>
        <locationX>2224</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipementSinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade1Var_Autre</name>
        <label>Update Grade1Var Autre</label>
        <locationX>1468</locationX>
        <locationY>2213</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAutre_Equipement.GradeCost_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montant_max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade2Var</name>
        <label>Update Grade2Var</label>
        <locationX>2366</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipementSinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade2Var_Autre</name>
        <label>Update Grade2Var Autre</label>
        <locationX>1635</locationX>
        <locationY>2214</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAutre_Equipement.GradeCost_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montant_max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade3Var</name>
        <label>Update Grade3Var</label>
        <locationX>2451</locationX>
        <locationY>1221</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipementSinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Grade3Var_Autre</name>
        <label>Update Grade3Var Autre</label>
        <locationX>1772</locationX>
        <locationY>2035</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAutre_Equipement.GradeCost_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GRADE3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montant_max</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ValeurNeuveVar</name>
        <label>Update ValeurNeuveVar</label>
        <locationX>2122</locationX>
        <locationY>1222</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__r.Valeur_equipement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEUF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_EquipementSinistre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ValeurNeuveVar_Autre</name>
        <label>Update ValeurNeuveVar Autre</label>
        <locationX>1352</locationX>
        <locationY>2032</locationY>
        <assignmentItems>
            <assignToReference>MontantEquipSin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAutre_Equipement.Valeur_equipement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NEUF</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Montant_max</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AutreChoix</name>
        <choiceText>Autres modèles disponibles à l&apos;échange</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <description>Si le client choisi d&apos;utiliser un autre magasin que celui de son contrat, renvoyer vers l&apos;écran de choix code postal/ville</description>
        <name>Choisir_un_autre_magasin_dcs</name>
        <label>Choisir un autre magasin</label>
        <locationX>2259</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Saisie_montant_prime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Choisir magasin du contrat</defaultConnectorLabel>
        <rules>
            <name>Choisir_un_autre_magasin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choisir_un_autre_magasin_chkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choix_magasin_1bis</targetReference>
            </connector>
            <label>Choisir un autre magasin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choix_interrompu</name>
        <label>Choix interrompu ?</label>
        <locationX>1740</locationX>
        <locationY>1714</locationY>
        <defaultConnector>
            <targetReference>GetAutre_Equipement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_c_est_un_stop</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>StopChoix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AutreEquipement.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EquipSin</targetReference>
            </connector>
            <label>Yup, c&apos;est un stop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirme_le_changement</name>
        <label>Confirme le changement ?</label>
        <locationX>292</locationX>
        <locationY>253</locationY>
        <defaultConnector>
            <targetReference>Choix_non_confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmationChangementIndemn.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Equipement_r_aprable_ou_irr_parable</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <description>Création du Calcul d&apos;Indemn à partir des infos du magasin choisi</description>
        <name>Creation_Calcul_Indem</name>
        <label>Création Calcul Indem</label>
        <locationX>2647</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Mag contrat pas éligible</defaultConnectorLabel>
        <rules>
            <name>Elig_Calcul_indemn_sur_mag_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choisir_un_autre_magasin_chkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_magasin_du_contrat.StorePremiumEligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elig_premiumStore_magasinContrat</targetReference>
            </connector>
            <label>Elig_Calcul indemn sur mag contrat</label>
        </rules>
        <rules>
            <name>Elig_Calcul_indemn_sur_mag_correspondant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choisir_un_autre_magasin_chkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Magasin_corresp_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elig_premiumStore_MagasinCorresp</targetReference>
            </connector>
            <label>Elig_Calcul indemn sur mag correspondant</label>
        </rules>
        <rules>
            <name>Elig_Calcul_indemn_sur_mag_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choisir_un_autre_magasin_chkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Magasin_dispo_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elig_premiumStore_MagasinDispo</targetReference>
            </connector>
            <label>Elig_Calcul indemn sur mag disponible</label>
        </rules>
        <rules>
            <name>NoElig_Calcul_indemn_sur_mag_correspondant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_magasin_du_contrat.StorePremiumEligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Magasin_corresp_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Elig_premiumStore_MagasinCorresp</targetReference>
            </connector>
            <label>NoElig_Calcul indemn sur mag correspondant</label>
        </rules>
        <rules>
            <name>NoElig_Calcul_indemn_sur_mag_disponible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_magasin_du_contrat.StorePremiumEligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Magasin_dispo_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Elig_premiumStore_MagasinDispo</targetReference>
            </connector>
            <label>NoElig_Calcul indemn sur mag disponible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipement_en_reparation_Changement_d_indemn</name>
        <label>Equipement en réparation / Changement d&apos;indemn ?</label>
        <locationX>1289</locationX>
        <locationY>771</locationY>
        <defaultConnector>
            <targetReference>Quel_type_d_indemnisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>A_annuler_A_retourner</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldEquipSin.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EquipVolePerduRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime pour echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En commande pièces</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EquipSinStatus_Annule</targetReference>
            </connector>
            <label>A annuler / A retourner</label>
        </rules>
        <rules>
            <name>A_annuler</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldEquipSin.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EquipVolePerduRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime pour echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Analyse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Attente Réception</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EquipSin_Annul</targetReference>
            </connector>
            <label>A annuler</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipement_existant_eligible</name>
        <label>Equipement existant eligible ?</label>
        <locationX>1661</locationX>
        <locationY>1087</locationY>
        <defaultConnector>
            <targetReference>Get_RecordEchange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipement_eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.Disponible_Echange__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EquipementEligibleScr</targetReference>
            </connector>
            <label>Equipement eligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipement_irreparable</name>
        <label>Equipement irréparable / réparable ?</label>
        <locationX>1289</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Equipement_en_reparation_Changement_d_indemn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Yup_irreparable</name>
            <conditionLogic>(1 OR 2) AND (3 OR 6) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime pour echange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Irréparable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Sous_statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente GS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>EquipVolePerduRT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reparable_or_Irreparable</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipement_r_aprable_ou_irr_parable</name>
        <label>Equipement réaprable ou irréparable ?</label>
        <locationX>50</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Renvoyer_l_quipement_au_client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Irréparable</defaultConnectorLabel>
        <rules>
            <name>EquipSin_reparable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renvoi_au_client</targetReference>
            </connector>
            <label>Réparable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Etait_ce_une_prime_pour_echange</name>
        <label>Etait-ce une prime pour echange ?</label>
        <locationX>1229</locationX>
        <locationY>1235</locationY>
        <defaultConnector>
            <targetReference>Quel_type_d_echange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_c_tait_une_prime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime pour echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_indemnisation</targetReference>
            </connector>
            <label>Oui, c&apos;était une prime</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si le magasin dans lequel le contrat associé au sinistre a été signé est éligible à la prime en magasin, alors il est proposé pour l&apos;échange, sinon une liste des magasin éligible s&apos;affiche</description>
        <name>Mag_du_contrat_ou_choix</name>
        <label>Mag du contrat ou choix</label>
        <locationX>2088</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Choix_magasin_1bis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Magasins éligibles</defaultConnectorLabel>
        <rules>
            <name>Magasin_du_contrat_ligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_magasin_du_contrat.StorePremiumEligible__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choix_magasin_1</targetReference>
            </connector>
            <label>Magasin du contrat éligible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Montant_max</name>
        <label>Montant max ?</label>
        <locationX>1542</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Valeur_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_montant_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaxMontantEquipSin</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MontantEquipSin</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MaxMontant</targetReference>
            </connector>
            <label>Yup, montant to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parcours_echange</name>
        <label>Parcours echange ?</label>
        <locationX>1985</locationX>
        <locationY>1089</locationY>
        <defaultConnector>
            <targetReference>Choix_Grade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_parcours_echange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectionnerEquipement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordEchange</targetReference>
            </connector>
            <label>Yup, parcours echange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prime_geste_co</name>
        <label>Prime + geste co ?</label>
        <locationX>2598</locationX>
        <locationY>1552</locationY>
        <defaultConnector>
            <targetReference>Ajout_cout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primes_geste_CO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Geste commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Alert</targetReference>
            </connector>
            <label>Primes+geste CO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_grade_choisi</name>
        <label>Quel grade choisi ?</label>
        <locationX>2288</locationX>
        <locationY>1221</locationY>
        <defaultConnector>
            <targetReference>gradeNullErrScr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valeur_neuve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gradeequipementt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neuf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.Valeur_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.Valeur_equipement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ValeurNeuveVar</targetReference>
            </connector>
            <label>Valeur neuve</label>
        </rules>
        <rules>
            <name>Grade_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gradeequipementt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade1Var</targetReference>
            </connector>
            <label>Grade 1</label>
        </rules>
        <rules>
            <name>Grade_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gradeequipementt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade2Var</targetReference>
            </connector>
            <label>Grade 2</label>
        </rules>
        <rules>
            <name>Grade_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Gradeequipementt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade3Var</targetReference>
            </connector>
            <label>Grade 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_grade_choisi_autre_modele</name>
        <label>Quel grade choisi ?</label>
        <locationX>1548</locationX>
        <locationY>2037</locationY>
        <defaultConnector>
            <targetReference>gradeNullErrScrAgain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valeur_neuve_autre_modele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neuf</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Souhaitez_vous_valider_votre_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.Valeur_equipement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.Valeur_equipement__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ValeurNeuveVar_Autre</targetReference>
            </connector>
            <label>Valeur neuve - autre modele</label>
        </rules>
        <rules>
            <name>Grade_1_autre_modele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Souhaitez_vous_valider_votre_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade1Var_Autre</targetReference>
            </connector>
            <label>Grade 1 - autre modele</label>
        </rules>
        <rules>
            <name>Grade_2_autre_modele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Souhaitez_vous_valider_votre_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade2Var_Autre</targetReference>
            </connector>
            <label>Grade 2 - autre modele</label>
        </rules>
        <rules>
            <name>Grade_3_autre_modele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Grade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grade 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Souhaitez_vous_valider_votre_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAutre_Equipement.GradeCost_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Grade3Var_Autre</targetReference>
            </connector>
            <label>Grade 3 - autre modele</label>
        </rules>
        <rules>
            <name>ERROR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Souhaitez_vous_valider_votre_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajout_cout2</targetReference>
            </connector>
            <label>ERROR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_modele_choisi</name>
        <label>Quel modèle choisi ?</label>
        <locationX>1835</locationX>
        <locationY>1532</locationY>
        <defaultConnector>
            <targetReference>Assign_ChosenEquipSinId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modele_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choix_modele</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AutreChoix</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_count</targetReference>
            </connector>
            <label>Modele different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_type_d_echange</name>
        <label>Quel type d&apos;echange ?</label>
        <locationX>1660</locationX>
        <locationY>769</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prime magasin</defaultConnectorLabel>
        <rules>
            <name>Echange_interne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeMouvement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cout interne d&apos;echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Equipement_Sinistre</targetReference>
            </connector>
            <label>Echange interne</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_type_d_indemnisation</name>
        <label>Quel type d&apos;indemnisation ?</label>
        <locationX>1467</locationX>
        <locationY>770</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_indemnisation</targetReference>
            </connector>
            <label>Primes</label>
        </rules>
        <rules>
            <name>Echange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoutChoisi</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Echange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quel_type_d_echange</targetReference>
            </connector>
            <label>Echange</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordEchange_null</name>
        <label>RecordEchange null ?</label>
        <locationX>1662</locationX>
        <locationY>1405</locationY>
        <defaultConnector>
            <targetReference>Choix_Echange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordEchangeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_to_count</targetReference>
            </connector>
            <label>Yup, null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renvoi_au_client</name>
        <label>Renvoi au client ?</label>
        <locationX>369</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>R_paration_On_garde</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_renvoi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenvoyerEquipClient.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renvoi_reparable</targetReference>
            </connector>
            <label>Yes renvoi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renvoyer_l_quipement_au_client</name>
        <label>Renvoyer l&apos;équipement au client ?</label>
        <locationX>228</locationX>
        <locationY>909</locationY>
        <defaultConnector>
            <targetReference>On_renvoi_pas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope on garde</defaultConnectorLabel>
        <rules>
            <name>Yup_on_renvoi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RenvoyerEquipClient.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_statut_irr_parable_a_retourner</targetReference>
            </connector>
            <label>Yup on renvoi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reparable_or_Irreparable</name>
        <label>Réparable or Irréparable ? that&apos;s the question</label>
        <locationX>1065</locationX>
        <locationY>382</locationY>
        <defaultConnector>
            <targetReference>Assign_EquipSinStatus_Irr_parable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Irréparable</defaultConnectorLabel>
        <rules>
            <name>Reparable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OldEquipSin.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Cours de Réparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EquipSin_statut_annule_aRetourner</targetReference>
            </connector>
            <label>Reparable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valeur_count</name>
        <label>Valeur count ?</label>
        <locationX>1544</locationX>
        <locationY>2518</locationY>
        <defaultConnector>
            <targetReference>Assign_Choix3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Count = 3</defaultConnectorLabel>
        <rules>
            <name>Count_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Choix1</targetReference>
            </connector>
            <label>Count = 1</label>
        </rules>
        <rules>
            <name>Count_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Choix2</targetReference>
            </connector>
            <label>Count = 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Y_a_t_il_des_CalcIndem_a_supprimer</name>
        <label>Y a-t-il des CalcIndem à supprimer ?</label>
        <locationX>2295</locationX>
        <locationY>1984</locationY>
        <defaultConnector>
            <targetReference>RIP_CalcIndemn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yup, il y en a</defaultConnectorLabel>
        <rules>
            <name>Nope_rien_a_supprimer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalcIndemnToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajout_cout</targetReference>
            </connector>
            <label>Nope, rien à supprimer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GradeMatriceCoutEquip</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TechGrade__c</picklistField>
        <picklistObject>Matrice_cout_equipement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Magasins_correspondants_la_recherche_choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2 OR 7) AND 3 AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>Code_postal_ou_ville</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Code_postal_ou_ville</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributeur</stringValue>
            </value>
        </filters>
        <filters>
            <field>StorePremiumEligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Compte_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Code_postal_ou_ville</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Magasin_corresp_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Magasins_disponibles_choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distributeur</stringValue>
            </value>
        </filters>
        <filters>
            <field>StorePremiumEligible__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Compte_test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Magasin_dispo_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordEchange</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Disponible_Echange__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Matrice_cout_equipement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FOR_NumberChoixClient</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Case.TECH_NumberTaskChoixClient__c}!=null,{!Get_Case.TECH_NumberTaskChoixClient__c}+1,{!GET_CurrentCase.TECH_NumberTaskChoixClient__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>VarCommentaire</name>
        <dataType>String</dataType>
        <expression>&quot;Effectuer la validation d&apos;un échange sur l&apos;équipement : &quot;+{!Allchoices}</expression>
    </formulas>
    <interviewLabel>SF &quot;: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Indemnisation Prime/Echange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CalculIndemn_Indemnisation</name>
        <label>CalculIndemn Indemnisation</label>
        <locationX>1489</locationX>
        <locationY>1327</locationY>
        <connector>
            <targetReference>Prime_geste_co</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <elementReference>CoutChoisi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Libelle__c</field>
            <value>
                <elementReference>LibelleIndemn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant_indemnisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sens_mouvement__c</field>
            <value>
                <stringValue>Paiement vers le client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Créer Calcul Indem pour le sinistre à partir des infos du magasin disponible choisi</description>
        <name>CalculIndemnEchangePrime</name>
        <label>CalculIndemnEchangePrime</label>
        <locationX>3193</locationX>
        <locationY>906</locationY>
        <connector>
            <targetReference>Update_Case_magasin_fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <elementReference>CoutChoisi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Libelle__c</field>
            <value>
                <elementReference>LibelleIndemn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Montant_prime_echange_magasin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>2800</locationX>
        <locationY>1444</locationY>
        <connector>
            <targetReference>Ajout_cout</targetReference>
        </connector>
        <inputAssignments>
            <field>BusinessRulesNumber__c</field>
            <value>
                <stringValue>RGSIN22</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesDiscountMotif__c</field>
            <value>
                <stringValue>Geste Commercial financier demandé</stringValue>
            </value>
        </inputAssignments>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_CalculIndemn</name>
        <label>Create CalculIndemn</label>
        <locationX>1898</locationX>
        <locationY>2685</locationY>
        <connector>
            <targetReference>GET_CurrentCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <elementReference>CoutChoisi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Libelle__c</field>
            <value>
                <elementReference>LibelleIndemn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>MaxMontantEquipSin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sens_mouvement__c</field>
            <value>
                <stringValue>Interne échange</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EquipSin</name>
        <label>Create EquipSin</label>
        <locationX>984</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Assign_new_EquipSinId</targetReference>
        </connector>
        <inputAssignments>
            <field>Adresse_de_livraison__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Adresse_de_livraison__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Batterie_out__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Batterie_out__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BrandId__c</field>
            <value>
                <elementReference>Get_OldEquipSin.BrandId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand_not_recognized__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Brand_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacite__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Capacite__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_not_recognized__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Category_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_cass_voil__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Chassis_cass_voil__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_voile__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Chassis_voile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientChoiceDate__c</field>
            <value>
                <elementReference>Get_OldEquipSin.ClientChoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_verrouillage__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Code_verrouillage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_verrouillage_demande__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Code_verrouillage_demande__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Code_verrouillage_fournisseur__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Code_verrouillage_fournisseur__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Couleur__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Couleur__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_de_suspension_de_ligne__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Date_de_suspension_de_ligne__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMode__c</field>
            <value>
                <elementReference>Get_OldEquipSin.DeliveryMode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipement_client__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Equipement_client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Etat_produit__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Etat_produit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IMEI_non_identifiable__c</field>
            <value>
                <elementReference>Get_OldEquipSin.IMEI_non_identifiable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ItemCostMatrix__c</field>
            <value>
                <elementReference>Get_OldEquipSin.ItemCostMatrix__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_OldEquipSin.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_not_recognized__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Name_not_recognized__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OperatorCountry__c</field>
            <value>
                <elementReference>Get_OldEquipSin.OperatorCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Operator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id__c</field>
            <value>
                <elementReference>Get_OldEquipSin.Product2Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EquipVolePerduRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerieNumberEC__c</field>
            <value>
                <elementReference>Get_OldEquipSin.SerieNumberEC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sinistre__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MouvementFinancier</name>
        <label>Create MouvementFinancier</label>
        <locationX>2295</locationX>
        <locationY>1705</locationY>
        <connector>
            <targetReference>Get_CalcIndem_to_delete</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <elementReference>CoutChoisi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Libelle__c</field>
            <value>
                <elementReference>LibelleIndemn</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>MontantEquipSin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sens_mouvement__c</field>
            <value>
                <stringValue>Interne échange</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <elementReference>TypeMouvement</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>RIP_CalcIndemn</name>
        <label>RIP CalcIndemn</label>
        <locationX>2304</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>Ajout_cout</targetReference>
        </connector>
        <inputReference>CalcIndemnToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_CalcIndem_to_delete</name>
        <label>Get CalcIndem to delete</label>
        <locationX>2295</locationX>
        <locationY>1843</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Y_a_t_il_des_CalcIndem_a_supprimer</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cout forfait de reparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cout interne reparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <object>Mouvements_financiers__c</object>
        <outputReference>CalcIndemnToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1854</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_magasin_du_contrat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CurrentCase</name>
        <label>GET_CurrentCase</label>
        <locationX>2119</locationX>
        <locationY>2417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UPD_CaseNumberChoixClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EchangeRT</name>
        <label>Get EchangeRT</label>
        <locationX>1297</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Equipement_irreparable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>EquipVolePerduRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipement_Sinistre</name>
        <label>Get Equipement Sinistré</label>
        <locationX>1670</locationX>
        <locationY>952</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Equipement_existant_eligible</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Récupère les données du distributeur auprès duquel le contrat du client a été signé</description>
        <name>Get_magasin_du_contrat</name>
        <label>Get_magasin du contrat</label>
        <locationX>1970</locationX>
        <locationY>766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mag_du_contrat_ou_choix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Asset.Id_distributeur__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OldEquipSin</name>
        <label>Get OldEquipSin</label>
        <locationX>1297</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EchangeRT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordEchange</name>
        <label>Get RecordEchange</label>
        <locationX>1670</locationX>
        <locationY>1288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordEchange_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Disponible_Echange__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Matrice_cout_equipement__c</object>
        <outputAssignments>
            <assignToReference>recordEchangeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetAutre_Equipement</name>
        <label>GetAutre Equipement</label>
        <locationX>1554</locationX>
        <locationY>1774</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choix_Echange_Scr</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AutreEquipement.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Matrice_cout_equipement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Renseigne magasin du contrat, montant équipement, grade et date choix sur l&apos;équipement sinistré</description>
        <name>Elig_Update_eqpm_sinistre</name>
        <label>Elig_Update eqpm sinistré</label>
        <locationX>3195</locationX>
        <locationY>285</locationY>
        <connector>
            <targetReference>ASS_NoTaskValidationClientCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientChoiceDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EquipmentAmount__c</field>
            <value>
                <elementReference>Montant_prime_echange_magasin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StorePremium__c</field>
            <value>
                <elementReference>premiumStore</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Renseigne magasin choisi, montant équipement et grade sur l&apos;équipement sinistré</description>
        <name>NoElig_Update_eqpm_sinistre</name>
        <label>NoElig_Update eqpm sinistré</label>
        <locationX>2961</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>ASS_AddNumberTaskChoixClient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EquipmentAmount__c</field>
            <value>
                <elementReference>Montant_prime_echange_magasin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StorePremium__c</field>
            <value>
                <elementReference>premiumStore</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_CaseNumberChoixClient</name>
        <label>UPD_CaseNumberChoixClient</label>
        <locationX>2119</locationX>
        <locationY>2284</locationY>
        <connector>
            <targetReference>Get_CalcIndem_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_NumberTaskChoixClient__c</field>
            <value>
                <elementReference>FOR_NumberChoixClient</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CalcIndemnReparation</name>
        <label>Update CalcIndemnReparation</label>
        <locationX>975</locationX>
        <locationY>1240</locationY>
        <connector>
            <targetReference>Update_related_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Réparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invalidated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Invalidated</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Ramène les infos de l&apos;équipement sinistré et du magasin sur le Case pour les merge fields de l&apos;email</description>
        <name>Update_Case_magasin_fields</name>
        <label>Update Case magasin fields</label>
        <locationX>3194</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Ajout_cout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Montant_prime__c</field>
            <value>
                <elementReference>Montant_prime_echange_magasin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_EqpmSinName__c</field>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_NumberTaskChoixClient__c</field>
            <value>
                <elementReference>VAR_NumberChoixClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_StorePremium__c</field>
            <value>
                <elementReference>premiumStore</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipementSinistre</name>
        <label>Update EquipementSinistre</label>
        <locationX>2295</locationX>
        <locationY>1562</locationY>
        <connector>
            <targetReference>Create_MouvementFinancier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EquipSinId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChooseEqp__c</field>
            <value>
                <elementReference>chosenEquipSinId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientChoiceDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EquipmentAmount__c</field>
            <value>
                <elementReference>MontantEquipSin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>GradeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>EquipVolePerduRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Choix client échange</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin</name>
        <label>Update EquipSin</label>
        <locationX>1783</locationX>
        <locationY>2685</locationY>
        <connector>
            <targetReference>Create_CalculIndemn</targetReference>
        </connector>
        <inputReference>Get_Equipement_Sinistre</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Equipement_Sin</name>
        <label>Update Old Equipement Sin</label>
        <locationX>977</locationX>
        <locationY>1026</locationY>
        <connector>
            <targetReference>Update_CalcIndemnReparation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OldEquipSin.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sous_statut__c</field>
            <value>
                <elementReference>SousStatutEquipSin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <elementReference>StatutEquipSin</elementReference>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_related_case</name>
        <label>Update related case</label>
        <locationX>1106</locationX>
        <locationY>1233</locationY>
        <connector>
            <targetReference>Etait_ce_une_prime_pour_echange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attente_colis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Ajout_cout</name>
        <label>Ajout cout</label>
        <locationX>3194</locationX>
        <locationY>1689</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nouveau_mouvement_financier</name>
            <fieldText>&lt;p&gt;Un nouveau mouvement a été cré&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;é.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ajout_cout2</name>
        <label>Ajout cout</label>
        <locationX>1743</locationX>
        <locationY>1917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Ecranfinal2</name>
            <fieldText>&lt;p&gt;/!\ &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Avez-vous validé votre choix sur l&apos;écran précédent ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_Echange</name>
        <label>Choix Echange</label>
        <locationX>1843</locationX>
        <locationY>1403</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quel_modele_choisi</targetReference>
        </connector>
        <fields>
            <name>Choix_modele</name>
            <choiceReferences>RecordEchange</choiceReferences>
            <choiceReferences>AutreChoix</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choix modèle</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_Echange_Scr</name>
        <label>Choix Echange</label>
        <locationX>1554</locationX>
        <locationY>1905</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quel_grade_choisi_autre_modele</targetReference>
        </connector>
        <fields>
            <name>Grade</name>
            <choiceReferences>GradeMatriceCoutEquip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PrixNeufAutreModel</name>
            <fieldText>&lt;p&gt;Prix Neuf : {!GetAutre_Equipement.Valeur_equipement__c}&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: arial, sans-serif; color: rgb(77, 81, 86);&quot;&gt;€&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Grade</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Neuf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PrixGrade1AutreModel</name>
            <fieldText>&lt;p&gt;Prix Grade 1 : {!GetAutre_Equipement.GradeCost_1__c}&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: arial, sans-serif; color: rgb(77, 81, 86);&quot;&gt;€&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Grade</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PrixGrade2AutreModel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Prix Grade 2 : {!GetAutre_Equipement.GradeCost_2__c}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(77, 81, 86); font-size: 14px; font-family: arial, sans-serif;&quot;&gt;€&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Grade</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 2</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PrixGrade3AutreModel</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Prix Grade 3 : {!GetAutre_Equipement.GradeCost_3__c}&lt;/span&gt;&lt;span style=&quot;color: rgb(77, 81, 86); background-color: rgb(255, 255, 255); font-size: 14px; font-family: arial, sans-serif;&quot;&gt;€&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Grade</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Souhaitez_vous_valider_votre_choix</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Souhaitez-vous valider votre choix ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_Echange_theReturn</name>
        <label>Choix Echange</label>
        <locationX>1554</locationX>
        <locationY>1651</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choix_interrompu</targetReference>
        </connector>
        <fields>
            <name>Choix1Msg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;CHOIX #1&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choix2Msg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;CHOIX #2&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Choix3Msg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;CHOIX #3&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Count</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AutreEquipement</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Autre équipement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Equipement_sinistre__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TechEchange__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>StopChoix</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>StopChoix</name>
            <dataType>Boolean</dataType>
            <fieldText>Interrompre mon choix</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_Grade</name>
        <label>Choix Grade</label>
        <locationX>2288</locationX>
        <locationY>1086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quel_grade_choisi</targetReference>
        </connector>
        <fields>
            <name>Gradeequipementt</name>
            <choiceReferences>GradeMatriceCoutEquip</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Grade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValeurEquip</name>
            <fieldText>&lt;p&gt;Prix Neuf:&lt;/p&gt;&lt;p&gt;{!Get_Equipement_Sinistre.ItemCostMatrix__r.Valeur_equipement__c} €&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gradeequipementt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Neuf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Grade1</name>
            <fieldText>&lt;p&gt;Prix Grade 1:&lt;/p&gt;&lt;p&gt;{!Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_1__c} €&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gradeequipementt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Grade2</name>
            <fieldText>&lt;p&gt;Prix Grade 2:&lt;/p&gt;&lt;p&gt;{!Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_2__c} €&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gradeequipementt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 2</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Grade3</name>
            <fieldText>&lt;p&gt;Prix Grade 3:&lt;/p&gt;&lt;p&gt;{!Get_Equipement_Sinistre.ItemCostMatrix__r.GradeCost_3__c} €&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Gradeequipementt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Grade 3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choix du magasin dans lequel réaliser l&apos;échange</description>
        <name>Choix_magasin_1</name>
        <label>Choix magasin 1</label>
        <locationX>2095</locationX>
        <locationY>575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choisir_un_autre_magasin_dcs</targetReference>
        </connector>
        <fields>
            <name>Magasin_du_contrat_info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Le magasin dans lequel le contrat du client a été signé est éligible à la prime d&apos;échange en magasin&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!Get_magasin_du_contrat.Name}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!Get_magasin_du_contrat.ShippingStreet}&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;{!Get_magasin_du_contrat.ShippingPostalCode} {!Get_magasin_du_contrat.ShippingCity}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choisir_un_autre_magasin_chkbox</name>
            <dataType>Boolean</dataType>
            <fieldText>Choisir un autre magasin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_magasin_1bis</name>
        <label>Choix magasin 1#</label>
        <locationX>2269</locationX>
        <locationY>769</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choix_magasin_2</targetReference>
        </connector>
        <fields>
            <name>Code_postal_ou_ville</name>
            <dataType>String</dataType>
            <fieldText>Code postal ou ville</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Choix du magasin parmi la liste de correspondance, ou parmi la liste de tous les magasins éligibles</description>
        <name>Choix_magasin_2</name>
        <label>Choix magasin 2</label>
        <locationX>2521</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Saisie_montant_prime</targetReference>
        </connector>
        <fields>
            <name>Choix_magasin_2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choix_magasin_2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Magasins_correspondants_la_recherche</name>
                    <choiceReferences>Magasins_correspondants_la_recherche_choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Magasins correspondants à la recherche</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choix_magasin_2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Magasins_disponibles</name>
                    <choiceReferences>Magasins_disponibles_choices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Magasins disponibles</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choix_non_confirm</name>
        <label>Choix non confirmé</label>
        <locationX>300</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Vous n&apos;avez pas confirmé votre choix, le processus prend fin.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Equipement_irreparable_scr</name>
        <label>Equipement irreparable</label>
        <locationX>459</locationX>
        <locationY>348</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirme_le_changement</targetReference>
        </connector>
        <fields>
            <name>IrreparableMsg</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Vous changez d&apos;indemnisation, souhaitez-vous renvoyer l&apos;appareil au client ?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RenvoyerEquipClient</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Renvoyer l&apos;équipment ? </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WarningChangementIndemn</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 8, 8);&quot;&gt;Attention vous êtes en train de changer d&apos;une indemnisation réparation vers une Indemnisation Échange/Prime , confirmez votre choix ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationChangementIndemn</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confimez vous ? </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Oui</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Non</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EquipementEligibleScr</name>
        <label>EquipementEligible</label>
        <locationX>1835</locationX>
        <locationY>1078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parcours_echange</targetReference>
        </connector>
        <fields>
            <name>EquipementEligibleMsg</name>
            <fieldText>&lt;p&gt;Votre équipement est éligible pour l&apos;échange, souhaitez-vous le séléctionner ?&lt;/p&gt;&lt;p&gt;(une réponse négative vous redirigera vers plusieurs choix d&apos;échange)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectionnerEquipement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Séléctionner l&apos;équipement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>gradeNullErrScr</name>
        <label>gradeNullErrScr</label>
        <locationX>2395</locationX>
        <locationY>1089</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>gradeNullErrMsg</name>
            <fieldText>&lt;p&gt;Le grade que vous avez choisi est nul ou n&apos;a pas de valeur.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>gradeNullErrScrAgain</name>
        <label>gradeNullErrScr</label>
        <locationX>1362</locationX>
        <locationY>1885</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>gradeNullErrMsgAgain</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Le grade que vous avez choisi est nul ou n&apos;a pas de valeur.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Montant de la prime accordée par GS</description>
        <name>Saisie_montant_prime</name>
        <label>Saisie montant prime</label>
        <locationX>2521</locationX>
        <locationY>574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Creation_Calcul_Indem</targetReference>
        </connector>
        <fields>
            <name>Montant_prime_echange_magasin</name>
            <dataType>Currency</dataType>
            <fieldText>Montant</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Le montant accordé doit être plafonné à la valeur de l&apos;équipement à l&apos;état neuf : {!Get_OldEquipSin.ItemCostMatrix__r.Valeur_equipement__c} €&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_indemnisation</name>
        <label>Screen indemnisation</label>
        <locationX>1475</locationX>
        <locationY>1101</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CalculIndemn_Indemnisation</targetReference>
        </connector>
        <fields>
            <name>Montant_indemnisation</name>
            <dataType>Currency</dataType>
            <fieldText>Montant</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1171</locationX>
        <locationY>179</locationY>
        <connector>
            <targetReference>Get_OldEquipSin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>tous les choix</description>
        <name>Allchoices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CalcIndemnToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenEquipSinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Equipement_Sinistre.ItemCostMatrix__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CoutChoisi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipSinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EquipVolePerduRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GradeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdOwnerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LibelleIndemn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID du magasin choisi et correspondant à la recherche</description>
        <name>Magasin_corresp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID du magasin disponible choisi</description>
        <name>Magasin_dispo_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxGradeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxMontantEquipSin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MontantEquipSin</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>premiumStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordEchangeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SousStatutEquipSin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatutEquipSin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeMouvement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_NumberChoixClient</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
