hubSide/force-app/main/default/flows/SF_Indemnisation_Reparation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CalculIndemn_to_delete</name>
        <label>CalculIndemn to delete ?</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Ajout_cout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculIndemnToDeleteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_CalculIndemn</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Sinistre</name>
        <label>Type Sinistre</label>
        <locationX>281</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Valeur_reparation_nulle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Perte_Vol_Retour</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReturnedByCarrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LostByCarrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DysfonctionsAfterExchange</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoReparationBrokenStolen</targetReference>
            </connector>
            <label>Perte/Vol/Retour</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valeur_reparation_nulle</name>
        <label>Valeur réparation nulle ?</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CalcIndemn_Reparation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valeur_reparation_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EqpmSin.Valeur_reparation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valeur_reparation_nulle_errScr</targetReference>
            </connector>
            <label>Valeur réparation = NULL</label>
        </rules>
    </decisions>
    <interviewLabel>SF - Indemnisation Reparation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Indemnisation Reparation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CalcIndemn_Reparation</name>
        <label>CalcIndemn Reparation</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_CalculIndemn_toDelete</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <elementReference>Cout_choisi</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Libelle__c</field>
            <value>
                <elementReference>Libelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>Get_EqpmSin.Valeur_reparation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Type_mouvement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sens_mouvement__c</field>
            <value>
                <stringValue>Interne reparation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <elementReference>Type_mouvement</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_CalculIndemn</name>
        <label>Delete CalculIndemn</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Ajout_cout</targetReference>
        </connector>
        <inputReference>CalculIndemnToDeleteList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_CalculIndemn_toDelete</name>
        <label>Get CalculIndemn toDelete</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalculIndemn_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cout interne d&apos;echange</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crée</stringValue>
            </value>
        </filters>
        <object>Mouvements_financiers__c</object>
        <outputReference>CalculIndemnToDeleteList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EqpmSin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EqpmSin</name>
        <label>Get EqpmSin</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EqpmSinId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ajout_cout</name>
        <label>Ajout cout</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nouveau_mouvement_financier</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Un nouveau mouvement a été créé.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoReparationBrokenStolen</name>
        <label>Pas de réparation type perte/vol</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorSinistreTypeBrokenStolen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pas de réparation possible sur :&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;une perte ou un vol&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;un retour transporteur&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;un dysfonctionnement suite à un échange&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Valeur_reparation_nulle_errScr</name>
        <label>Valeur reparation nulle</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ValeurReparationNullErrMsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;La valeur réparation de votre équipement sinistré est nulle, ce qui empêche la création de votre indemnisation.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculIndemnToDeleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mouvements_financiers__c</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cout_choisi</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EqpmSinId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Libelle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type_mouvement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
