hubSide/force-app/main/default/flows/TaskClosing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NotifyOwnerCase</name>
        <label>NotifyOwnerCase</label>
        <locationX>859</locationX>
        <locationY>2055</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Case_en_attente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Refus de la proposition d&apos;équipement en échange sur le sinistre {!GetCase.Numero_sinistre__c} sur lequel vous êtes propriétaire.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>{!GetCase.Numero_sinistre__c} : Refus de la proposition d&apos;équipement en échange</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>CaseOwnerCollectionForNotificationAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AdditionalRepairCalculIndemnId</name>
        <label>AdditionalRepairCalculIndemnId</label>
        <locationX>2022</locationX>
        <locationY>2502</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemnId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalculIndemn_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalculIndemnAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalculIndemn_0.Montant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_calcul_indemn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_isError</name>
        <label>Assign isError</label>
        <locationX>1057</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TaskStatus_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAutreAttenteVar</name>
        <label>AssignAutreAttenteVar</label>
        <locationX>1075</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>VarAutreAttente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EachCaseTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FranchiseCalculIndemnId</name>
        <label>FranchiseCalculIndemnId</label>
        <locationX>2018</locationX>
        <locationY>2283</locationY>
        <assignmentItems>
            <assignToReference>CalculIndemnId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalculIndemn.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CalculIndemnAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCalculIndemn.Montant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_calcul_indemn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OwnerIdAssignment</name>
        <label>OwnerIdAssignment</label>
        <locationX>667</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>CaseOwnerCollectionForNotificationAction</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNotificationType</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AppelEntrant</name>
        <choiceText>Appel entrant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appel entrant</stringValue>
        </value>
    </choices>
    <choices>
        <name>AppelSortant</name>
        <choiceText>Appel sortant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Appel sortant</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AutreAttenteDecision</name>
        <label>AutreAttenteDecision</label>
        <locationX>976</locationX>
        <locationY>2400</locationY>
        <defaultConnector>
            <targetReference>EachCaseTasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutreAttenteOutcome</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>EachCaseTasks.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Franchise​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachCaseTasks.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DemandeReglementReparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachCaseTasks.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeolocalisationDeactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachCaseTasks.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TerminalUnlock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EachCaseTasks.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAutreAttenteVar</targetReference>
            </connector>
            <label>AutreAttenteOutcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_en_attente</name>
        <label>Case en attente ?</label>
        <locationX>1356</locationX>
        <locationY>2071</locationY>
        <defaultConnector>
            <targetReference>GetUpdate_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ton_attente_prend_fin_petit_case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GeolocalisationDeactivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TerminalUnlock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Franchise​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DemandeReglementReparation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCaseTasks</targetReference>
            </connector>
            <label>Ton attente prend fin petit case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Statut_Termin_e_ou_ferm_eKO</name>
        <label>Check Statut Terminée ou ferméeKO</label>
        <locationX>1251</locationX>
        <locationY>852</locationY>
        <defaultConnector>
            <targetReference>Update_task_FermeKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Terminee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Tech_stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_termin_OK</targetReference>
            </connector>
            <label>Terminé</label>
        </rules>
        <rules>
            <name>FermeeKO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Tech_stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fermé KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_task_FermeKO</targetReference>
            </connector>
            <label>FermeeKO</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_task_type_action_and_closing_reasons</name>
        <label>Check task type action and closing reasons</label>
        <locationX>1662</locationX>
        <locationY>2401</locationY>
        <defaultConnector>
            <targetReference>ClosingValidationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>franchise_must_be_completed</name>
            <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque demandé​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Demande Règlement Franchise​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCalculIndemn</targetReference>
            </connector>
            <label>Franchise must be completed</label>
        </rules>
        <rules>
            <name>Additional_repair_must_be_completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Type_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DemandeReglementReparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque demandé​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus client​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUpdate_task.Motif_cloture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client non joignable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCalculIndemn_0</targetReference>
            </connector>
            <label>Additional repair must be completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ClosingType_0</name>
        <label>Type de cloture</label>
        <locationX>1296</locationX>
        <locationY>1109</locationY>
        <defaultConnector>
            <targetReference>Case_en_attente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_inform_refus</name>
            <conditionLogic>1 OR 2 OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client informé refus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client informé SAV refusé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client non joignable après plusieurs tentatives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase_0</targetReference>
            </connector>
            <label>Client informé refus ou injoignable</label>
        </rules>
        <rules>
            <name>Termin_OK_client_valide_choix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Statut</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Valide Choix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEquipementSinistre</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEquipementSinistre.Statut_equipement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Choix client en cours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_equipement_sinistre</targetReference>
            </connector>
            <label>Terminé OK + client valide choix</label>
        </rules>
        <rules>
            <name>SAV_Changement_adresse_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changement adresse effectué</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAV - Demander confirmation adresse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSAV</targetReference>
            </connector>
            <label>SAV Changement adresse OK</label>
        </rules>
        <rules>
            <name>RefusedExchangeClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus client​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.topValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validation d’un échange​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_equipement_sinistre_refused_exchange</targetReference>
            </connector>
            <label>Echange refus client</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_new_task_decision</name>
        <label>Create new task ?</label>
        <locationX>776</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>ClosingType_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_create_new_task</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client non joignable après plusieurs tentatives</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeMotifPicklist.middleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refus client​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RT_SInistre_Task_Action</targetReference>
            </connector>
            <label>yes, create new task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Est_ce_que_TypeAction_a_change</name>
        <label>Est-ce que TypeAction a changé ?</label>
        <locationX>1249</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>Faut_il_consigner_l_appel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_TypeAction_a_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TypeActionIfNull</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>TypeMotifPicklist.topValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_isError</targetReference>
            </connector>
            <label>Oui, TypeAction a changé</label>
        </rules>
    </decisions>
    <decisions>
        <name>Faut_il_consigner_l_appel</name>
        <label>Faut-il consigner l&apos;appel ?</label>
        <locationX>1254</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Check_Statut_Termin_e_ou_ferm_eKO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_please</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consigner_l_appel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TacheRT</targetReference>
            </connector>
            <label>Yes please</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quel_record_type</name>
        <label>Quel record type</label>
        <locationX>1397</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Cloture_d_une_tache</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_Sinistre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.Record_type_name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sinistre_Task_Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskStatus_0</targetReference>
            </connector>
            <label>RT_Sinistre</label>
        </rules>
    </decisions>
    <decisions>
        <name>updateAutreAttenteDecision</name>
        <label>updateAutreAttenteDecision</label>
        <locationX>1333</locationX>
        <locationY>2404</locationY>
        <defaultConnector>
            <targetReference>GetUpdate_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_update_autreattente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.Autre_attente__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VarAutreAttente</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_sinistre</targetReference>
            </connector>
            <label>yes, update autre attente</label>
        </rules>
    </decisions>
    <description>13/07/2021 LLA SFAMI-2387 : fix new task created if task closing</description>
    <dynamicChoiceSets>
        <name>MotifCloturePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motif_cloture__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Tech_stage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tech_Stage__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AutreAttenteBooleanToText</name>
        <dataType>String</dataType>
        <expression>IF({!VarAutreAttente}, &apos;Oui&apos;, &apos;Non&apos;)</expression>
    </formulas>
    <formulas>
        <name>NewTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!TypeMotifPicklist.middleValue} + &quot; - &quot; + {!Get_Task.Subject}</expression>
    </formulas>
    <formulas>
        <name>PaiementVersementName</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!GetUpdate_task.Motif_cloture__c}) == &apos;Cheque demandé​&apos;, 
    &apos;CHEQUE&apos; + &apos; - &apos; + {!Raison_fermeture}, 
    IF(
        TEXT({!GetUpdate_task.Motif_cloture__c}) == &apos;CB&apos;,
        &apos;CB&apos; + &apos; - &apos; + {!Raison_fermeture}, 
        &apos;REG&apos; + &quot;-&quot; + LEFT(TEXT(NOW()), LEN(TEXT(NOW()))-1) + &quot; - GMT&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>RefusedExchangeHistoryComment</name>
        <dataType>String</dataType>
        <expression>&quot;Refus le &quot; + TEXT(DAY({!$Flow.CurrentDate}))+ &quot;/&quot; +TEXT(MONTH({!$Flow.CurrentDate}))+ &quot;/&quot; +TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>TypeActionIfNull</name>
        <dataType>String</dataType>
        <expression>IF(
    TEXT({!Get_Task.Type_Action__c}) == NULL, 
    &apos;Autres&apos;, 
    TEXT({!Get_Task.Type_Action__c})
)</expression>
    </formulas>
    <interviewLabel>Clôture d&apos;une tâche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clôture d&apos;une tâche</label>
    <loops>
        <name>EachCaseTasks</name>
        <label>EachCaseTasks</label>
        <locationX>1178</locationX>
        <locationY>2406</locationY>
        <collectionReference>GetCaseTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AutreAttenteDecision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAutreAttenteDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Appel</name>
        <label>Create Appel</label>
        <locationX>1056</locationX>
        <locationY>728</locationY>
        <connector>
            <targetReference>Check_Statut_Termin_e_ou_ferm_eKO</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_communication__c</field>
            <value>
                <elementReference>Canal_communication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Raison_fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heure_rappel__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_cloture__c</field>
            <value>
                <elementReference>TypeMotifPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_TacheRT.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Appel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeActionIfNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_paiement_versement</name>
        <label>Create paiement versement</label>
        <locationX>2161</locationX>
        <locationY>2648</locationY>
        <assignRecordIdToReference>VAR_PaiementVersementID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_calcIndemn</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>CalculIndemnAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PaiementVersementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Payé Client</stringValue>
            </value>
        </inputAssignments>
        <object>Paiement_Versement__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_task_for_GS</name>
        <label>Create task for GS</label>
        <locationX>1137</locationX>
        <locationY>921</locationY>
        <connector>
            <targetReference>ClosingType_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Motif_cloture__c</field>
            <value>
                <elementReference>TypeMotifPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCase.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raison_fermeture__c</field>
            <value>
                <elementReference>Raison_fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RT_SinistreTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeActionIfNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RT_SInistre_Task_Action</name>
        <label>Get RT SInistre Task Action</label>
        <locationX>1046</locationX>
        <locationY>922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_task_for_GS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sinistre_Task_Action</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RT_SinistreTask</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_TacheRT</name>
        <label>Get TacheRT</label>
        <locationX>1060</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Appel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tache</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1405</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCalculIndemn</name>
        <label>GetCalculIndemn</label>
        <locationX>1898</locationX>
        <locationY>2283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FranchiseCalculIndemnId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCalculIndemn_0</name>
        <label>GetCalculIndemn</label>
        <locationX>1907</locationX>
        <locationY>2502</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AdditionalRepairCalculIndemnId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_mouvement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complément réparation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>1405</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEquipementSinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseTasks</name>
        <label>GetCaseTasks</label>
        <locationX>1178</locationX>
        <locationY>2271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EachCaseTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEquipementSinistre</name>
        <label>Get Equipement sinistré</label>
        <locationX>1542</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quel_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationType</name>
        <label>GetNotificationType</label>
        <locationX>667</locationX>
        <locationY>2042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotifyOwnerCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_owner_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdate_task</name>
        <label>GetUpdate task</label>
        <locationX>1540</locationX>
        <locationY>2399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_task_type_action_and_closing_reasons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_calcIndemn</name>
        <label>Update calcIndemn</label>
        <locationX>1928</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>ClosingValidationScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalculIndemnId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Paiement_Versement__c</field>
            <value>
                <elementReference>VAR_PaiementVersementID</elementReference>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_calcul_indemn</name>
        <label>Update calcul indemn</label>
        <locationX>2161</locationX>
        <locationY>2396</locationY>
        <connector>
            <targetReference>Create_paiement_versement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalculIndemnId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_calcul_indemn_0</name>
        <label>Update calcul indemn</label>
        <locationX>667</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>OwnerIdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cout_choisi__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Echange</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Invalidated</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_equipement_sinistre</name>
        <label>update equipement sinistre</label>
        <locationX>942</locationX>
        <locationY>1305</locationY>
        <connector>
            <targetReference>Case_en_attente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientChoiceDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>Choix client échange</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_equipement_sinistre_refused_exchange</name>
        <label>update equipement sinistre</label>
        <locationX>664</locationX>
        <locationY>1102</locationY>
        <connector>
            <targetReference>updateEquipSinistreHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEquipementSinistre.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ChosenEquip__c</field>
            <value>
                <stringValue>RefusingProposals</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut_equipement__c</field>
            <value>
                <stringValue>En Analyse</stringValue>
            </value>
        </inputAssignments>
        <object>Equipement_sinistre__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sinistre</name>
        <label>Update sinistre</label>
        <locationX>1444</locationX>
        <locationY>2593</locationY>
        <connector>
            <targetReference>GetUpdate_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Autre_attente__c</field>
            <value>
                <elementReference>AutreAttenteBooleanToText</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_sinistre_0</name>
        <label>Update sinistre</label>
        <locationX>667</locationX>
        <locationY>1398</locationY>
        <connector>
            <targetReference>Update_calcul_indemn_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Autre_attente__c</field>
            <value>
                <elementReference>AutreAttenteBooleanToText</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task</name>
        <label>Update task</label>
        <locationX>2399</locationX>
        <locationY>1257</locationY>
        <connector>
            <targetReference>Case_en_attente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statut2</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_FermeKO</name>
        <label>Update task FermeKO</label>
        <locationX>784</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Create_new_task_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motif_cloture__c</field>
            <value>
                <elementReference>TypeMotifPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raison_fermeture__c</field>
            <value>
                <elementReference>Raison_fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeActionIfNull</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_task_termin_OK</name>
        <label>Update task terminé OK</label>
        <locationX>1358</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>ClosingType_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motif_cloture__c</field>
            <value>
                <elementReference>TypeMotifPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Raison_fermeture__c</field>
            <value>
                <elementReference>Raison_fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Statut</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Action__c</field>
            <value>
                <elementReference>TypeActionIfNull</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase_0</name>
        <label>UpdateCase</label>
        <locationX>1561</locationX>
        <locationY>1266</locationY>
        <connector>
            <targetReference>Case_en_attente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>closed_rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateEquipSinistreHistory</name>
        <label>update equip sinistre history</label>
        <locationX>668</locationX>
        <locationY>1245</locationY>
        <connector>
            <targetReference>Update_sinistre_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Equipement_sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetEquipementSinistre.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En Analyse</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Commentaire__c</field>
            <value>
                <elementReference>RefusedExchangeHistoryComment</elementReference>
            </value>
        </inputAssignments>
        <object>Name__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSAV</name>
        <label>UpdateSAV</label>
        <locationX>1457</locationX>
        <locationY>1554</locationY>
        <connector>
            <targetReference>Case_en_attente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>SAVInProgress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ClosingValidationScreen</name>
        <label>ClosingValidationScreen</label>
        <locationX>1672</locationX>
        <locationY>2651</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ClosingValidation</name>
            <fieldText>&lt;p&gt;Votre tâche est cloturée.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cloture_d_une_tache</name>
        <label>Cloture d&apos;une tache</label>
        <locationX>1540</locationX>
        <locationY>683</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_task</targetReference>
        </connector>
        <fields>
            <name>Statut2</name>
            <choiceReferences>Picklist_Tech_stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TaskStatus_0</name>
        <label>Statut de la tache</label>
        <locationX>1257</locationX>
        <locationY>407</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Est_ce_que_TypeAction_a_change</targetReference>
        </connector>
        <fields>
            <name>Statut</name>
            <choiceReferences>Picklist_Tech_stage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Statut</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Merci de ne pas modifier la valeur par défaut de Type d&apos;action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>isError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TypeMotifPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type_Action__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Motif_cloture__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type d&apos;action (pré-définie)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>TypeActionIfNull</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Motif de clôture</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Raison_fermeture</name>
            <dataType>String</dataType>
            <fieldText>Raison de la fermeture</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Consigner_l_appel</name>
            <dataType>Boolean</dataType>
            <fieldText>Consigner l&apos;appel ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Canal_communication</name>
            <choiceReferences>AppelEntrant</choiceReferences>
            <choiceReferences>AppelSortant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canal communication</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Consigner_l_appel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1279</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CalculIndemnAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CalculIndemnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwnerCollectionForNotificationAction</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RT_SinistreTask</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAR_PaiementVersementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAutreAttente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
