hubSide/force-app/main/default/flows/Update_Approval_motif_list.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assignement_VarConcatSiVide</name>
        <label>Assignement VarConcatSiVide</label>
        <locationX>846</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>VarConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_alerts.SalesDiscountMotif__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_alerts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_concat_pas_vide</name>
        <label>Var concat pas vide</label>
        <locationX>521</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>VarConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_VarConcatSiVide</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>concat_vide</name>
        <label>concat vide</label>
        <locationX>421</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Var_concat_pas_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>var_Concat_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarConcat</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_VarConcatSiVide</targetReference>
            </connector>
            <label>varConcat vide</label>
        </rules>
    </decisions>
    <description>This flow is used to update the alert text field on a case so that we can have multiple description in the approval interface.</description>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Mise à jour liste motif approbation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mise à jour liste motif approbation</label>
    <loops>
        <description>Loop va boucler sur les alerts.</description>
        <name>Loop_alerts</name>
        <label>Loop alerts</label>
        <locationX>564</locationX>
        <locationY>257</locationY>
        <collectionReference>Get_Alerts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>concat_vide</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get les différentes alerts du case</description>
        <name>Get_Alerts</name>
        <label>Get Alerts</label>
        <locationX>576</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get le case ID du flow précédent</description>
        <name>Get_Case_ID</name>
        <label>Get Case ID</label>
        <locationX>438</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Alerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update l&apos;alert text du case</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>934</locationX>
        <locationY>61</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AlertText__c</field>
            <value>
                <elementReference>VarConcat</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
