hubSide/force-app/main/default/flows/Validation_nouvel_emprunt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_depassement</name>
        <label>Assign depassement</label>
        <locationX>2401</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>Depassement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autorisation_depassement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>D_passement_autoris</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_depassement_2</name>
        <label>Assign depassement (2)</label>
        <locationX>2431</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>Depassement</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Emprunt_couvert_par_le_contrat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_isError</name>
        <label>Assign isError</label>
        <locationX>1866</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>isError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Code_formule_absent</name>
        <label>Code formule absent ?</label>
        <locationX>169</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Get_formule_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_code_formule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CodeFormule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_gamme</targetReference>
            </connector>
            <label>Pas de code formule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Coefficient_de_decompte_suffisant</name>
        <label>Coefficient de decompte suffisant ?</label>
        <locationX>2068</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Nombre_de_jours_suffisant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coef_de_decompte_nul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoefficientDecompte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gamme</targetReference>
            </connector>
            <label>Coef de decompte nul</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contrat_valide</name>
        <label>Contrat valide ?</label>
        <locationX>905</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>Deja_un_emprunt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contrat_non_valide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contractStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>valid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contrat_non_actif_screen</targetReference>
            </connector>
            <label>Contrat non valide</label>
        </rules>
    </decisions>
    <decisions>
        <name>D_passement_autoris</name>
        <label>Dépassement autorisé ?</label>
        <locationX>2571</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Autoriser_le_d_passement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Depassement_autorise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Autorisation_depassement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emprunt_couvert_par_le_contrat</targetReference>
            </connector>
            <label>Depassement autorise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Deja_un_emprunt</name>
        <label>Deja un emprunt ?</label>
        <locationX>1103</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Get_Facture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contrat_avec_emprunt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusEmprunt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emprunt en cours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enprunt_en_cours_screen</targetReference>
            </connector>
            <label>Contrat avec emprunt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duree_de_location_negative</name>
        <label>Durée de location négative ?</label>
        <locationX>704</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Contrat_valide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duree_negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duree_de_la_location</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duree_location_negative</targetReference>
            </connector>
            <label>Durée négative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Emprunt_couvert_par_le_contrat</name>
        <label>Emprunt couvert par le contrat ?</label>
        <locationX>2573</locationX>
        <locationY>409</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Emprunt_non_couvert</name>
            <conditionLogic>(5 AND (1 OR 3)) OR (NOT(5) AND (1 OR 2 OR 3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>ContractStartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Date_de_retrait_souhaitee</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_de_retrait_souhaitee</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractStartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DateDeRetour</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DateDeRetour</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ContractEndDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Emprunt_non_couvert_screen</targetReference>
            </connector>
            <label>Emprunt non couvert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facture_active</name>
        <label>Facture active ?</label>
        <locationX>1431</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>Get_Gamme_Formule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_de_facture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>factureId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_facture_active</targetReference>
            </connector>
            <label>Pas de facture</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fomule_reconnue</name>
        <label>Fomule reconnue ?</label>
        <locationX>512</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Duree_de_location_negative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formule_non_reconnue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormuleIdExterne</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProductNotFound01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pas_de_gamme</targetReference>
            </connector>
            <label>Formule non reconnue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nombre_de_jours_suffisant</name>
        <label>Nombre de jours suffisant ?</label>
        <locationX>2230</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>Assign_depassement_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pas_assez_de_jours_sur_le_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NombreJoursRestants</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NombreJoursImputes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Autoriser_le_d_passement</targetReference>
            </connector>
            <label>Pas assez de jours sur le contrat</label>
        </rules>
    </decisions>
    <description>Regroupe les contrôles effectués avant la création d&apos;un emprunt</description>
    <dynamicChoiceSets>
        <name>ListProduit</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ins__RecordTypeName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Produit_location</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>selectedProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DateDeRetour</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Duree_de_la_location}</expression>
    </formulas>
    <formulas>
        <name>NombreJoursImputes</name>
        <dataType>Number</dataType>
        <expression>CEILING ({!Duree_de_la_location} / {!CoefficientDecompte})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Validation nouvel emprunt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validation nouvel emprunt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Coef_Decompte</name>
        <label>Get Coef Decompte</label>
        <locationX>1934</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coefficient_de_decompte_suffisant</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Gamme_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gamme_formule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GammeFormule</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gamme_produit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GammeProduit</elementReference>
            </value>
        </filters>
        <object>Table_decompte__c</object>
        <outputAssignments>
            <assignToReference>CoefficientDecompte</assignToReference>
            <field>Coefficient_decompte__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Facture</name>
        <label>Get Facture</label>
        <locationX>1307</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Facture_active</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pas_de_facture_active</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contrat__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Facture_active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Facture__c</object>
        <outputAssignments>
            <assignToReference>factureId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_formule_id</name>
        <label>Get formule id</label>
        <locationX>370</locationX>
        <locationY>416</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fomule_reconnue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pas_de_gamme</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CodeFormule</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>FormuleIdExterne</assignToReference>
            <field>Id_externe__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Gamme_Formule</name>
        <label>Get Gamme Formule</label>
        <locationX>1621</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gamme_Produit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Gamme_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CodeFormule</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>GammeFormule</assignToReference>
            <field>Gamme_formule__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Gamme_Produit</name>
        <label>Get Gamme Produit</label>
        <locationX>1764</locationX>
        <locationY>409</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Coef_Decompte</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Gamme_error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedProductId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>GammeProduit</assignToReference>
            <field>Gamme_produit__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Autoriser_le_d_passement</name>
        <label>Autoriser le dépassement ?</label>
        <locationX>2236</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_depassement</targetReference>
        </connector>
        <fields>
            <name>te</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le nombre de jour restant dans le contrat séléctionné est trop faible ({!NombreJoursRestants}) par rapport à la durée de location. Vous pouvez autoriser le dépassement ci-dessous ou revenir en arrière pour choisir un autre contrat.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Autorisation_depassement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Autoriser le dépassement ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contrat_non_actif_screen</name>
        <label>Contrat non actif</label>
        <locationX>914</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>EOF</name>
            <fieldText>&lt;p&gt;Le contrat que vous avez choisi n&apos;est pas actif. Merci de l&apos;activer ou d&apos;en choisir un autre. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duree_location_negative</name>
        <label>Durée location negative</label>
        <locationX>714</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>Duree_location_error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Veuillez vérifier l&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;a durée de votre location, elle &lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;ne peut être négative.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Emprunt_non_couvert_screen</name>
        <label>Emprunt non couvert</label>
        <locationX>2586</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageDate</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Une des dates saisies n&apos;est pas couverte par le contrat actuel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enprunt_en_cours_screen</name>
        <label>Enprunt en cours</label>
        <locationX>1111</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>EmpruntMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Le contrat que vous avez choisi a déjà un emprunt en cours. Merci d&apos;en choisir un autre.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gamme</name>
        <label>Gamme</label>
        <locationX>2075</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>gammeErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;La gamme du produit est trop haute par rapport à la gamme offre choisie.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gamme_error</name>
        <label>Gamme error</label>
        <locationX>1766</locationX>
        <locationY>618</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Merci de vérifier les gammes formule et produit. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pas_de_facture_active</name>
        <label>Pas de facture active</label>
        <locationX>1431</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>FactureMessage</name>
            <fieldText>&lt;p&gt;Il n&apos;y a pas de consommation mensuelle active sur votre contrat.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pas_de_gamme</name>
        <label>Pas de gamme</label>
        <locationX>344</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_isError</targetReference>
        </connector>
        <fields>
            <name>GammeError</name>
            <fieldText>&lt;p&gt;Le contrat choisi n&apos;a pas de formule. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Code_formule_absent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CodeFormule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoefficientDecompte</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contractStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Date_de_retrait_souhaitee</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Depassement</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Duree_de_la_location</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>factureId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FormuleIdExterne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GammeFormule</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GammeProduit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NombreJoursRestants</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Produit_selectionne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>statusEmprunt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
