hubSide/force-app/main/default/flows/Validation_Sinistre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Alert10j</name>
        <label>Add Alert10j</label>
        <locationX>2841</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_sinistre_sup_date_de_contrat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Alert3mois</name>
        <label>Add Alert3mois</label>
        <locationX>2582</locationX>
        <locationY>1431</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_de_survenance_inferieure_10jours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Alert_nombre_echanges_d_pass_s</name>
        <label>Add Alert nombre echanges dépassés</label>
        <locationX>2154</locationX>
        <locationY>1109</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_de_sinistre_plus_de_3_mois</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AlertDateInf</name>
        <label>Add AlertDateInf</label>
        <locationX>3206</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Alerte_sur_la_typologie</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AlertDateSup</name>
        <label>Add AlertDateSup</label>
        <locationX>3026</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_sinistre_inf_date_contrat</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_AlertTypo</name>
        <label>Add AlertTypo</label>
        <locationX>3418</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>AlertToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_alertText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_Date_10j</name>
        <label>Alert Date&lt;10j</label>
        <locationX>2694</locationX>
        <locationY>1435</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN16</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date de survenance du sinistre supérieure à 10 jours de la date de déclaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date de survenance du sinistre supérieure à 10 jours de la date de déclaration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Validation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation par défaut car warning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Active_Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SansObjet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Alert10j</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_Date_3mois</name>
        <label>Alert Date +3mois</label>
        <locationX>2456</locationX>
        <locationY>1434</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN15</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date de survenance du sinistre de plus de 3 mois</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date de survenance du sinistre de plus de 3 mois</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Validation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation par défaut car warning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Active_Inactive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SansObjet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Alert3mois</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_Date_sinistre_date_contrat</name>
        <label>Alert Date sinistre &lt; date contrat</label>
        <locationX>3109</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN11</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date du sinistre inférieure au contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bloquant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date du sinistre inférieure au contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AlertDateInf</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_DateSinistre_DateContrat</name>
        <label>Alert DateSinistre &gt; DateContrat</label>
        <locationX>2953</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN17</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Date de sinistre supérieure à la date du contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bloquant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Date de sinistre supérieure à la date du contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AlertDateSup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_nombre_d_echanges_d_pass_s</name>
        <label>Alert nombre d&apos;echanges dépassés</label>
        <locationX>2153</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN18</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dépassement d&apos;échange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bloquant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Dépassement d&apos;échange</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Alert_nombre_echanges_d_pass_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Alert_Typologie</name>
        <label>Alert Typologie</label>
        <locationX>3313</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>CurrentAlert.BusinessRulesNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RGSIN10</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.SalesDiscountMotif__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Typologie sinistre différente du contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAlert.Type_Alert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bloquant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Typologie sinistre différente du contrat</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_AllMessagesConcat</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AlertTypo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AssignFranchiseLevel1</name>
        <label>ASS_AssignFranchiseLevel1</label>
        <locationX>1151</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>VAR_FranchiseAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsset.Formule__r.FranchiseAmount1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FranchiseNeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AssignFranchiseLevel2</name>
        <label>ASS_AssignFranchiseLevel2</label>
        <locationX>1511</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>VAR_FranchiseAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsset.Formule__r.FranchiseAmount2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FranchiseNeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASS_AssignFranchiseLevel3</name>
        <label>ASS_AssignFranchiseLevel3</label>
        <locationX>1642</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>VAR_FranchiseAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsset.Formule__r.FranchiseAmount3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FranchiseNeg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_alertText</name>
        <label>Assign alertText</label>
        <locationX>3495</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>caseToUpdate.AlertText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_AllMessagesConcat</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Canal_contact_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ErrorMsg</name>
        <label>Assign ErrorMsg</label>
        <locationX>1361</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Information suspension de ligne manquante sur le sinistre</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_FranchiseNeg</name>
        <label>Assign FranchiseNeg</label>
        <locationX>1955</locationX>
        <locationY>197</locationY>
        <assignmentItems>
            <assignToReference>VAR_FranchiseNeg</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>VAR_FranchiseAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenVolEquipementDeclare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMsg_assignement</name>
        <label>ErrorMsg assignement</label>
        <locationX>3626</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canal contact non renseigné sur la fiche client</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ErrorMsgAssignment</name>
        <label>ErrorMsgAssignment</label>
        <locationX>1238</locationX>
        <locationY>1376</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etat produit manquant sur l&apos;équipement sinistré</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Suspension_de_ligne_value</name>
        <label>set Suspension de ligne value</label>
        <locationX>2721</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>VAR_SuspensionLigne</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CaseToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CaseToUpdate</name>
        <label>Update CaseToUpdate</label>
        <locationX>2852</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>caseToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Date_et_Heure_de_suspension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Heure_suspension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Date_heure_du_dernier_appel_SMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HeureDernierAppel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Suspension_de_la_ligne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_SuspensionLigne</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Montant_franchise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_FranchiseAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Perte_Vol_RT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Address_Livraison_Initiale</name>
        <label>Update EquipSin Address Livraison Initiale</label>
        <locationX>4115</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Adresse_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvinceAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.postalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.ContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAsset.Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Echange</name>
        <label>Update EquipSin - Echange</label>
        <locationX>3155</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Montant_franchise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_FranchiseNeg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Perte_Vol_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Creation_MF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Id</name>
        <label>Update EquipSin - Id</label>
        <locationX>1427</locationX>
        <locationY>841</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipement_Sinistre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Typologie_Sinistre_equipement_declare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_New_Address_Livraison</name>
        <label>Update EquipSin Nouvelle Address Livraison</label>
        <locationX>4120</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Adresse_de_livraison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.city__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProvinceNew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.postalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_EquipSin_Reparation</name>
        <label>Update EquipSin - Reparation</label>
        <locationX>2063</locationX>
        <locationY>1377</locationY>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Batterie_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Batterie_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Chassis_cass_voil__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chassis_cass_voil</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Code_verrouillage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeVerrouillage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Code_verrouillage_demande__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CodeVerrouillageDemande</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Ecran_casse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ecran_casse</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Etat_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChoixEtatProduit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Geolocalisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GeolocationSiNul</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Casse_Oxydation_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.SerieNumberEC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sinistre.Equipement_client__r.Numero_de_serie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Si_autres_pr_cisez__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autres</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EquipSinToUpdate.Vitre_arriere_cassee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vitre_arriere</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_de_sinistre_plus_de_3_mois</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_sinistre</name>
        <label>Update sinistre</label>
        <locationX>3895</locationX>
        <locationY>1234</locationY>
        <assignmentItems>
            <assignToReference>caseToUpdate.CanalChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Canalcontact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.DeliveryAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Demande_de_rapatriement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DemandeRappatriementSiNul</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.Email_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseToUpdate.ContactPhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPhone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Nouvelle_adresse</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Alerte_sur_la_typologie</name>
        <label>Alerte sur la typologie ?</label>
        <locationX>3290</locationX>
        <locationY>1047</locationY>
        <defaultConnector>
            <targetReference>Assign_alertText</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_alerte_typo</name>
            <conditionLogic>(1 AND 2 AND 12) OR (3 AND 4 AND 12) OR (5 AND 6 AND 12) OR (7 AND 8 AND 12) OR (9 AND 10 AND 11 AND 12)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Casse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Vol_toute_cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robbed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Vol_Caracterise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oxidised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Oxydation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Perte__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Pertes_avec_franchise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Tout_risques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Typologie</targetReference>
            </connector>
            <label>Yup, alerte typo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canal_contact_present</name>
        <label>Canal contact présent ?</label>
        <locationX>3614</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>DEC_Nouvelle_adresse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canal_contact_absent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.CanalChannel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_en_masse_toujours</targetReference>
            </connector>
            <label>Canal contact absent</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChooseFranchise</name>
        <label>ChooseFranchise</label>
        <locationX>1512</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Assign_FranchiseNeg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Perte_sans_franchise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Perte__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Pertes_avec_franchise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenVolEquipementDeclare</targetReference>
            </connector>
            <label>Perte sans franchise</label>
        </rules>
        <rules>
            <name>FranchiseLevel1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_AssignFranchiseLevel1</targetReference>
            </connector>
            <label>FranchiseLevel1</label>
        </rules>
        <rules>
            <name>FranchiseLevel2</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Formule__r.FranchiseLevel3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_AssignFranchiseLevel2</targetReference>
            </connector>
            <label>FranchiseLevel2</label>
        </rules>
        <rules>
            <name>FranchiseLevel3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.ItemCostMatrix__r.ExitPrice__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.FranchiseLevel3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASS_AssignFranchiseLevel3</targetReference>
            </connector>
            <label>FranchiseLevel3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_MF</name>
        <label>Creation d&apos;un MF ?</label>
        <locationX>2750</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>Nombre_d_changes_d_pass_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creation_demandee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAsset.Pertes_avec_franchise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_FranchiseAmount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VAR_FranchiseAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Mouvement_financier</targetReference>
            </connector>
            <label>Creation demandée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_de_sinistre_plus_de_3_mois</name>
        <label>Date de sinistre plus de 3 mois ?</label>
        <locationX>2448</locationX>
        <locationY>1218</locationY>
        <defaultConnector>
            <targetReference>Date_de_survenance_inferieure_10jours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_plus_de_3_mois</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Date_sinistre__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Var_PlusDe3Mois</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Date_3mois</targetReference>
            </connector>
            <label>Yup, plus de 3 mois</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_de_survenance_inferieure_10jours</name>
        <label>Date de survenance inférieure à 10jours ?</label>
        <locationX>2682</locationX>
        <locationY>1290</locationY>
        <defaultConnector>
            <targetReference>Date_sinistre_sup_date_de_contrat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_inferieure_a_10jours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Date_sinistre__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Var_Moins_10_jours</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Date_10j</targetReference>
            </connector>
            <label>Yup, inférieure a 10jours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_sinistre_inf_date_contrat</name>
        <label>Date sinistre &lt; date contrat ?</label>
        <locationX>3091</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>Alerte_sur_la_typologie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_date_inf_date_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Date_sinistre__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>GetAsset.Date_debut_contrat__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Date_sinistre_date_contrat</targetReference>
            </connector>
            <label>Yup, date inf date contrat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_sinistre_sup_date_de_contrat</name>
        <label>Date sinistre sup date de contrat</label>
        <locationX>2876</locationX>
        <locationY>1192</locationY>
        <defaultConnector>
            <targetReference>Date_sinistre_inf_date_contrat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_Sinistre_Date_de_contrat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Date_sinistre__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetAsset.Date_cloture__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetAsset.Date_cloture__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_DateSinistre_DateContrat</targetReference>
            </connector>
            <label>Date Sinistre &gt; Date de contrat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_suspension_inf_reiru_a_date_dernier_appel</name>
        <label>Date suspension inférieur a date dernier appel</label>
        <locationX>2310</locationX>
        <locationY>626</locationY>
        <defaultConnector>
            <targetReference>Suspension_de_la_ligne_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Date_suspension_date_dernier_appel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Date_Heure_suspension</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>HeureDernierAppel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_Heure_suspension</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenVolEquipementDeclare</targetReference>
            </connector>
            <label>Date suspension &lt; date dernier appel</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Nouvelle_adresse</name>
        <label>DEC_Nouvelle adresse ?</label>
        <locationX>3887</locationX>
        <locationY>1045</locationY>
        <defaultConnector>
            <targetReference>Update_EquipSin_Address_Livraison_Initiale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Adresse initiale</defaultConnectorLabel>
        <rules>
            <name>Nouvelle_adresse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Changer_mes_coordonnes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_EquipSin_New_Address_Livraison</targetReference>
            </connector>
            <label>Nouvelle adresse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Informations_casse_oxydation_manquantes</name>
        <label>Informations casse/oxydation manquantes ?</label>
        <locationX>1499</locationX>
        <locationY>1068</locationY>
        <defaultConnector>
            <targetReference>Validation_en_masse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Informations_casse_oxydation_presentes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.Etat_produit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Equipement_Sinistre.Sinistre__r.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Déclaration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_de_sinistre_plus_de_3_mois</targetReference>
            </connector>
            <label>Informations casse/oxydation présentes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mass_validation</name>
        <label>Mass validation ?</label>
        <locationX>1505</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>ChooseFranchise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_mass_validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MassValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ErrorMsg</targetReference>
            </connector>
            <label>Yup, mass validation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nombre_d_changes_d_pass_s</name>
        <label>Nombre d&apos;échanges dépassés</label>
        <locationX>2452</locationX>
        <locationY>927</locationY>
        <defaultConnector>
            <targetReference>Date_de_sinistre_plus_de_3_mois</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_nombre_d_changes_d_pass_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EchangeRealises</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetAsset.Formule__r.Formule_options__r.Nombre_echanges__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_nombre_d_echanges_d_pass_s</targetReference>
            </connector>
            <label>Oui nombre d’échanges dépassés</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suspension_de_la_ligne_null</name>
        <label>Suspension de la ligne = null ?</label>
        <locationX>2534</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Update_CaseToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuspensionLigne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Suspension_de_ligne_value</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Typologie_Sinistre_equipement_declare</name>
        <label>Typologie Sinistre équipement déclaré</label>
        <locationX>1549</locationX>
        <locationY>843</locationY>
        <defaultConnectorLabel>Erreur Saisie</defaultConnectorLabel>
        <rules>
            <name>Vol_Perte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pickpocketed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Robbed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mass_validation</targetReference>
            </connector>
            <label>Vol / Perte</label>
        </rules>
        <rules>
            <name>Casse_Oxydation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broken</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oxidised</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informations_casse_oxydation_manquantes</targetReference>
            </connector>
            <label>Casse / Oxydation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_en_masse</name>
        <label>Validation en masse ?</label>
        <locationX>1492</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>ScreenCasseEquipementDeclare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_validation_en_masse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MassValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsgAssignment</targetReference>
            </connector>
            <label>Yup, validation en masse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation_en_masse_toujours</name>
        <label>Validation en masse toujours ?</label>
        <locationX>3615</locationX>
        <locationY>1234</locationY>
        <defaultConnector>
            <targetReference>Informations_complementaires</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yup_toujours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MassValidation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMsg_assignement</targetReference>
            </connector>
            <label>Yup, toujours</label>
        </rules>
    </decisions>
    <description>21/07/2021 SFAMI 2031 TSC : alert +3mois et &gt;10j en type warning</description>
    <dynamicChoiceSets>
        <name>Canalcontact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CanalChannel__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Etat produit sur l&apos;objet Equipement du Sinistre</description>
        <name>EtatProduit_EquipementDuSinistre</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Etat_produit__c</picklistField>
        <picklistObject>Equipement_sinistre__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ChosenAddress</name>
        <dataType>String</dataType>
        <expression>IF
(
   AND
   (
        {!Changer_mes_coordonnes} == true,  
        LEN({!NewAddressExpedition.street}) &gt; 0
    ) ,
   LEFT({!NewAddressExpedition.street},100)  + &quot; &quot;  + LEFT({!NewAddressExpedition.postalCode},10) + &quot; &quot;  + LEFT({!NewAddressExpedition.city},40) + &quot; &quot;  + 
   LEFT({!NewAddressExpedition.province},45)+ &quot; &quot;  + LEFT({!NewAddressExpedition.country},60), 
    {!CurrentAddress}
)</expression>
    </formulas>
    <formulas>
        <name>ChosenEmail</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Changer_mes_coordonnes} == true, LEN({!NewEmail.value}) &gt; 0 ), {!NewEmail.value}, {!GetAsset.Account.PersonEmail})</expression>
    </formulas>
    <formulas>
        <name>ChosenPhone</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Changer_mes_coordonnes} == true, LEN({!NewPhone.value}) &gt; 0), {!NewPhone.value}, {!GetAsset.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>CityAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingCity},40)</expression>
    </formulas>
    <formulas>
        <name>CityNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddressExpedition.city},40)</expression>
    </formulas>
    <formulas>
        <name>CountryAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingCountry},60)</expression>
    </formulas>
    <formulas>
        <name>CountryNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddressExpedition.country},60)</expression>
    </formulas>
    <formulas>
        <name>CurrentAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingStreet},100)&amp;&apos; &apos;&amp;LEFT({!GetAsset.Account.PersonMailingPostalCode},10)&amp;&apos; &apos;&amp;LEFT({!GetAsset.Account.PersonMailingCity},40)&amp;&apos; &apos;&amp;LEFT({!GetAsset.Account.PersonMailingCountry},60)</expression>
    </formulas>
    <formulas>
        <name>DemandeRappatriementSiNul</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!Demande_de_rapatriement} == TRUE, {!Demande_de_rapatriement} == FALSE), {!Demande_de_rapatriement}, FALSE)</expression>
    </formulas>
    <formulas>
        <description>Echange Realises + 1</description>
        <name>EchangeRealises</name>
        <dataType>Number</dataType>
        <expression>{!GetAsset.Echanges_realises__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GeolocationSiNul</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR({!Geolocalisation} == TRUE, {!Geolocalisation} == FALSE), {!Geolocalisation}, FALSE)</expression>
    </formulas>
    <formulas>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>PostalCodeAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingPostalCode},10)</expression>
    </formulas>
    <formulas>
        <name>PostalCodeNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddressExpedition.postalCode},10)</expression>
    </formulas>
    <formulas>
        <name>ProvinceAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingState},45)</expression>
    </formulas>
    <formulas>
        <name>ProvinceNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddressExpedition.province},45)</expression>
    </formulas>
    <formulas>
        <name>ReparationRealises</name>
        <dataType>Number</dataType>
        <expression>{!GetAsset.NbRepMake__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StreetAccount</name>
        <dataType>String</dataType>
        <expression>LEFT({!GetAsset.Account.PersonMailingStreet},100)</expression>
    </formulas>
    <formulas>
        <name>StreetNew</name>
        <dataType>String</dataType>
        <expression>LEFT({!NewAddressExpedition.street},100)</expression>
    </formulas>
    <formulas>
        <name>Var_Moins_10_jours</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 10</expression>
    </formulas>
    <formulas>
        <name>Var_PlusDe3Mois</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - 90</expression>
    </formulas>
    <interviewLabel>Validation Sinistre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validation Sinistre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Alert</name>
        <label>Create Alert</label>
        <locationX>4535</locationX>
        <locationY>1059</locationY>
        <inputReference>AlertToCreateList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Mouvement_financier</name>
        <label>Create Mouvement financier</label>
        <locationX>2704</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>Nombre_d_changes_d_pass_s</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cout_choisi__c</field>
            <value>
                <stringValue>Règlement par le client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_mouvement__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Montant__c</field>
            <value>
                <elementReference>VAR_FranchiseNeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sens_mouvement__c</field>
            <value>
                <stringValue>Règlement par le client</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_mouvement__c</field>
            <value>
                <stringValue>Franchise</stringValue>
            </value>
        </inputAssignments>
        <object>Mouvements_financiers__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Casse_Oxydation_RT</name>
        <label>Get Casse/Oxydation RT</label>
        <locationX>1865</locationX>
        <locationY>1377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Reparation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_a_reparer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipement_Sinistre</name>
        <label>Get Equipement Sinistré</label>
        <locationX>1196</locationX>
        <locationY>841</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAsset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sinistre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Equipement_sinistre__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Perte_Vol_RT</name>
        <label>Get Perte/Vol RT</label>
        <locationX>3045</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Echange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipement_vole_perdu</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sinistre</name>
        <label>Get Sinistre</label>
        <locationX>1080</locationX>
        <locationY>841</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Equipement_Sinistre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SinistreId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve des infos de l&apos;Asset</description>
        <name>GetAsset</name>
        <label>GetAsset</label>
        <locationX>1311</locationX>
        <locationY>841</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_EquipSin_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Sinistre.AssetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case</name>
        <label>Update case</label>
        <locationX>4303</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>Update_EquipSin</targetReference>
        </connector>
        <inputReference>caseToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EquipSin</name>
        <label>Update EquipSin</label>
        <locationX>4420</locationX>
        <locationY>1059</locationY>
        <connector>
            <targetReference>Create_Alert</targetReference>
        </connector>
        <inputReference>EquipSinToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Informations_complementaires</name>
        <label>Informations complémentaires</label>
        <locationX>3788</locationX>
        <locationY>1234</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_sinistre</targetReference>
        </connector>
        <fields>
            <name>Demande_de_rapatriement</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Demande de rapatriement</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Broken</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Oxidised</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿Les coordonnées qui seront utilisées pour le sinistre&amp;nbsp;:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Livraison</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Livraison&lt;/b&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Adresse</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Adresse actuelle de livraison :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!CurrentAddress}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Email Contact :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GetAsset.Account.PersonEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneContact</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Téléphone :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!GetAsset.Account.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Canal_contact</name>
            <choiceReferences>Canalcontact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canal contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrMsgCanalContact</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;/!\ Au vu des informations présentes sur le client, le canal contact séléctionné ci-dessus ne semble pas adapté. Pourriez-vous vérifier, ou compléter ci-dessous ? &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>GetAsset.Account.PersonEmail</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Canalcontact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Email</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GetAsset.Account.Phone</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Canalcontact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Phone</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Changer_mes_coordonnes</name>
            <dataType>Boolean</dataType>
            <fieldText>Changer les coordonnées pour ce sinistre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewAddressExpedition</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Adresse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>GetAsset.Account.PersonMailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>GetAsset.Account.PersonMailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>GetAsset.Account.PersonMailingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>GetAsset.Account.PersonMailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>GetAsset.Account.PersonMailingState</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Changer_mes_coordonnes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Téléphone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Changer_mes_coordonnes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Changer_mes_coordonnes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenCasseEquipementDeclare</name>
        <label>Casse</label>
        <locationX>1700</locationX>
        <locationY>1377</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Casse_Oxydation_RT</targetReference>
        </connector>
        <fields>
            <name>ChoixEtatProduit</name>
            <choiceReferences>EtatProduit_EquipementDuSinistre</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Etat du produit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Batterie_out</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Batterie_out__c</elementReference>
            </defaultValue>
            <fieldText>Batterie out</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Chassis_cass_voil</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Chassis_cass_voil__c</elementReference>
            </defaultValue>
            <fieldText>Chassis cassé / voilé</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Ecran_casse</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Ecran_casse__c</elementReference>
            </defaultValue>
            <fieldText>Ecran cassé</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vitre_arriere</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Vitre_arriere_cassee__c</elementReference>
            </defaultValue>
            <fieldText>Vitre arrière cassée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Autres</name>
            <defaultValue>
                <stringValue>{!Get_Equipement_Sinistre.Si_autres_pr_cisez__c}</stringValue>
            </defaultValue>
            <fieldText>Si autres, précisez :</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CodeVerrouillageDemande</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Code_verrouillage_demande__c</elementReference>
            </defaultValue>
            <fieldText>Code verrouillage demandé</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Accessory</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>HomeAppliance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CodeVerrouillage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Code_verrouillage__c</elementReference>
            </defaultValue>
            <fieldText>Code vérrouillage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Accessory</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>HomeAppliance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Geolocalisation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Equipement_Sinistre.Geolocalisation__c</elementReference>
            </defaultValue>
            <fieldText>Question géolocalisation ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;b style=&quot;color: rgb(250, 2, 2);&quot;&gt;Avez-vous pensé à demander la géolocalisation de l&apos;appareil ?&lt;/b&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Geolocalisation}=TRUE</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Accessory</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Equipement_Sinistre.Category__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>HomeAppliance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenVolEquipementDeclare</name>
        <label>Vol</label>
        <locationX>1941</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Date_suspension_inf_reiru_a_date_dernier_appel</targetReference>
        </connector>
        <fields>
            <name>MontantFranchise</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(32, 127, 199);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b&gt;Montant de la franchise :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(32, 127, 199);&quot;&gt;{!VAR_FranchiseAmount}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GetAsset.Pertes_avec_franchise__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Sinistre.Typologie_Sinistre__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Lost</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VAR_FranchiseAmount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VAR_FranchiseAmount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuspensionLigne</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Get_Sinistre.Suspension_de_la_ligne__c</elementReference>
            </defaultValue>
            <fieldText>Suspension de ligne ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HeureDernierAppel</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Sinistre.Date_heure_du_dernier_appel_SMS__c</elementReference>
            </defaultValue>
            <fieldText>Heure du dernier appel &amp; SMS</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;La date du dernier appel ne peut-être supérieur à la date du jour.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!HeureDernierAppel}&lt;
{!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>WarningDateSup</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 153, 0);&quot;&gt;La date et heure du dernier appel doit être supérieure à date heure suspension de ligne&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Date_Heure_suspension</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>HeureDernierAppel</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_Heure_suspension</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Sinistre.Date_et_Heure_de_suspension__c</elementReference>
            </defaultValue>
            <fieldText>Date / Heure suspension de la ligne</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La date de suspension ne peut-être supérieur à la date du jour.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Date_Heure_suspension}&lt;{!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SuspensionLigne</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>728</locationX>
        <locationY>823</locationY>
        <connector>
            <targetReference>Get_Sinistre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlertToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>caseToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>EquipSinToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Equipement_sinistre__c</objectType>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MassValidation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SinistreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_AllMessagesConcat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_FranchiseAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_FranchiseNeg</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_SuspensionLigne</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>SuspensionLigne</elementReference>
        </value>
    </variables>
</Flow>
